<template>
  <div>
    <div class="main-container">
      <div class="main-content">
        <!--<div class="card-body" style="padding-top: 80px; padding-right: 100px; padding-bottom: 80px; padding-left: 100px;">-->

        <!-- <div class="card-body pb-0">
          <el-button type="info" class="merek-btn" @click="changeSearch('merek')">Merek</el-button>
          <el-button type="info" class="paten-btn" @click="changeSearch('paten')">Paten</el-button>
          <el-button type="info" class="di-btn" @click="changeSearch('DI')">Desain Industri</el-button>
          <div class="float-right">
            <a style="display: block;" class="btn btn-warning round video" href="HAKi-manual.mp4"
              target="_blank">Video</a>
          </div>
          <div class="float-right">
            <a style="display: block;" class="btn btn-warning round" href="manual_dgip.pdf" target="_blank">E-book</a>
          </div>
        </div> -->

        <div class="">
          <div align="center">
            <img src="/logo-web.png"
                 style="max-width:30%; height:80px;"
            >
            <h3>SIPenKI-AI</h3>
          </div>
          <!-- DRAG AND DROP -->
          <!-- <br> -->
          <!-- KOLOM PENCARIAN -->

          <div class="inner-container">
            <div class="search-container">
              <h2>List Kategori</h2>
              <el-select
                v-model="category"
                style=""
                placeholder="Search"
                filterable
                clearable
              >
                <el-option
                  v-for="item in categoryOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </div>
            <div class="filter-container">
              <h2>Input Kategori Baru</h2>
              <el-input v-model="newCategory" placeholder="Masukkan nama kategori" />
              <image-uploader
                v-loading="loading"
                element-loading-text="Uploading Data..."
                element-loading-spinner="el-icon-loading"
                :file-image="fileImage"
                :max="1"
                style="margin-bottom: 10px; margin-top: 10px;"
                @changed="handleImages"
              />
              <el-button type="warning" @click="submitNewCategory">
                Submit
              </el-button>
            </div>
          </div>
          <div class="d-flex justify-content-center" style="margin-top: 15px;">
            <el-button style="width: 62vw; heigth: 50px; background-color: #313E4B; color: white;" @click="trainModel">
              TRAIN MODEL
            </el-button>
          </div>
        </div>
      </div>
    </div>
    <el-dialog
      :visible.sync="dialogVisible"
      width="50%"
      :show-close="false"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      style="margin-top: 15vh; border-radius: 30px;"
    >
      <p style="text-align: center; font-size: 20px;">
        Proses training model membutuhkan waktu sekitar 45 - 90 menit.
      </p>
      <p style="text-align: center; font-size: 20px;">
        Jangan refresh atau close tab ini untuk menghindari kegagalan dalam training.
      </p>
      <div class="d-flex justify-content-center">
        <el-button :loading="loadingTraining" style="border: white; font-weight: 600;">
          Loading
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import ImageUploader from '../../components/imageUploaderTraining.vue'
import api from './api'
export default {
  components: {
    ImageUploader
  },
  data() {
    return {
      category: '',
      newCategory: '',
      categoryOptions: [
        { item: 'Kepala Banteng', value: 'Kepala Banteng' },
        { item: 'Banteng', value: 'Banteng' },
        { item: 'Daun', value: 'Daun' },
        { item: 'Air', value: 'Air' },
        { item: 'Muka', value: 'Muka' },
        { item: 'Ayam', value: 'Ayam' },
        { item: 'Sepatu', value: 'Sepatu' },
        { item: 'Roti', value: 'Roti' },
        { item: 'Ikan', value: 'Ikan' },
        { item: 'Gunung', value: 'Gunung' },
        { item: 'Rumah', value: 'Rumah' },
        { item: 'Kartun', value: 'Kartun' }
      ],
      image: {},
      loading: false,
      fileImage: [],
      dialogVisible: false,
      loadingTraining: true
    }
  },
  methods: {
    async handleImages(files) {
      this.loading = true
      try {
        if (files.length < 1) {
          this.image = {}
        } else {
          const fd = new FormData()
          fd.append('upload_images', files[0])
          // console.log(...fd)
          const { data } = await api.uploadZip(fd)
          // console.log(data)
          this.image = data.file
        }
      } catch (err) {
        console.log('err', err)
      } finally {
        this.loading = false
      }
    },
    async submitNewCategory() {
      try {
        this.formValidation()
        const payload = {
          category: this.newCategory,
          filename: this.image.filename
        }
        console.log(payload)
        await api.submitCategory(payload)
        this.$message({
          message: 'Success',
          type: 'success'
        })
      } catch (error) {
        this.$message({ type: 'error', message: error })
      } finally {
        this.newCategory = ''
        this.fileImage = []
      }
    },
    formValidation() {
      if (!this.newCategory) {
        throw new Error('Harap Masukkan Nama Kategori')
      } else if (!this.image.filename) {
        throw new Error('Harap Upload File')
      }
    },
    async trainModel() {
      try {
        this.dialogVisible = true
        this.loadingTraining = true
        const { data } = await api.trainModel()
        console.log(data, 'result')
        if (data.data === 'OK') {
          this.$message({
            type: 'success',
            message: "Train Model Success",
            duration: 0,
            showClose: true
          })
        }
      } catch (error) {
        this.$message.error(error)
      } finally {
        this.loadingTraining = false
        this.dialogVisible = false
      }
    }
  }
}
</script>

<style scoped>
.main-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 15px auto;
  border: none;
  align-self: center;
  box-shadow: none;
  justify-content: center;
}

#btnsrch {
  height: 40px;
}

.merek-btn {
  background-color: #FD9B1B;
  color: white;
}

.paten-btn {
  background-color: #4682B4;
  color: white;
}

.di-btn {
  background-color: #313E5D;
  color: white;
}

a.btn.btn-warning.round.video {
  background-color: #313e5d;
  border-color: #313e5d;
  margin-left: 5px;
}

a.btn.btn-warning.round.paten {
  background-color: steelblue;
  border-color: steelblue;
  margin-left: 5px;
}

a.btn.btn-primary.round.desain {
  margin-left: 5px;
}

.el-date-editor--daterange.el-input__inner {
  width: 220px;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 150px;
}

.inner-container {
  display: grid;
  grid-template-columns: 30vw 30vw;
  justify-content: center;
  gap: 30px;
}

.search-container, .filter-container, .ai-search-container {
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 15px;
  display: flex;
}

.search-container, .filter-container {
  flex-direction: column;
}

.ai-search-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ai-search-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ai-search-container img {
  margin-top: 15px;
  object-fit: contain;
  max-width: 25vw;
  max-height: 25vw;
}

.textareaCustomClass * {
  max-height: 100px;
}
.textareaCustomClass textarea {
  max-height: 100px;
}
</style>
