<template>
  <div class="main-container">
    <div class="box-container">
      <h1>Internasional Paten Data</h1>
      <div class="list-container">
        <div
          v-for="(data, i) in pctData"
          :key="i"
          style="padding: 0px 5px"
          @click="addPCT(data)"
        >
          {{ data.split(';')[1] }}
        </div>
        <!-- <div
          v-for="(data, i) in pctData"
          :class="pct.includes(data)? 'list-item-disable' : 'list-item'"
          :key="i"
          @click="addPCT(data)"
        >
          {{ data.split(';')[1] }}
        </div> -->
      </div>
      <!-- <el-input
        class="input-pct"
        type="textarea"
        :autosize="{ minRows: 1, maxRows: 4 }"
        v-model="pct"
        placeholder="enter PCT"
      ></el-input> -->
      <div class="btn-container">
        <el-button class="btn-pct" type="primary" @click="submit">
          Submit
        </el-button>
        <el-button @click="resetPCT">
          Reset
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
import api from './api'
export default {
  data() {
    return {
      pct: [],
      pctData: [
        'AU;PCT/US1996/009885;58424/98;1997-12-05;',
        'AU;PCT/AU1997/000806;50420/98;1997-12-19;',
        'AU;PCT/US1996/009668;51448/98;1997-12-24;',
        'AU;PCT/US1996/006377;52744/98;1998-01-08;',
        'AU;PCT/JP1997/001750;51816/98;1998-02-06;',
        'AU;PCT/IB1996/001026;50352/98;1998-02-11;',
        'AU;PCT/US1996/012970;73214/98;1998-02-13;',
        'AU;PCT/JP1997/004610;54121/98;1998-02-27;',
        'AU;PCT/JP1997/004456;51370/98;1998-03-05;',
        'AU;PCT/US1996/009037;57895/98;1998-03-17;'
      ]
    }
  },
  methods: {
    addPCT(pct) {
      if (!this.pct.includes(pct)) {
        this.pct.push(pct)
      } else {
        const index = this.pct.indexOf(pct)
        this.pct.splice(index, 1)
      }
      console.log(this.pct)
    },
    resetPCT() {
      this.pct = []
    },
    async submit() {
      const payload = {
        pct: this.pctData
      }
      console.log('payload search', this.payload)
      // const { data } = await api.submitPCT(payload)
      await api.submitPCT(payload)
      // console.log('hasil', data)
      console.log('Submited PCT', this.pctData)
    }
  }
}
</script>

<style scoped>
  .main-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .input-pct {
    min-width: 50vw;
  }

  .list-container {
    background-color: white;
    max-height: 25vh;
    max-width: 30vw;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    overflow: auto;
    font-size: medium;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #999;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  .list-item {
    padding: 1px 10px;
    cursor: pointer;
  }

  .list-item:hover {
    background-color: rgb(125, 197, 245, 0.2);
  }

  .list-item-disable {
    cursor: pointer;
    padding: 1px 10px;
    background-color: rgb(125, 197, 245, 0.3);
  }

  .list-item-disable:hover {
    background-color: rgb(125, 197, 245, 0.5);
  }
</style>
