.main-container1 {
    margin-top: 80px;
}

#h6ini {
    margin-bottom: 10px;
    margin-top: 20px;
    text-decoration: underline;
}

#h62 {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 130px;
    color: #313e5e !important;
    text-decoration: underline;
}

#divCombine {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0px;
}

#box1 {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 3%;
}

.logo-h {
    max-width: 30%;
    max-height: 100%
}

.main-container {
    margin: 0 !important;
    padding: 0 !important;
}

.main-container {
    display: flex;
    align-items: center;
    background-color: white;
    /* min-height: 100vh; */
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width: 100%;
    /* margin: 10% 0 0; */
    border: none;
    align-self: center;
    box-shadow: none;
}

#btnsrch {
    height: 10%;
}

.merek-btn {
    background-color: #fd9b1b;
    color: white;
}

.paten-btn {
    background-color: #4682b4;
    color: white;
}

.di-btn {
    background-color: #313e5d;
    color: white;
}

a.btn.btn-warning.round.video {
    background-color: #313e5d;
    border-color: #313e5d;
    margin-left: 5px;
}

a.btn.btn-warning.round.paten {
    background-color: steelblue;
    border-color: steelblue;
    margin-left: 5px;
}

a.btn.btn-primary.round.desain {
    margin-left: 5px;
}

.el-date-editor--daterange.el-input__inner {
    width: 220px;
}

.card.card-table {
    padding: 1% 10% 5%;
    box-shadow: -8px 12px 12px rgb(25 42 70 / 13%);
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
    width: 140px;
}

.h6-hover:hover {
    cursor: pointer;
}

.el-select .el-input {
    width: 110px;
}

#blue-primary {
    background-color: #5a8dee;
    border-color: #5a8dee;
    color: white;
}

.combined-container {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 250px 250px 300px 50px;
    justify-content: center;
    justify-items: start;
}

.pagination-no-border {
    cursor: pointer !important;
}

.screen-card {
    margin-top: 10px;
    min-width: 177px;
    margin-bottom: 10px;
    border: 1px solid #dcdfe6;
    padding: 1rem;
}