<!-- eslint-disable vue/no-v-html -->
<template>
 <div>
  <div class="main-container1">
   <div class="main-content">
    <div v-if="page == 'penelusuran'" class="pt-0">
     <div align="center">
      <img class="logo-h" src="/logo-web.png">
      <h3 style="font-family: tebal !important">
       PENELUSURAN KI BERBASIS AI - PATEN
      </h3>
     </div>
     <!-- KOLOM PENCARIAN -->
     <div id="box1">
      <div v-if="!combinedSearch" class="d-flex justify-content-center">
       <input v-model="keyword" placeholder="Masukan Kata Pencarian..." type="text" style="width: 100%"
        class="input-with-select" @keyup.enter="enterSearch">
       <!-- <template #append> -->
       <el-button id="blue-primary" icon="el-icon-search" :loading="loading" @click="getData">
        Cari
       </el-button>
      <!-- </template>
                   </el-input> -->
      </div>
      <h6 v-if="!combinedSearch" id="h6ini" class="h6-hover" @click="showCombinedSearch">
       Pencarian Kombinasi
      </h6>
     </div>
     <div v-if="combinedSearch" id="divCombine">
      <div v-for="(data, index) in optionsQu" :key="index" class="combined-container">
       <div class="operator-input">
        <div class="form-floating">
         <!-- SELECT LOGIC -->
         <select v-if="index != 0" v-model="selectedLogicQu[index]" class="form-select"
          aria-label="Floating label select example">
          <option v-for="(pil, i) in data.logics" :key="i" :value="pil.value">
           {{ pil.text }}
          </option>
         </select>
         <!-- SELECT LOGIC -->
         <label v-if="index != 0" for="floatingSelect">Field</label>
        </div>
       </div>
       <div class="field-input">
        <div class="form-floating">
         <!-- SELECT PILIHAN -->
         <select v-model="selectedOptionsQu[index]" class="form-select" aria-label="Floating label select example">
          <option v-for="(pil, i) in data.values" :key="i" :value="pil.value">
           {{ pil.text }}
          </option>
         </select>
         <!-- SELECT PILIHAN -->
         <label for="floatingSelect">Field</label>
        </div>
       </div>
       <div class="value-input">
        <div class="form-floating">
         <!-- INPUT PILIHAN -->
         <input v-model="selectedInputQu[index]" type="text" class="form-control" style="width: 300px"
          placeholder="asdasd">
         <!-- INPUT PILIHAN -->
         <label for="floatingInput">Value</label>
        </div>
       </div>
      </div>

      <!-- <row-combination-field v-for="(data, i) in combinationQuery" :id="i" :key="i" :data="data" /> -->
      <br>
      <div class="combined-container-add">
       <el-button style="margin-right: 5px; color: #313e5e" icon="el-icon-plus" @click="pushSelectedOptionsQu">
        Tambah Field Pencarian
       </el-button>
      </div>
      <!-- <add-combined-field @addCombinedField="addCombinedField" /> -->
      <h6 id="h62" class="h6-hover" @click="showCombinedSearch">
       Pencarian Simple
      </h6>
      <br>
      <div class="combined-container" style="justify-items: end">
       <div />
       <div />
       <div>
        <el-button id="btn-reset" class="float-left btn" @click="btnReset">
         Reset
        </el-button>
        <el-button id="blue-primary" class="float-right btn btn-primary" icon="el-icon-search"
         @click="getCombinationResult">
         Cari
        </el-button>
       </div>
       <br>
      </div>
     </div>
    </div>
    <div v-if="page == 'hasil'" class="card-body pt-0 pb-0">
     <div align="center">
      <img class="logo-h" src="/logo-web.png">
      <h3>Hasil Penelusuran Paten</h3>
     </div>
    </div>
   </div>
  </div>
  <div v-if="page == 'penelusuran' && tableData.length > 0" class="card card-table">
   <span style="margin-bottom: 5px">
    <span>Per page: </span>
    <el-select v-model="pagination.perPage" style="width: 75px" placeholder="Select">
     <el-option v-for="(item, index) in pagination.perPageOptions" :key="index" :label="item" :value="item" />
    </el-select>
    <span style="margin-left: 10px">Publication Date: </span>
    <el-select v-model="publicationDateSort" style="width: 90px" placeholder="Select"
     @change="onChangePublicationDate($event)">
     <el-option label="ASC" value="ASC" />
     <el-option label="DESC" value="DESC" />
    </el-select>

    <span style="margin-left: 10px">Filing Date: </span>
    <el-select v-model="publicationDateSortFiling" style="width: 90px" placeholder="Select"
     @change="onChangeFilingDate($event)">
     <el-option label="ASC" value="ASC" />
     <el-option label="DESC" value="DESC" />
    </el-select>

    <span style="margin-left: 10px">Reception Date: </span>
    <el-select v-model="publicationDateSortReception" style="width: 90px" placeholder="Select"
     @change="onChangeReceptionDate($event)">
     <el-option label="ASC" value="ASC" />
     <el-option label="DESC" value="DESC" />
    </el-select>

   <!-- <span style="margin-left: 10px">Filters: </span>
            <el-switch v-model="filterScreen" /> -->
   </span>
   <div v-if="filterScreen" class="screen-card">
    <div class="d-flex justify-content-start">
     <span class="align-self-center">IPC:</span>
     <el-select v-model="selectedClass" style="margin-left: 10px; margin-right: 10px" multiple collapse-tags filterable
      placeholder="Select">
      <el-option v-for="item in IPCOptions" :key="item" :label="item" :value="item" />
     </el-select>
     <span class="align-self-center">Applicant:</span>
     <el-select v-model="selectedApplicant" style="margin-left: 10px; margin-right: 10px" multiple collapse-tags
      filterable placeholder="Select">
      <el-option v-for="item in applicantOptions" :key="item" :label="item" :value="item" />
     </el-select>
     <span class="align-self-center">Country:</span>
     <el-select v-model="selectedCountry" style="margin-left: 10px; margin-right: 10px" multiple collapse-tags filterable
      placeholder="Select">
      <el-option v-for="item in countryOptions" :key="item" :label="item" :value="item" />
     </el-select>
     <span class="align-self-center">Inventor:</span>
     <el-select v-model="selectedInventor" style="margin-left: 10px" multiple collapse-tags filterable
      placeholder="Select">
      <el-option v-for="item in inventorOptions" :key="item" :label="item" :value="item" />
     </el-select>
    </div>
    <div class="float-right mt-2">
     <a style="display: block" class="btn btn-primary float-right" @click.prevent="applyFilter">Apply</a>
    </div>
   </div>
   <result-card-paten v-for="data in queriedData" :key="data.id_patent" :selected-data.sync="selectedData" :data="data"
    @getCheckedData="getCheckedData" />
   <div class="col-12 d-flex justify-content-center justify-content-sm-between">
    <div class="">
     <p class="card-category">
      Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
     </p>
    </div>
    <base-pagination v-model="pagination.currentPage" class="pagination-no-border" :per-page="pagination.perPage"
     :total="total" />
   </div>
  </div>
  <div v-if="page == 'hasil'" class="card card-table">
   <div class="d-flex justify-content-end">
    <el-input v-model="searchQuery" type="search" class="mb-3 search-input" style="width: 250px"
     prefix-icon="el-icon-search" placeholder="Type to search" aria-controls="datatables" />
   </div>
   <el-table ref="table" stripe border :data="savedData">
    <el-table-column v-for="column in savedSearchColumns" :key="column.label" :min-width="column.minWidth"
     :prop="column.prop" :label="column.label" />
    <el-table-column min-width="110" align="left">
     <template slot="header">
      <div class="cell" style="padding: 0px">
       Tanggal Penelusuran
       <span class="caret-wrapper">
        <i class="sort-caret ascending" @click="sortDate('asc')" />
        <i class="sort-caret descending" @click="sortDate('desc')" />
       </span>
      </div>
     </template>
     <template slot-scope="scope">
      {{ scope.row.DATE_CREATED }}
     </template>
    </el-table-column>
    <el-table-column min-width="110" prop="COMB_NO_PERMOHONAN" label="No Permohonan">
     <template slot-scope="props">
      <span v-html="props.row.COMB_NO_PERMOHONAN" />
     </template>
    </el-table-column>
    <el-table-column prop="USER_SEARCH" label="User" />
    <el-table-column :min-width="75" align="right" label="Action">
     <div slot-scope="props">
      <el-tooltip class="item" effect="dark" content="Detail" placement="top">
       <el-button type="text" size="sm" icon @click="getSavedDetailData(props.row)">
        <i class="el-icon-edit" />
       </el-button>
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="Generate Document" placement="top">
       <el-button type="success" @click="getFileDocx(props.row)">
        <i class="el-icon-download" circle />
       </el-button>
      </el-tooltip>
     </div>
    </el-table-column>
   </el-table>
   <el-dialog width="fit-content" :title="savedSearchDetail.title" :visible.sync="dialogTableVisible" center>
    <el-table :data="savedSearchDetail.data">
     <el-table-column v-for="column in savedSearchDetailColumns" :key="column.label" :min-width="column.minWidth"
      :prop="column.prop" :label="column.label" />
    </el-table>
   </el-dialog>
   <br>
   <div slot="footer" class="col-12 d-flex justify-content-center justify-content-sm-between">
    <div class="">
     <p class="card-category">
      Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
     </p>
    </div>
    <base-pagination v-model="pagination.currentPage" class="pagination-no-border" :total="total" />
   </div>
  </div>
 </div>
</template>

<script>
import api from "./api"
import BasePagination from "../../../components/basePagination.vue"
import ResultCardPaten from "../../../components/resultCardPaten.vue"
import RowCombinationField from "../../../components/rowCombinationField.vue"
import AddCombinedField from "../../../components/addCombinedField.vue"
import { Loading, Message, MessageBox } from "element-ui"
export default {
 components: {
  BasePagination,
  ResultCardPaten,
  // RowCombinationField,
  [Message.name]: Message,
  [MessageBox.name]: MessageBox
  // AddCombinedField
 },
 data() {
  return {
   selectedOptionsQu: [],
   selectedInputQu: [],
   selectedLogicQu: [],
   optionsQu: [],
   batchNo: "",
   isProcessing: false,
   dialogVisible: false,
   keyword: "",
   pilihan: "",
   field: "",
   user: "",
   searchQuery: "",
   combinedSearch: false,
   loading: false,
   checkedStatus: [],
   filterScreen: false,
   IPCOptions: [],
   selectedClass: [],
   filteredData: [],
   filterData: false,
   filterDataFiling: false,
   filterDataReception: false,
   publicationDateSort: "",
   publicationDateSortFiling: "",
   publicationDateSortReception: "",
   countryOptions: [],
   selectedCountry: [],
   applicantOptions: [],
   selectedApplicant: [],
   inventorOptions: [],
   selectedInventor: [],
   klasifikasi: "",
   tglPermohonan1: "",
   tglPermohonan2: "",
   tglTerdaftar1: "",
   tglTerdaftar2: "",
   tglExpired1: "",
   tglExpired2: "",
   tanggalPermohonan: [],
   tanggalTerdaftar: [],
   tanggalExpired: [],
   tableData: [],
   selectedData: [],
   savedSearchDetail: {},
   total: 0,
   pagination: {
    perPage: 10,
    currentPage: 1,
    perPageOptions: [10, 25, 50, 100],
    total: 0
   },
   savedSearchData: [],
   savedSearchDataTemp: [],
   dialogTableVisible: false,
   page: "penelusuran",
   combinationQuery: [{
    field: "",
    value: "",
    operator: ""
   },
   {
    field: "",
    value: "",
    operator: ""
   }],
   combinationQuery1: [
    {
     field: "Title",
     value: "",
     operator: "="
    },
    {
     field: "Abstract",
     value: "",
     operator: "=",
     logic: "and"
    },
    {
     field: "Claim",
     value: "",
     operator: "=",
     logic: "and"
    },
    // {
    //   field: 'Description',
    //   value: '',
    //   operator: '=',
    //   logic: 'and'
    // },
    {
     field: 'Applicant Name',
     value: '',
     operator: '=',
     logic: 'and'
    },
    // {
    //   field: 'Filing Date',
    //   value: '',
    //   operator: '=',
    //   logic: 'and'
    // },
    // {
    //   field: 'Publication Date',
    //   value: '',
    //   operator: '=',
    //   logic: 'and'
    // },
    // {
    //   field: 'Registration Date',
    //   value: '',
    //   operator: '=',
    //   logic: 'and'
    // },
    // {
    //   field: 'Expired Date',
    //   value: '',
    //   operator: '=',
    //   logic: 'and'
    // },
    // {
    //   field: 'Priority Date',
    //   value: '',
    //   operator: '=',
    //   logic: 'and'
    // },
    {
     field: 'Status',
     value: '',
     operator: '=',
     logic: 'and'
    }
    // {
    //   field: 'IPC',
    //   value: '',
    //   operator: '=',
    //   logic: 'and'
    // }
   ],
   savedSearchColumns: [
    {
     prop: "NO",
     label: "No",
     minWidth: 50
    },
    // {
    //   prop: 'PENELUSURAN_ID',
    //   label: 'Penelusuran Id',
    //   minWidth: 100
    // },
    {
     prop: "PENELUSURAN_TITLE",
     label: "Pencarian",
     minWidth: 150
    }
    // {
    //   prop: 'DATE_CREATED',
    //   label: 'Tanggal Penelusuran',
    //   minWidth: 100
    // }
   ],
   savedSearchDetailColumns: [
    {
     prop: "NO",
     label: "No",
     minWidth: 75
    },
    {
     prop: "COMB_NO_PERMOHONAN",
     label: "Nomor Permohonan",
     minWidth: 175
    },
    {
     prop: "STATUS_NAME",
     label: "Status",
     minWidth: 175
    },
    {
     prop: "RECEPTION_DATE",
     label: "Tanggal Penerimaan",
     minWidth: 175
    },
    {
     prop: "PUBLICATION_NOTES",
     label: "Nomor Publikasi",
     minWidth: 150
    },
    {
     prop: "PUBLICATION_DATE",
     label: "Tanggal Publikasi",
     minWidth: 170
    }
   ]
  }
 },
 computed: {
  getForm() {
   const payload = []
   var dataPayload = {
    selectedOptionsQu: this.selectedOptionsQu,
    selectedLogicQu: this.selectedLogicQu,
    selectedInputQu: this.selectedInputQu
   }

   for (let i = 0; i < this.selectedOptionsQu.length; i++) {
    const elSOQ = this.selectedOptionsQu[i]
    const elSLQ = this.selectedLogicQu[i] === '-' ? this.selectedLogicQu[1] : this.selectedLogicQu[i]
    const elSIQ = this.selectedInputQu[i]
    payload.push({
     field: elSOQ,
     value: elSIQ,
     operator: elSLQ,
     logic: elSLQ
    })
   }

   console.log(dataPayload)

   return payload
  },
  queriedData() {
   let result = this.tableData
   if (this.filterData) {
    result = this.filteredData
   }
   if (this.filterDataFiling) {
    result = this.filteredData
   }
   if (this.filterDataReception) {
    result = this.filteredData
   }
   return result.slice(this.from, this.to)
  },
  to() {
   let highBound = this.from + this.pagination.perPage
   if (this.total < highBound) {
    highBound = this.total
   }
   return highBound
  },
  from() {
   return this.pagination.perPage * (this.pagination.currentPage - 1)
  },
  savedData() {
   const result = this.savedSearchData
   return result.slice(this.from, this.to)
  },
  payloadForInsertUpdate() {
   // const { patentId } = this.$route.params;
   // const listPermohonan = [...this.selectedData]
   const data = []
   this.selectedData.forEach((item, index) => {
    console.log(item, index)
    var isi = {
     PENELUSURAN_ID: this.batchNo,
     PENELUSURAN_TITLE: this.keyword,
     NO_PERMOHONAN: item,
     USER_SEARCH: this.user
    }
    data.push(isi)
   })
   console.log("DATA ==>>> ", data)
   // return {
   //   listPermohonan: listPermohonan,
   //   SEARCHED_TEXT: this.keyword,
   //   batchNo: this.batchNo
   // }
   // const myData = {
   //   data: [
   //     {
   //       NO_PERMOHONAN: "W00201302293",
   //       SEARCHED_TEXT: "Dasaran",
   //       batchNo: ""
   //     },
   //     {
   //       NO_PERMOHONAN: "P00201404790",
   //       SEARCHED_TEXT: "Dasaran",
   //       batchNo: ""
   //     }
   //   ]
   // }
   return data
  }
 },
 watch: {
  searchQuery(value) {
   const search = value.toLowerCase()
   const temp = JSON.parse(JSON.stringify(this.savedSearchDataTemp))
   this.savedSearchData = temp.filter(
    data =>
     data.PENELUSURAN_TITLE.toLowerCase().includes(search) ||
     data.DATE_CREATED.toLowerCase().includes(search) ||
     data.SENDING.toLowerCase().includes(search) ||
     data.USER_SEARCH.toLowerCase().includes(search)
   )
   this.savedSearchData.forEach((item, i) => {
    item.NO = i + 1
   })
   this.total = this.savedSearchData.length
  }
 },
 mounted() {
  const initOption = {
   values: [
    { value: 'TITLE', text: 'Title' },
    { value: 'SUMMARY_ID', text: 'Abstract' },
    { value: 'APPLICANTS', text: 'Applicant Name' },
    { value: 'INVENTOR', text: 'Inventor Name' },
    { value: 'CLAIM', text: 'Claim' }
    // { value: 'STATUS', text: 'Status' }
   ],
   logics: [
    { value: 'and', text: 'AND' },
    { value: 'or', text: 'OR' }
   ]
  }
  for (let i = 0; i < 3; i++) {
   if (i === 0) {
    this.selectedLogicQu[0] = '-'
    // this.selectedLogicQu[0] = this.selectedLogicQu[1]
   }
   this.optionsQu.push(initOption)
   if (i + 1 === 3) {
    this.selectedOptionsQu[0] = 'TITLE'
    this.selectedLogicQu[1] = 'and'
   }
  }
 },
 methods: {
  getSelectedOptionsQu() {
   console.log(this.selectedOptionsQu)
   console.log(this.selectedInputQu)
   console.log(this.selectedLogicQu)
  },
  pushSelectedOptionsQu() {
   const initOption = {
    values: [
     { value: 'TITLE', text: 'Title' },
     { value: 'SUMMARY_ID', text: 'Abstract' },
     { value: 'APPLICANT_NAME', text: 'Applicant Name' },
     { value: 'STATUS', text: 'Status' }
    ],
    logics: [
     { value: 'and', text: 'AND' },
     { value: 'or', text: 'OR' }
    ]
   }
   this.optionsQu.push(initOption)
  },
  btnReset() {
   // location.reload()
   this.selectedInputQu = []
  },
  testEnter() {
   console.log("enter")
  },
  changeSearch(searchType) {
   switch (searchType) {
    case "merek":
     if (this.$route.name !== "new-merek") {
      this.$router.push({ name: "new-merek" })
     }
     break
    case "paten":
     if (this.$route.name !== "new-paten") {
      this.$router.push({ name: "new-paten" })
     }
     break
    case "DI":
     if (this.$route.name !== "new-di") {
      this.$router.push({ name: "new-di" })
     }
     break
    case "patenscope":
     window.location = "https://patentscope.wipo.int/search/en/search.jsf"
     break
    case "external":
     if (this.$route.name !== "paten-pct-v2") {
      this.$router.push({ name: "paten-pct-v2" })
     }
     break
    default:
     return ""
   }
  },
  showCombinedSearch() {
   this.combinedSearch = !this.combinedSearch
   this.tableData = []
   this.keyword = ""
  },
  goToPenelusuran() {
   this.page = "penelusuran"
   this.keyword = ""
   this.tableData = []
   this.total = 0
   this.searchQuery = ""
  },
  async getSavedDetailData(params) {
   const value = params.SENDING
   try {
    const data = await api.getSavedDetail(value)
    // console.log(data)
    data.forEach((item, i) => {
     item.NO = i + 1
    })
    this.savedSearchDetail.data = data
    this.savedSearchDetail.title = `Hasil penelusuran ${params.PENELUSURAN_TITLE}`
    this.dialogTableVisible = true
   } catch (error) {
    console.log(error)
   }
  },
  enterSearch(event) {
   console.log("enter")
   if (event.keyCode === 13) {
    this.getData()
   }
  },
  async getData() {
   this.loading = true
   this.filterScreen = false
   this.filterData = false
   this.filterDataFiling = false
   this.filterDataReception = false
   this.clearFilters()
   this.publicationDateSort = "ASC"
   this.publicationDateSortFiling = "ASC"
   this.publicationDateSortReception = "ASC"
   this.keyword = this.keyword.trim()
   try {
    this.tableData = []
    this.pagination.currentPage = 1
    const payload = {
     text: this.keyword,
     kelas: [],
     status: [],
     tglPermohonan: [],
     tglTerdaftar: [],
     tglExpired: [],
     logic: "and",
     toleransi: 50,
     filters: []
    }
    console.log("payload", payload)
    const data = await api.search(payload) // prod
    /*const data = [{
     APPLICANT_COUNTRIES: "AU",
     APPLICANTS: "SIMMONS NOMINEES PTY LTD 12 LATANA STREET, DONCASTER EAST, VICTORIA, AUSTRALIA",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00198500840",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1985-02-21",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1992-11-19",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1985-02-21",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "METODA DAN KOMPISISI SABUN PELAWAN SERANGGA"
    },
    {
     APPLICANT_COUNTRIES: "NL",
     APPLICANTS: "UNILEVER N. V. BURGEMESSTER S'JACOBPLEIN 1 ROTTERDAM THE NETHERLANDS",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00198901069",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1989-12-04",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1993-03-04",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1989-12-04",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "KOMPOSISI-KOMPOSISI SABUN."
    },
    {
     APPLICANT_COUNTRIES: "US",
     APPLICANTS: "THE PROCTER &amp; GAMBLE COMPANY One Procter &amp; Gamble Plaza, Cincinnati, Ohio 45202 U.S.A",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199100671",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1991-10-29",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1992-07-01",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1991-10-29",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "KOMPOSISI SABUN BATANGAN YANG TERAREREASI DAN TERBEKUKAN YANG MENGANDUNG SUKROSA SEBAGAI PEMBANTU PENGHALUSAN DAN PEMBANTU PEMROSESAN"
    },
    {
     APPLICANT_COUNTRIES: "US",
     APPLICANTS: "THE PROCTER &amp; GAMBLE COMPANY One Procter &amp; Gamble Plaza, Cincinnati, Ohio 45202, U.S.A",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199100924",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1991-11-16",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1992-07-16",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1991-11-16",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "SABUN MANDI BATANGAN PEMBERSIH KULIT YANG LEMBUT DENGAN TAMBAHAN PELEMBUT/PELEMBAB KULIT SILIKON"
    },
    {
     APPLICANT_COUNTRIES: "US",
     APPLICANTS: "THE PROCTER &amp; GAMBLE COMPANY One Procter &amp; Gamble Plaza Cincinnati Ohio 45202 U.S.A",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199201587",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1992-02-04",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1992-07-23",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1992-01-21",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "SISTIM BAHAN PENGIKAT SABUN BATANGAN DENGAN BAHAN DASAR ALKIL SULFAT RANTAI PANJANG UNTUK MENINGKATKAN PENYABUNAN DAN PEMBUSAAN"
    },
    {
     APPLICANT_COUNTRIES: "NL",
     APPLICANTS: "UNILEVER IP HOLDINGS B.V. ",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199201771",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: "2012-01-28",
     FILING_DATE: "1992-01-28",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1992-08-06",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1992-01-28",
     REGISTRATION_DATE: "1995-11-08",
     SCORE: 0,
     STATUS: "(PA) BDH - Piutang Lunas",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) BDH - Piutang Lunas",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "KOMPOSISI-KOMPOSISI SABUN"
    },
    {
     APPLICANT_COUNTRIES: "NL",
     APPLICANTS: "UNILEVER NV.",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199201772",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: "2012-01-31",
     FILING_DATE: "1992-01-31",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1992-12-10",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1992-01-31",
     REGISTRATION_DATE: "1996-10-04",
     SCORE: 0,
     STATUS: "(PA) BDH - Piutang Lunas",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) BDH - Piutang Lunas",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "KOMPOSISI-KOMPOSISI SABUN"
    },
    {
     APPLICANT_COUNTRIES: "US",
     APPLICANTS: "THE PROCTER &amp; GAMBLE COMPANY ONE PROCTER &amp; GAMBLE PLAZA CINCINNATI, OHIO 45202, U.S.A",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199201849",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1992-01-29",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1994-07-28",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1992-01-29",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "BATANGAN-BATANGAN SABUN YANG DITINGKATKAN"
    },
    {
     APPLICANT_COUNTRIES: "NL",
     APPLICANTS: "UNILEVER NV BURGEMEESTER S'JACOBPLEIN 1 ROTTERDAM THE NETHERLANDS",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199201875",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1992-01-31",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1993-06-10",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1992-01-31",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "PROSES UNTUK MEMPERSIAPKAN KOMPOSISI YANG MENGANDUNG SABUN DAN BAHAN AKTIF PERMUKAAN ASIL ISETIONAT"
    },
    {
     APPLICANT_COUNTRIES: "CH",
     APPLICANTS: "CIBA SPECIALTY CHEMICALS HOLDING INC.¿¿",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199202024",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: "2012-01-31",
     FILING_DATE: "1992-01-31",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1993-04-01",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1992-01-31",
     REGISTRATION_DATE: "1997-09-17",
     SCORE: 0,
     STATUS: "(PA) Berakhir Masa Perlindungan",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Berakhir Masa Perlindungan",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "SUSUNAN SABUN PENCUCI CAIR"
    }]*/ // dummy
    if (data.length === 0) {
     this.loading = false
     this.$message("Sorry, no data found.")
     return
    }
    data.sort((a, b) => {
     return new Date(a.PUBLICATION_DATE) - new Date(b.PUBLICATION_DATE) // ASC
    })
    data.forEach((item, i) => {
     item.no = i + 1
     this.highlightText(item, this.keyword)
    })

    this.total = data.length
    this.tableData = data
    this.loading = false
    this.getFiltersData(data)
   } catch (error) {
    this.loading = false
    console.log(error)
   }
  },
  isDuplicate(array, specificValue) {
   return array.find(item => item === specificValue)
  },
  async goToHasil() {
   this.page = "hasil"
   try {
    const data = await api.getSavedSearchResults()
    this.total = data.length
    // console.log(data)
    data.forEach((item, i) => {
     item.NO = i + 1
     item.USER_SEARCH = item.USER_SEARCH ? item.USER_SEARCH : "-"
     const noPermohonanArr = item.COMB_NO_PERMOHONAN.split("<br>")
     let span = ""
     noPermohonanArr.forEach(item => {
      span += `<a href='http://10.2.7.36/#/table-list/patents/${item}' target='_blank'>${item}<br>`
      // span += `<a>${item}<br>`
     })
     item.COMB_NO_PERMOHONAN = span
    })
    this.savedSearchData = data
    this.savedSearchDataTemp = data
   } catch (error) {
    console.log(error)
   }
  },
  highlightText(hasil, keyword) {
   if (
    hasil.TITLE &&
    hasil.TITLE.toLowerCase().includes(keyword.toLowerCase())
   ) {
    const searchMask = keyword
    const regEx = new RegExp(searchMask, "gi")
    const result = hasil.TITLE.replace(regEx, "<mark>$&</mark>")
    hasil.TITLE = result
   }
   if (
    hasil.ENGLISH_TITLE &&
    hasil.ENGLISH_TITLE.toLowerCase().includes(keyword.toLowerCase())
   ) {
    const searchMask = keyword
    const regEx = new RegExp(searchMask, "gi")
    const result = hasil.ENGLISH_TITLE.replace(regEx, "<mark>$&</mark>")
    hasil.ENGLISH_TITLE = result
   }
   if (
    hasil.SUMMARY_ID &&
    hasil.SUMMARY_ID.toLowerCase().includes(keyword.toLowerCase())
   ) {
    const searchMask = keyword
    const regEx = new RegExp(searchMask, "gi")
    const result = hasil.SUMMARY_ID.replace(regEx, "<mark>$&</mark>")
    hasil.SUMMARY_ID = result
   }
   if (
    hasil.SUMMARY_EN &&
    hasil.SUMMARY_EN.toLowerCase().includes(keyword.toLowerCase())
   ) {
    const searchMask = keyword
    const regEx = new RegExp(searchMask, "gi")
    const result = hasil.SUMMARY_EN.replace(regEx, "<mark>$&</mark>")
    hasil.SUMMARY_EN = result
   }
  },
  scrollToTop() {
   window.scrollTo({
    top: 0,
    behavior: "smooth"
   })
  },
  async saveHandler() {
   try {
    const isConfirm = await this.$prompt(
     "Masukkan nama Anda",
     "Anda yakin untuk simpan?",
     {
      confirmButtonText: "Simpan",
      inputPattern: /.*\S.*/,
      inputErrorMessage: "Nama tidak boleh kosong."
     }
    )
    this.user = isConfirm.value
    if (isConfirm.action === "confirm") {
     console.log(JSON.stringify(this.payloadForInsertUpdate))
     this.isProcessing = true
     const result = await api.postSelectedData(this.payloadForInsertUpdate)
     console.log(result)
     Message.success("Success")
     // await this.getData()
     this.dialogVisible = false
    }
    // const msg = "Anda yakin untuk simpan?"
    // const type = "Warning"
    // const isConfirm = await MessageBox.confirm(msg, type, {
    //   type: "warning"
    // })
    // if (isConfirm) {
    //   console.log(JSON.stringify(this.payloadForInsertUpdate))
    //   this.isProcessing = true
    //   await api.postSelectedData(
    //     this.payloadForInsertUpdate
    //   )
    //   Message.success("Success")
    //   // await this.getData()
    //   this.dialogVisible = false
    // }
   } catch (error) {
    console.dir(error)
    console.dir(error.response.data.errText)
    // await this.getData();
    if (error.response) {
     const textMessage = `
              <pre style="color:black;">
                ${error.response.data.errText},
              </pre>
            `
     Message.error({
      dangerouslyUseHTMLString: true,
      message: textMessage
     })
    } else {
     Message.error(error)
    }
   } finally {
    this.selectedData = []
    this.isProcessing = false
    this.user = ""
   }
  },
  async saveData() {
   try {
    const formData = new FormData()
    this.selectedData.forEach(item => {
     formData.append("check_list[]", item)
    })
    await api.postSelectedData(this.keyword, formData)
   } catch (error) {
    console.log(error)
   } finally {
    this.selectedData = []
    await this.goToHasil()
    this.scrollToTop()
   }
  },
  getCheckedData(noPermohonan) {
   const exist = this.selectedData.find(item => item === noPermohonan.value)
   if (!exist) {
    this.selectedData.push(noPermohonan.value)
   } else if (noPermohonan.checked === false) {
    this.selectedData.splice(
     this.selectedData.indexOf(noPermohonan.value),
     1
    )
   }
  },
  async getCombinationReset() { },
  async getCombinationResult() {
   const loading = Loading.service({ fullscreen: true })
   this.filterScreen = false
   this.filterData = false
   this.filterDataFiling = false
   this.filterDataReception = false
   this.clearFilters()
   this.publicationDateSort = "ASC"
   this.publicationDateSortFiling = "ASC"
   this.publicationDateSortReception = "ASC"
   const params = this.getForm
   try {
    this.tableData = []
    this.pagination.currentPage = 1
    // const logic = 'and'
    const payload = {
     text: "",
     kelas: [],
     status: [],
     tglPermohonan: [],
     tglTerdaftar: [],
     tglExpired: [],
     logic: "and",
     toleransi: 50,
     filters: params
    }
    console.log("payload", payload)
    const data = await api.search(payload) // prod combine
    /*const data = [{
     APPLICANT_COUNTRIES: "AU",
     APPLICANTS: "SIMMONS NOMINEES PTY LTD 12 LATANA STREET, DONCASTER EAST, VICTORIA, AUSTRALIA",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00198500840",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1985-02-21",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1992-11-19",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1985-02-21",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "METODA DAN KOMPISISI SABUN PELAWAN SERANGGA"
    },
    {
     APPLICANT_COUNTRIES: "NL",
     APPLICANTS: "UNILEVER N. V. BURGEMESSTER S'JACOBPLEIN 1 ROTTERDAM THE NETHERLANDS",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00198901069",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1989-12-04",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1993-03-04",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1989-12-04",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "KOMPOSISI-KOMPOSISI SABUN."
    },
    {
     APPLICANT_COUNTRIES: "US",
     APPLICANTS: "THE PROCTER &amp; GAMBLE COMPANY One Procter &amp; Gamble Plaza, Cincinnati, Ohio 45202 U.S.A",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199100671",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1991-10-29",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1992-07-01",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1991-10-29",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "KOMPOSISI SABUN BATANGAN YANG TERAREREASI DAN TERBEKUKAN YANG MENGANDUNG SUKROSA SEBAGAI PEMBANTU PENGHALUSAN DAN PEMBANTU PEMROSESAN"
    },
    {
     APPLICANT_COUNTRIES: "US",
     APPLICANTS: "THE PROCTER &amp; GAMBLE COMPANY One Procter &amp; Gamble Plaza, Cincinnati, Ohio 45202, U.S.A",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199100924",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1991-11-16",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1992-07-16",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1991-11-16",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "SABUN MANDI BATANGAN PEMBERSIH KULIT YANG LEMBUT DENGAN TAMBAHAN PELEMBUT/PELEMBAB KULIT SILIKON"
    },
    {
     APPLICANT_COUNTRIES: "US",
     APPLICANTS: "THE PROCTER &amp; GAMBLE COMPANY One Procter &amp; Gamble Plaza Cincinnati Ohio 45202 U.S.A",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199201587",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1992-02-04",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1992-07-23",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1992-01-21",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "SISTIM BAHAN PENGIKAT SABUN BATANGAN DENGAN BAHAN DASAR ALKIL SULFAT RANTAI PANJANG UNTUK MENINGKATKAN PENYABUNAN DAN PEMBUSAAN"
    },
    {
     APPLICANT_COUNTRIES: "NL",
     APPLICANTS: "UNILEVER IP HOLDINGS B.V. ",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199201771",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: "2012-01-28",
     FILING_DATE: "1992-01-28",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1992-08-06",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1992-01-28",
     REGISTRATION_DATE: "1995-11-08",
     SCORE: 0,
     STATUS: "(PA) BDH - Piutang Lunas",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) BDH - Piutang Lunas",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "KOMPOSISI-KOMPOSISI SABUN"
    },
    {
     APPLICANT_COUNTRIES: "NL",
     APPLICANTS: "UNILEVER NV.",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199201772",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: "2012-01-31",
     FILING_DATE: "1992-01-31",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1992-12-10",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1992-01-31",
     REGISTRATION_DATE: "1996-10-04",
     SCORE: 0,
     STATUS: "(PA) BDH - Piutang Lunas",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) BDH - Piutang Lunas",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "KOMPOSISI-KOMPOSISI SABUN"
    },
    {
     APPLICANT_COUNTRIES: "US",
     APPLICANTS: "THE PROCTER &amp; GAMBLE COMPANY ONE PROCTER &amp; GAMBLE PLAZA CINCINNATI, OHIO 45202, U.S.A",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199201849",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1992-01-29",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1994-07-28",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1992-01-29",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "BATANGAN-BATANGAN SABUN YANG DITINGKATKAN"
    },
    {
     APPLICANT_COUNTRIES: "NL",
     APPLICANTS: "UNILEVER NV BURGEMEESTER S'JACOBPLEIN 1 ROTTERDAM THE NETHERLANDS",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199201875",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: null,
     FILING_DATE: "1992-01-31",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1993-06-10",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1992-01-31",
     REGISTRATION_DATE: null,
     SCORE: 0,
     STATUS: "(PA) Dianggap Ditarik Kembali (Direktur)",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Dianggap Ditarik Kembali (Direktur)",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "PROSES UNTUK MEMPERSIAPKAN KOMPOSISI YANG MENGANDUNG SABUN DAN BAHAN AKTIF PERMUKAAN ASIL ISETIONAT"
    },
    {
     APPLICANT_COUNTRIES: "CH",
     APPLICANTS: "CIBA SPECIALTY CHEMICALS HOLDING INC.¿¿",
     CLAIM_EN: null,
     CLAIM_ID: null,
     CLASSES: null,
     COMB_NO_PERMOHONAN: "P00199202024",
     ENGLISH_TITLE: null,
     EXPIRATION_DATE: "2012-01-31",
     FILING_DATE: "1992-01-31",
     INVENTOR_COUNTRIES: null,
     INVENTORS: null,
     PRIORITY_DATE: null,
     PUBLICATION_DATE: "1993-04-01",
     PUBLICATION_NOTES: null,
     RECEPTION_DATE: "1992-01-31",
     REGISTRATION_DATE: "1997-09-17",
     SCORE: 0,
     STATUS: "(PA) Berakhir Masa Perlindungan",
     STATUS_CODE: null,
     STATUS_NAME: "(PA) Berakhir Masa Perlindungan",
     SUMMARY_EN: null,
     SUMMARY_ID: null,
     TITLE: "SUSUNAN SABUN PENCUCI CAIR"
    }]*/ // dummy
    if (data.length === 0) {
     loading.close()
     this.$message("Sorry, no data found.")
     return
    }

    const text = params.filter(item => {
     return item.field === "TITLE"
    })
    if (text.length > 0) {
     // this.keyword = text[0].value
     data.sort((a, b) => {
      return new Date(a.PUBLICATION_DATE) - new Date(b.PUBLICATION_DATE) // ASC
     })
     data.forEach((item, i) => {
      item.no = i + 1
      text.forEach(title => {
       this.highlightText(item, title.value)
      })
     })
    } else {
     data.sort((a, b) => {
      return new Date(a.PUBLICATION_DATE) - new Date(b.PUBLICATION_DATE) // ASC
     })
     data.forEach((item, i) => {
      item.no = i + 1
      text.forEach(title => {
       this.highlightText(item, title.value)
      })
     })
    }
    this.total = data.length
    this.tableData = data
    loading.close()
    const newTitle = []
    params.forEach(item => {
     // Cek fieldnya, kalau
     // cek yg tanggal, kelas, sm status
     if (
      item.field === "Filing Date" ||
      item.field === "Publication Date" ||
      item.field === "Registration Date" ||
      item.field === "Expired Date" ||
      item.field === "Priority Date"
     ) {
      // array
      if (!item.value[0]) {
       item.value[0] = "*"
      } else if (!item.value[1]) {
       item.value[1] = "*"
      }
      newTitle.push(`${item.value.join(" - ")} (${item.field})`)
     } else if (item.field === "Class") {
      newTitle.push(`${item.value.join(", ")} (${item.field})`)
     } else if (item.field === "Status") {
      item.value.forEach((status, i) => {
       console.log(status)
       console.log(typeof status)
       if (status === 1) {
        item.value[i] = "Terdaftar"
       } else if (status === 2) {
        item.value[i] = "Diproses"
       }
      })
      newTitle.push(`${item.value.join(", ")} (${item.field})`)
     } else {
      newTitle.push(`${item.value} (${item.field})`)
     }
    })
    this.keyword = newTitle.join(" | ")
    this.getFiltersData(data)
   } catch (error) {
    loading.close()
    console.log(error)
   }
  },
  async getFileDoc() {
   try {
    // console.log("Getting Doc File...")
    // if (this.data.length > 0) {
    // console.log(this.data)
    await api.getDocFilePatent()
    // } else {
    // console.log("list is empty")
    // }
   } catch (err) {
    console.log("err", err)
   }
  },
  getFiltersData(data) {
   const classes = []
   const countries = []
   const inventors = []
   const applicants = []
   console.log(data)
   data.forEach((item, i) => {
    console.log(item)
    // APPLICANT
    if (item.APPLICANTS && item.APPLICANTS.includes(";")) {
     const applicantArr = item.APPLICANTS.split(";")
     applicantArr.forEach(applicant => {
      const applicant1 = applicant
       .replace(/&amp|&quot/g, "")
       .trim()
       .toUpperCase()
      let applicant2 = applicant1
      if (applicant2[applicant2.length - 1] === ")") {
       applicant2 = applicant2.substring(0, applicant2.length - 4).trim()
       if (applicant2[applicant2.length - 1] === ".") {
        applicant2 = applicant
         .substring(0, applicant2.length - 1)
         .trim()
       }
      }
      if (Number(applicant2[0])) {
       if (applicant2.includes("2)")) {
        const split = applicant2.split("2) ")
        split.forEach(item => {
         const indexFirstLetter = item.search(/[a-zA-Z]/g)
         applicant2 = item.substring(indexFirstLetter).trim()
         if (applicant2 && !this.isDuplicate(applicants, applicant2)) {
          applicants.push(applicant2)
         }
        })
       } else {
        const indexFirstLetter = applicant2.search(/[a-zA-Z]/g)
        applicant2 = applicant2.substring(indexFirstLetter)
        if (applicant2 && !this.isDuplicate(applicants, applicant2)) {
         applicants.push(applicant2)
        }
       }
      } else {
       if (
        applicant2 &&
        !this.isDuplicate(applicants, applicant2.toUpperCase())
       ) {
        applicants.push(applicant2.toUpperCase())
       }
      }
     })
    } else if (item.APPLICANTS) {
     if (!this.isDuplicate(applicants, item.APPLICANTS.toUpperCase())) {
      applicants.push(item.APPLICANTS.toUpperCase())
     }
    }
    // INVENTORS
    if (item.INVENTORS && item.INVENTORS.includes(";")) {
     const inventorArr = item.INVENTORS.split(";")
     inventorArr.forEach(inventor => {
      if (
       inventor &&
       !this.isDuplicate(inventors, inventor) &&
       inventor[0] !== "("
      ) {
       inventors.push(inventor)
      }
     })
    } else if (item.INVENTORS) {
     if (!this.isDuplicate(inventors, item.INVENTORS)) {
      inventors.push(item.INVENTORS)
     }
    }
   })
   this.countryOptions = countries.length > 0 ? countries.sort() : []
   this.IPCOptions = classes.length > 0 ? classes.sort() : []
   this.inventorOptions = inventors.length > 0 ? inventors.sort() : []
   this.applicantOptions = applicants.length > 0 ? applicants.sort() : []
  },
  applyFilter() {
   this.filterData = true
   this.filterDataFiling = true
   this.filterDataReception = true
   const filteredData = JSON.parse(JSON.stringify(this.tableData))
   for (let i = 0; i < filteredData.length; i++) {
    // Kalau filtered by class ada
    let remove = false
    if (this.selectedClass) {
     if (!filteredData[i].CLASSES) {
      remove = true
     } else {
      let noSameClass = false
      for (let j = 0; j < this.selectedClass.length; j++) {
       if (
        filteredData[i].CLASSES.includes(this.selectedClass[j]) ===
        false
       ) {
        noSameClass = true
       }
      }
      if (noSameClass === true) {
       remove = true
      }
     }
    }
    // Kalau filtered by country ada
    if (this.selectedCountry) {
     if (!filteredData[i].APPLICANT_COUNTRIES) {
      remove = true
     } else {
      let noSameCountry = false
      for (let j = 0; j < this.selectedCountry.length; j++) {
       if (
        filteredData[i].APPLICANT_COUNTRIES.includes(
         this.selectedCountry[j]
        ) === false
       ) {
        noSameCountry = true
       }
      }
      if (noSameCountry === true) {
       remove = true
      }
     }
    }

    // Kalau filtered by applicant ada
    if (this.selectedApplicant) {
     if (!filteredData[i].APPLICANTS) {
      remove = true
     } else {
      let noSameApplicant = false
      for (let j = 0; j < this.selectedApplicant.length; j++) {
       if (
        filteredData[i].APPLICANTS.toUpperCase().includes(
         this.selectedApplicant[j]
        ) === false
       ) {
        noSameApplicant = true
       }
      }
      if (noSameApplicant === true) {
       remove = true
      }
     }
    }
    // Kalau filtered by inventor ada
    if (this.selectedInventor) {
     if (!filteredData[i].INVENTORS) {
      remove = true
     } else {
      let noSameInventor = false
      for (let j = 0; j < this.selectedInventor.length; j++) {
       if (
        filteredData[i].INVENTORS.includes(this.selectedInventor[j]) ===
        false
       ) {
        noSameInventor = true
       }
      }
      if (noSameInventor === true) {
       remove = true
      }
     }
    }

    if (remove === true) {
     filteredData.splice(i, 1)
     i--
    }
   }

   filteredData.forEach((item, i) => {
    item.no = i + 1
   })
   let filterInput = false
   if (
    this.selectedClass.length > 0 ||
    this.selectedCountry.length > 0 ||
    this.selectedApplicant.length > 0 ||
    this.selectedInventor.length > 0
   ) {
    filterInput = true
   }
   if (filterInput === true && filteredData.length === 0) {
    this.filteredData = this.tableData
    this.total = this.filteredData.length
    this.$message("Sorry, no data found.")
   } else if (filterInput === false) {
    this.filteredData = this.tableData
    this.total = this.filteredData.length
   } else {
    this.filteredData = filteredData
    this.total = this.filteredData.length
   }
  },
  async getFileDocx(row) {
   try {
    // if (this.data.length > 0) {
    // console.log(this.data)
    // console.log(row.PENELUSURAN_TITLE)
    const headTitle = row.PENELUSURAN_TITLE
    const listRow = row.SENDING.replaceAll("|", ",")
    // console.log(listRow)
    await api.getDocxFilePatent(listRow, headTitle)
    // } else {
    // console.log("list is empty")
    // }
   } catch (err) {
    console.log("err", err)
   }
  },
  clearFilters() {
   this.IPCOptions = []
   this.selectedClass = []
   this.countryOptions = []
   this.selectedCountry = []
   this.applicantOptions = []
   this.selectedApplicant = []
   this.inventorOptions = []
   this.selectedInventor = []
  },
  onChangeFilingDate(sort) {
   if (sort === "ASC" && this.filterDataFiling) {
    this.filteredData.sort((a, b) => {
     return new Date(a.FILING_DATE) - new Date(b.FILING_DATE)
    })
    this.filteredData.forEach((item, i) => {
     item.no = i + 1
    })
   } else if (sort === "DESC" && this.filterDataFiling) {
    this.filteredData.sort((a, b) => {
     return new Date(b.FILING_DATE) - new Date(a.FILING_DATE)
    })
    this.filteredData.forEach((item, i) => {
     item.no = i + 1
    })
   } else if (sort === "ASC") {
    this.tableData.sort((a, b) => {
     return new Date(a.FILING_DATE) - new Date(b.FILING_DATE)
    })
    this.tableData.forEach((item, i) => {
     item.no = i + 1
    })
   } else if (sort === "DESC") {
    this.tableData.sort((a, b) => {
     return new Date(b.FILING_DATE) - new Date(a.FILING_DATE)
    })
    this.tableData.forEach((item, i) => {
     item.no = i + 1
    })
   }
  },
  onChangeReceptionDate(sort) {
   if (sort === "ASC" && this.filterDataReception) {
    this.filteredData.sort((a, b) => {
     return new Date(a.RECEPTION_DATE) - new Date(b.RECEPTION_DATE)
    })
    this.filteredData.forEach((item, i) => {
     item.no = i + 1
    })
   } else if (sort === "DESC" && this.filterDataReception) {
    this.filteredData.sort((a, b) => {
     return new Date(b.RECEPTION_DATE) - new Date(a.RECEPTION_DATE)
    })
    this.filteredData.forEach((item, i) => {
     item.no = i + 1
    })
   } else if (sort === "ASC") {
    this.tableData.sort((a, b) => {
     return new Date(a.RECEPTION_DATE) - new Date(b.RECEPTION_DATE)
    })
    this.tableData.forEach((item, i) => {
     item.no = i + 1
    })
   } else if (sort === "DESC") {
    this.tableData.sort((a, b) => {
     return new Date(b.RECEPTION_DATE) - new Date(a.RECEPTION_DATE)
    })
    this.tableData.forEach((item, i) => {
     item.no = i + 1
    })
   }
  },
  onChangePublicationDate(sort) {
   if (sort === "ASC" && this.filterData) {
    this.filteredData.sort((a, b) => {
     return new Date(a.PUBLICATION_DATE) - new Date(b.PUBLICATION_DATE)
    })
    this.filteredData.forEach((item, i) => {
     item.no = i + 1
    })
   } else if (sort === "DESC" && this.filterData) {
    this.filteredData.sort((a, b) => {
     return new Date(b.PUBLICATION_DATE) - new Date(a.PUBLICATION_DATE)
    })
    this.filteredData.forEach((item, i) => {
     item.no = i + 1
    })
   } else if (sort === "ASC") {
    this.tableData.sort((a, b) => {
     return new Date(a.PUBLICATION_DATE) - new Date(b.PUBLICATION_DATE)
    })
    this.tableData.forEach((item, i) => {
     item.no = i + 1
    })
   } else if (sort === "DESC") {
    this.tableData.sort((a, b) => {
     return new Date(b.PUBLICATION_DATE) - new Date(a.PUBLICATION_DATE)
    })
    this.tableData.forEach((item, i) => {
     item.no = i + 1
    })
   }
  },
  sortDate(type) {
   switch (type) {
    case "asc":
     this.savedSearchData.sort((a, b) => {
      const date1 = a.DATE_CREATED.split("-")
       .reverse()
       .join("-")
      const date2 = b.DATE_CREATED.split("-")
       .reverse()
       .join("-")
      return new Date(date1) - new Date(date2)
     })
     this.savedSearchData.forEach((item, i) => {
      item.NO = i + 1
     })
     break
    case "desc":
     this.savedSearchData.sort((a, b) => {
      const date1 = a.DATE_CREATED.split("-")
       .reverse()
       .join("-")
      const date2 = b.DATE_CREATED.split("-")
       .reverse()
       .join("-")
      return new Date(date2) - new Date(date1)
     })
     this.savedSearchData.forEach((item, i) => {
      item.NO = i + 1
     })
     break
    default:
     break
   }
   // data.sort((a, b) => {
   //   const date1 = a.DATE_CREATED.split('-').reverse().join('-')
   //   const date2 = b.DATE_CREATED.split('-').reverse().join('-')
   //   return date1 < date2 ? -1 : (date1 > date2 ? 1 : 0)
   // })
  },
  addCombinedField(value) {
   this.combinationQuery.push(value)
  }
 }
}
</script>

<style>
@import "./paten.css";

.combined-container {
 display: grid;
 grid-template-rows: 80px;
 grid-template-columns: 250px 250px 300px 50px;
 justify-content: center;
 justify-items: start;
}

.operator-input {
 grid-column-start: 1;
 grid-column-end: auto;
 grid-row-start: auto;
 grid-row-end: auto;
}

.field-input {
 grid-column-start: 2;
 grid-column-end: auto;
 grid-row-start: auto;
 grid-row-end: auto;
}

.value-input {
 grid-column-start: 3;
 grid-column-end: auto;
 grid-row-start: auto;
 grid-row-end: auto;
}

.query-example {
 grid-column-start: 4;
 grid-column-end: auto;
 grid-row-start: auto;
 grid-row-end: auto;
 width: 50px;
 height: 80px;
 background-color: #313e5e;
 border: 1px solid #dfe3e7;
 color: white;
 text-align: center;
}

.blue-primary {
 background-color: #313e5e;
 border-color: #313e5e;
 color: white;
}

.form-floating {
 position: relative;
}

.form-floating>.form-control,
.form-floating>.form-select {
 height: 80px;
 line-height: 1.25;
 width: 250px;
}

.form-floating>label {
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 padding: 1rem 0.75rem;
 pointer-events: none;
 border: 1px solid transparent;
 transform-origin: 0 0;
 transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.form-control {
 border-radius: 0px !important;
}

.form-select {
 border-radius: 0px;
}

@media (prefers-reduced-motion: reduce) {
 .form-floating>label {
  transition: none;
 }
}

.form-floating>.form-control {
 padding: 1rem 0.75rem;
}

.form-floating>.form-control::-moz-placeholder {
 color: transparent;
}

.form-floating>.form-control::placeholder {
 color: transparent;
}

.form-floating>.form-control:not(:-moz-placeholder-shown) {
 padding-top: 1.625rem;
 padding-bottom: 0.625rem;
}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
 padding-top: 1.625rem;
 padding-bottom: 0.625rem;
}

.form-floating>.form-control:-webkit-autofill {
 padding-top: 1.625rem;
 padding-bottom: 0.625rem;
}

.form-floating>.form-select {
 padding-top: 1.625rem;
 padding-bottom: 0.625rem;
}

.form-floating>.form-control:not(:-moz-placeholder-shown)~label {
 opacity: 0.65;
 transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
 opacity: 0.65;
 transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating>.form-control:-webkit-autofill~label {
 opacity: 0.65;
 transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

#f-ctrl {
 background-color: #313e5e;
 border-color: #313e5e;
 color: white;
 margin-top: 20px;
}

.combined-container-add {
 display: grid;
 grid-template-rows: 40px;
 grid-template-columns: 250px 600px;
 justify-content: center;
 justify-items: start;
 margin-bottom: 10px;
}
</style>
