#h-img {
    max-width: 30%;
    height: 80px;
}

.text-h {
    font-family: tebal !important
}

.el-radio__label {
    color: #000000 !important;
}

#box-1 {
    width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main-container {
    display: flex;
    align-items: center;
    min-height: 85vh;
    background-color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 15px auto;
    border: none;
    align-self: center;
    box-shadow: none;
    justify-content: center;
}

#btnsrch {
    height: 40px;
}

.merek-btn {
    background-color: #fd9b1b;
    color: white;
}

.paten-btn {
    background-color: #4682b4;
    color: white;
}

.di-btn {
    background-color: #313e5d;
    color: white;
}

a.btn.btn-warning.round.video {
    background-color: #313e5d;
    border-color: #313e5d;
    margin-left: 5px;
}

a.btn.btn-warning.round.paten {
    background-color: steelblue;
    border-color: steelblue;
    margin-left: 5px;
}

a.btn.btn-primary.round.desain {
    margin-left: 5px;
}

.el-date-editor--daterange.el-input__inner {
    width: 220px;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
    width: 150px;
}

.inner-container {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: minmax(200px, auto);
    justify-content: center;
    gap: 30px;
}

.search-container,
.filter-container,
.ai-search-container {
    /* border: 1px solid black; */
    border-radius: 0.25rem;
    /* padding: 15px; */
    /* display: flex; */
}

.search-container,
.filter-container {
    flex-direction: column;
}

.ai-search-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ai-search-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ai-search-container img {
    margin-top: 15px;
    object-fit: contain;
    max-width: 25vw;
    max-height: 25vw;
}

.textareaCustomClass * {
    max-height: 100px;
}

.textareaCustomClass textarea {
    max-height: 100px;
}