<template>
  <div>
    <div class="main-container">
      <div class="main-content">
        <div>
          <div align="center">
            <img id="h-img" src="/logo-web.png">
            <h3 class="text-h">
              PENELUSURAN KI BERBASIS AI - MEREK
            </h3>
          </div>
          <div id="box-1">
            <image-uploader ref="imgUploader" :max="1" :style="{ maxWidth: 'none' }" @deleteImage="deleteImage"
              @changed="handleImagesNew" />
          </div>

          <div class="inner-container">
            <div class="search-container">
              <div class="form-group mr-2">
                <el-input v-model="disclaimer" style="height: 40px" type="text"
                  placeholder="Pencarian Nama Merek (Termasuk Data Disclaimer)" clearable />
              </div>
              <div class="form-group mr-2">
                <el-input v-model="text" style="height: 40px" type="text" placeholder="Pencarian Phonetic" clearable />
              </div>
              <div class="form-group mr-2">
                <!-- <el-select v-model="selectedKelas" multiple collapse-tags placeholder="Kelas" :style="{ width: '100%' }"> -->
                <el-select v-model="selectedKelas" collapse-tags placeholder="Kelas" :style="{ width: '100%' }">
                  <!-- <el-option class="select-primary" selected value="semua">Semua Kelas</el-option> -->
                  <el-option class="select-primary" selected value="1">1</el-option>
                  <el-option class="select-primary" value="2">2</el-option>
                  <el-option class="select-primary" value="3">3</el-option>
                  <el-option class="select-primary" value="4">4</el-option>
                  <el-option class="select-primary" value="5">5</el-option>
                  <el-option class="select-primary" value="6">6</el-option>
                  <el-option class="select-primary" value="7">7</el-option>
                  <el-option class="select-primary" value="8">8</el-option>
                  <el-option class="select-primary" value="9">9</el-option>
                  <el-option class="select-primary" value="10">10</el-option>
                  <el-option class="select-primary" value="11">11</el-option>
                  <el-option class="select-primary" value="12">12</el-option>
                  <el-option class="select-primary" value="13">13</el-option>
                  <el-option class="select-primary" value="14">14</el-option>
                  <el-option class="select-primary" value="15">15</el-option>
                  <el-option class="select-primary" value="16">16</el-option>
                  <el-option class="select-primary" value="17">17</el-option>
                  <el-option class="select-primary" value="18">18</el-option>
                  <el-option class="select-primary" value="19">19</el-option>
                  <el-option class="select-primary" value="20">20</el-option>
                  <el-option class="select-primary" value="21">21</el-option>
                  <el-option class="select-primary" value="22">22</el-option>
                  <el-option class="select-primary" value="23">23</el-option>
                  <el-option class="select-primary" value="24">24</el-option>
                  <el-option class="select-primary" value="25">25</el-option>
                  <el-option class="select-primary" value="26">26</el-option>
                  <el-option class="select-primary" value="27">27</el-option>
                  <el-option class="select-primary" value="28">28</el-option>
                  <el-option class="select-primary" value="29">29</el-option>
                  <el-option class="select-primary" value="30">30</el-option>
                  <el-option class="select-primary" value="31">31</el-option>
                  <el-option class="select-primary" value="32">32</el-option>
                  <el-option class="select-primary" value="33">33</el-option>
                  <el-option class="select-primary" value="34">34</el-option>
                  <el-option class="select-primary" value="35">35</el-option>
                  <el-option class="select-primary" value="36">36</el-option>
                  <el-option class="select-primary" value="37">37</el-option>
                  <el-option class="select-primary" value="38">38</el-option>
                  <el-option class="select-primary" value="39">39</el-option>
                  <el-option class="select-primary" value="40">40</el-option>
                  <el-option class="select-primary" value="41">41</el-option>
                  <el-option class="select-primary" value="42">42</el-option>
                  <el-option class="select-primary" value="43">43</el-option>
                  <el-option class="select-primary" value="44">44</el-option>
                  <el-option class="select-primary" value="45">45</el-option>
                  <!-- <el-option v-for="(data, i) in merekClassData" :key="i" :value="data.CLASS_ID" class="select-primary">
          {{ `Kelas ${data.CLASS_NO}` }}
         </el-option> -->
                </el-select>
              </div>
              <div class="form-group mr-2">
                <el-input v-model="uraian" type="textarea" class="textareaCustomClass"
                  :style="{ minHeight: '40px', maxHeight: '100px' }" placeholder="Jenis Barang"
                  :autosize="{ minRows: 1, maxRows: 2 }" />
              </div>
            </div>
            <div class="filter-container">
              <div class="form-group mr-2">
                <el-date-picker v-model="tglPermohonan2" type="date" placeholder="Tanggal Permohonan"
                  style="width: 100%" />
              </div>

              <el-input v-model="noPermohonan" :style="{
                height: '40px',
                width: '100%',
                display: 'inline-block',
              }" type="text" placeholder="No. Permohonan" clearable />

              <div class="d-flex justify-content-center mx-2 my-2">
                <div class="col-3">
                  Status:
                </div>
                <div class="col">
                  <div class="form-check form-check-inline">
                    <input id="inlineCheckbox1" v-model="checkedStatus" class="form-check-input" type="checkbox"
                      value="1">
                    <label class="form-check-label" for="inlineCheckbox1">Berakhir</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input id="inlineCheckbox2" v-model="checkedStatus" class="form-check-input" type="checkbox"
                      value="2">
                    <label class="form-check-label" for="inlineCheckbox2">Dalam Proses</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input id="inlineCheckbox3" v-model="checkedStatus" class="form-check-input" type="checkbox"
                      value="3">
                    <label class="form-check-label" for="inlineCheckbox3">Dibatalkan</label>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center mx-2 my-2">
                <div class="col-3">
                </div>
                <div class="col">
                  <div class="form-check form-check-inline">
                    <input id="inlineCheckbox4" v-model="checkedStatus" class="form-check-input" type="checkbox"
                      value="4">
                    <label class="form-check-label" for="inlineCheckbox4">Didaftar</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input id="inlineCheckbox5" v-model="checkedStatus" class="form-check-input" type="checkbox"
                      value="6">
                    <label class="form-check-label" for="inlineCheckbox5">Dimigrasikan</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input id="inlineCheckbox6" v-model="checkedStatus" class="form-check-input" type="checkbox"
                      value="5">
                    <label class="form-check-label" for="inlineCheckbox6">Dihapus</label>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center mx-2 my-2">
                <div class="col-3">
                </div>
                <div class="col">
                  <div class="form-check form-check-inline">
                    <input id="inlineCheckbox7" v-model="checkedStatus" class="form-check-input" type="checkbox"
                      value="8">
                    <label class="form-check-label" for="inlineCheckbox7">Ditolak</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input id="inlineCheckbox8" v-model="checkedStatus" class="form-check-input" type="checkbox"
                      value="7">
                    <label class="form-check-label" for="inlineCheckbox8">Ditarik Kembali</label>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center mx-2 my-2">
                <div class="col-3">
                  Metode:
                </div>
                <div class="col">
                  <el-radio v-model="searchMethod" label="Shape">
                    Shape
                  </el-radio>
                  <el-radio v-model="searchMethod" label="Color">
                    Color
                  </el-radio>
                  <el-radio v-model="searchMethod" label="Concept">
                    Concept
                  </el-radio>
                </div>
              </div>

              <div class="btn-container" style="float: right; margin-top: 50px">
                <el-button style="background-color: #ced4da" @click="clearSearch">
                  Reset
                </el-button>
                <el-button style="background-color: #313e5e !important" icon="el-icon-search" type="primary"
                  @click="getDataMerek">
                  Cari
                </el-button>
              </div>

              <div class="btn-container" />
            </div>
            <div class="ai-search-container">
              <div class="form-group mr-2">
                <div class="ai-search-btn-container" />
                <img v-if="
                  noPermohonan.length > 0 && noPermohonanSearchImg.length > 0
                " :src="permohonanaImgSrc">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <index :result-data="finalData" :uraian="uraian" :searched-by="searchedBy" :search-method="searchMethod" />
  </div>
</template>

<style>
@import "./merek.css";
</style>

<script>
import api from "./api"
import ImageUploader from "../../../components/imageUploader.vue"
import Index from "../../search-result-merek/index.vue"
import { Loading } from "element-ui"
import axios from 'axios'

export default {
  components: {
    ImageUploader,
    Index
  },
  data() {
    return {
      loadingSearch: {},
      image: {},
      noPermohonan: "",
      text: "",
      searchedBy: {
        phonetic: false,
        image: false
      },
      disclaimer: "",
      uraian: "",
      tglPermohonan: [],
      tglTerdaftar: [],
      tglExpired: [],
      tglPermohonan1: "",
      tglPermohonan2: "",
      tglTerdaftar1: "",
      tglTerdaftar2: "",
      tglExpired1: "",
      tglExpired2: "",
      searchMethod: "",
      checkedStatus: [],
      merekClassData: [],
      selectedKelas: ["semua"],
      dataSearchedByText: [],
      isSearchByImage: false,
      searchResult: [],
      finalData: [],
      minScore: 75,
      scoreSelect: [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 40, 30],
      noPermohonanSearchImg: ""
    }
  },
  computed: {
    payloadForSearch() {
      return {
        fileName: this.image,
        noPermohonan: this.noPermohonan,
        text: this.text,
        kelas: this.selectedKelas,
        status: this.checkedStatus,
        tglPermohonan: this.tglPermohonan,
        tglTerdaftar: this.tglTerdaftar,
        tglExpired: this.tglExpired,
        logic: "and",
        toleransi: this.minScore,
        disclaimer: this.disclaimer
      }
    },
    permohonanaImgSrc() {
      // http://103.150.169.71:8483/application-brand/noper/image-1637641324.jpg
      console.log(
        process.env.VUE_APP_PHP_API +
        "/application-brand/noper/" +
        this.noPermohonanSearchImg
      )
      return (
        process.env.VUE_APP_PHP_API +
        "/application-brand/noper/" +
        this.noPermohonanSearchImg
      )
    }
  },
  watch: {
    noPermohonan(data) {
      if (data.length < 1) {
        this.noPermohonanSearchImg = ""
      }
    }
  },
  mounted() {
    this.getClass()
    // this.testMixSearchApi()
  },
  methods: {
    changeSearch(searchType) {
      switch (searchType) {
        case "merek":
          if (this.$route.name !== "new-merek") {
            this.$router.push({ name: "new-merek" })
          }
          break
        case "paten":
          if (this.$route.name !== "new-paten") {
            this.$router.push({ name: "new-paten" })
          }
          break
        case "DI":
          if (this.$route.name !== "new-di") {
            this.$router.push({ name: "new-di" })
          }
          break
        default:
          return ""
      }
    },
    async getDataMerek() {
      try {
        this.loadingSearch = Loading.service({
          fullscreen: true,
          lock: true
        })

        if (
          Object.keys(this.image).length === 0 &&
          this.image.constructor === Object
        ) {
          this.image = ""
        }

        const payload = {
          fileName: this.image,
          noPermohonan: this.noPermohonan,
          text: this.text,
          kelas: this.selectedKelas,
          status: this.checkedStatus,
          uraian:this.uraian,
          tglPermohonan: [
            this.changeDateFormat(this.tglPermohonan1),
            this.changeDateFormat(this.tglPermohonan2)
          ],
          tglTerdaftar: [
            this.changeDateFormat(this.tglTerdaftar1),
            this.changeDateFormat(this.tglTerdaftar2)
          ],
          tglExpired: [
            this.changeDateFormat(this.tglExpired2),
            this.changeDateFormat(this.tglExpired2)
          ],
          logic: "and",
          toleransi: this.minScore,
          disclaimer: this.disclaimer,
          imageMethod: this.searchMethod
        }

        console.log(payload)

        if (payload.fileName === "" && this.searchMethod === "") {
          // CARI BIASA
          const { data } = await api.search_no_image(payload)
          const newData = data
          this.searchResult = []
          this.finalData = []
          this.searchResult = newData
          this.finalData = newData
          this.searchedBy = {
            image: false,
            phonetic: false
          }
          this.checkSearchedBy()
          if (this.searchResult.length > 0) {
            const resultTab = this.$el.querySelector(".result-card-container")
            setTimeout(() => {
              this.loadingSearch.close()
              resultTab.scrollIntoView({ behavior: "smooth" })
            }, 500)
          } else {
            this.loadingSearch.close()
            this.$message("Sorry, no data found.")
            return
          }
          // CARI BIASA

        } else {
          var base64nya = '';
          const imageFile = this.$refs.imgUploader.files[0]

          const reader = new FileReader()
          reader.onload = async () => {
           const base64String = reader.result;
           base64nya = base64String.replace(/^data:image\/[a-z]+;base64,/, '')
           console.log('Base64 string:', base64nya);
          // Perform further processing with the base64 string if needed
          const formData = new FormData()
          formData.append('image', imageFile)
          // axios.post(`${process.env.VUE_APP_PYTHON_API_NEW}/find_merek/${this.searchMethod}`, formData, {
          /*axios.post(`${process.env.VUE_APP_NODE_API_NEW}/test/base64/${this.searchMethod}`, {
           base64:base64nya
          }, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
            .then(async response => {*/
              Object.assign(payload, {
               base64:base64nya
              });
              // Object.assign(payload, response.data);
              console.log(payload)
              const { data } = await api.search_by_image(payload)
              const newData = data
              console.log(newData)
              this.searchResult = []
              this.finalData = []
              this.searchResult = newData
              this.finalData = newData
              this.searchedBy = {
                image: false,
                phonetic: false
              }
              this.checkSearchedBy()
              if (this.searchResult.length > 0) {
                const resultTab = this.$el.querySelector(".result-card-container")
                setTimeout(() => {
                  this.loadingSearch.close()
                  resultTab.scrollIntoView({ behavior: "smooth" })
                }, 500)
              } else {
                this.loadingSearch.close()
                this.$message("Sorry, no data found.")
                return
              }
            /*})
            .catch(error => {
              alert(JSON.stringify(error))
            })*/
          // Perform
          };
          reader.readAsDataURL(imageFile);
        }
      } catch (error) {
        console.log(error)
        this.loadingSearch.close()
      }
    },
    clearSearch() {
      this.noPermohonan = ""
      this.searchMethod = ""
      this.text = ""
      this.selectedKelas = ["semua"]
      this.tglPermohonan2 = ""
      this.disclaimer = ""
      this.uraian = ""
      this.checkedStatus = ""
      this.image = {}
      this.$refs.imgUploader.reset()
    },
    changeDateFormat(arrDate) {
      if (!arrDate) {
        return null
      } else {
        const changeDate = arrDate.toLocaleDateString("id-ID").split("/")
        return `${changeDate[0]}-${changeDate[1]}-${changeDate[2]}`
      }
    },
    async handleImagesNew(files) {
      try {
        if (files.length < 1) {
          this.image = {}
        } else {
          const fd = new FormData()
          fd.append("image", files[0])
          this.image = files[0].name

         // base64
         /*const file = files[0]
         if (file) {
           const reader = new FileReader()

           reader.onload = () => {
             const base64String = reader.result
             console.log('Base64 string:', base64String)
             // Perform further processing with the base64 string if needed
           }
           reader.readAsDataURL(file)
          }*/
         // base64
        }
      } catch (err) {
        console.log("err", err)
      }
    },
    async getClass() {
      try {
        const { data } = await api.getMerekClass()
        console.log(data);
        // this.merekClassData = data
        this.merekClassData = [
          { CLASS_ID: 1 },
          { CLASS_ID: 2 },
        ]
      } catch (error) {
        console.log(error)
      }
    },
    deleteImage() {
      this.image = {}
    },
    checkSearchedBy() {
      if (this.image) {
        this.searchedBy.image = true
      }
      if (this.text) {
        this.searchedBy.phonetic = true
      }
    }
  }
}
</script>
