<template>
  <div class="result-card-container" :style="{ minHeight: resultData.length > 0? '100vh' : 'none' }">
    <!-- <detail-result-card-merek :uraian="uraian" :data="detail" v-if="isDetailVisible" @closeDetailCard="closeDetailCard" @addBandingItem="addBandingItem"/> -->
    <div v-if="data.length > 0" ref="cardContainer" class="card-container">
      <detail-result-card-inline-merek
        v-if="isDetailVisible"
        id="detailCard"
        class="grid-item"
        :style="{ gridRowStart, gridRowEnd: `span 1` }"
        :data="detail"
        :uraian="uraian"
        @closeDetailCard="closeDetailCard"
        @addBandingItem="addBandingItem"
      />
      <result-card-merek v-for="(d, idx) in data" :key="d.ID" :searched-by="searchedBy" :data="d" :index="idx" @clicked="setDetailData" />
    </div>
    <div v-if="dataTemp.length > resultsToShow || data.length > resultsToShow">
      <div class="d-flex justify-content-center mb-5">
        <el-button type="info" style="background-color: white; color: grey; border-color: grey;" @click="loadMore">
          See More
        </el-button>
      </div>
    </div>
    <banding-tab-merek v-if="banding.length > 0" :data="banding" @showDetailBanding="setDetailBanding" @clearBanding="clearBanding" />
  </div>
</template>

<script>
// import axios from 'axios'
import BandingTabMerek from '../../components/bandingTabMerekV2.1.vue'
import DetailResultCardInlineMerek from '../../components/detailResultCardInlineMerekV2.1.vue'
// import DetailResultCardMerek from '../../components/detailResultCardMerek.vue'
import ResultCardMerek from '../../components/resultCardMerekV2.1.vue'

export default {
  components: {
    // BandingTab,
    // SearchPage,
    // ResultCard,
    // DetailResultCard,
    ResultCardMerek,
    // DetailResultCardMerek,
    DetailResultCardInlineMerek,
    BandingTabMerek
  },
  props: {
    resultData: Array,
    uraian: String,
    searchedBy: Object
  },
  data() {
    return {
      data: [],
      dataTemp: [],
      detail: {},
      banding: [],
      isDetailVisible: false,
      gridRowStart: null,
      gridRowEnd: null,
      resultsToShow: 0
    }
  },
  watch: {
    resultData(data) {
      this.resultsToShow = 24
      this.dataTemp = JSON.parse(JSON.stringify(data))
      this.data = data.slice(0, this.resultsToShow)
      this.isDetailVisible = false
      this.detail = {}
      // this.getData(data)
    }
  },
  mounted() {
    this.setBandingMounted()
    // this.getDataDummy()
    // this.getData()
    // this.showData()
  },
  methods: {
    getData(data) {
      this.data = data
    },
    setDetailData(data) {
      console.log('data', data)
      this.gridRowStart = data.row + 1
      this.gridRowEnd = data.row + 4
      this.detail = data
      this.isDetailVisible = true
      setTimeout(() => {
        this.getResultCardEl(data.cardIndex, data.row)
      }, 200)
    },
    setDetailBanding(data) {
      this.isDetailVisible = true
      this.detail = {}
    },
    closeDetailCard() {
      this.isDetailVisible = false
      this.detail = {}
    },
    filterBandingData(data) {
      const result = this.banding.findIndex(d => d.APPLICATION_ID === data.APPLICATION_ID && d.FILENAMED === data.FILENAMED)
      if (result === -1) {
        return false
      } else {
        return true
      }
    },
    setBandingMounted() {
      const bandingSession = sessionStorage.getItem('MerekBandingSave')
      console.log('BandingSession', JSON.parse(bandingSession))
      if (bandingSession) {
        this.banding = JSON.parse(bandingSession)
      }
    },
    addBandingItem(data) {
      const duplicate = this.filterBandingData(data)
      if (!duplicate) {
        // console.log(data, 'ini data yg mau dimasukin')
        this.banding.push(data)
        const newBandingSave = [...this.banding]
        sessionStorage.setItem('MerekBandingSave', JSON.stringify(newBandingSave))
      } else {
        // console.log('banding duplicate')
      }
    },
    showData() {
      console.log(this.resultData.length > 0)
      console.log(this.resultData)
    },
    clearBanding() {
      this.banding = []
      sessionStorage.removeItem('MerekBandingSave')
    },
    getResultCardEl(index, row) {
      console.log()
      const cardEl = this.$refs.cardContainer.children[index + 1]
      const detailCard = this.$el.querySelector('#detailCard')
      const ofsetTop = cardEl.offsetTop - cardEl.scrollTop
      console.log('cardEl', cardEl)
      console.log('detailCard', detailCard)
      console.log('ofset top', ofsetTop)
      if (row === 1) {
        cardEl.scrollIntoView(true, { behavior: 'smooth' })
      } else {
        // window.scrollTo({ top: ofsetTop - window.innerHeight / 3, behavior: 'smooth' })
        detailCard.scrollIntoView({ behavior: 'smooth' })
      }
      // cardEl.scrollIntoView({ behavior: 'auto', block: 'center', inline: 'center' })
    },
    loadMore() {
      this.resultsToShow += 24
      this.data = this.dataTemp.slice(0, this.resultsToShow)
    }
  }
}
</script>

<style scoped>
  .result-card-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow: auto;
  }

  .grid-item {
    grid-column-start: 1;
    grid-column-end: span 6;
    /* grid-row-start: 2; */
    /* grid-row-end: 5; */
  }

  .card-container {
    padding: 80px 0px;
    display: grid;
    grid-template-columns: repeat(6, minmax(177px, 13vw));
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 20px;
    justify-content: center;
    overflow: auto;
  }
</style>
