<template>
  <div>
    <div class="main-container">
      <div class="main-content">
        <div class="card-body" style="position: absolute; top: 0px; width: 98vw;">
          <!-- <el-button
            type="info"
            class="merek-btn"
            @click="changeSearch('merek')"
          >Merek</el-button>
          <el-button
            type="info"
            class="paten-btn"
            @click="changeSearch('paten')"
          >Paten</el-button>
          <el-button
            type="info"
            class="di-btn"
            @click="changeSearch('DI')"
          >Desain Industri</el-button> -->
          <div class="float-right">
            <a v-if="page == 'penelusuran'" style="display: block;" class="btn btn-primary round video"
               @click.prevent="goToHasil"
            >Hasil Penelusuran</a>
            <a v-if="page == 'hasil'" style="display: block;" class="btn btn-warning round"
               @click.prevent="goToPenelusuran"
            >Pelusuran Paten</a>
          </div>
        </div>
        <div v-if="page == 'penelusuran'" class="mb-2 pt-0">
          <div align="center">
            <img src="/logo-web.png" style="max-width:30%; max-height:100%;">
            <h3>Penelusuran Paten</h3>
          </div>
          <!-- KOLOM PENCARIAN -->
          <div style="padding-left: 10%; padding-right: 10%; margin-top: 3%">
            <div v-if="!combinedSearch" class="d-flex justify-content-center">
              <el-input v-model="keyword" type="textarea" autosize style="margin-top: 4px;" placeholder="Kata Pencarian" />
              <el-button id="blue-primary" style="margin-left: 10px; height: 40px;" icon="el-icon-search" circle
                         :loading="loading" @click="getData"
              />
            </div>
            <h6 class="h6-hover" style="margin-bottom: 10px; margin-top: 10px;" @click="showCombinedSearch">
              Pencarian
              Kombinasi
            </h6>
          </div>
          <div v-if="combinedSearch" style="padding-left: 10%; padding-right: 10%; margin-top: 0px">
            <row-combination-field v-for="(data, i) in combinationQuery" :id="i" :key="i"
                                   :data="data"
            />
            <br>
            <div class="combined-container" style="justify-items: end;">
              <div />
              <div />
              <div>
                <button class="float-right btn btn-primary" @click="getCombinationResult">
                  Search
                </button>
              </div>
              <br>
            </div>
          </div>
        </div>
        <div v-if="page == 'hasil'" class="card-body pt-0 pb-0">
          <div align="center">
            <img src="/logo-web.png" style="max-width:30%; max-height:100%;">
            <h3>Hasil Penelusuran Paten</h3>
          </div>
        </div>
      </div>
    </div>
    <div v-if="page == 'penelusuran' && tableData.length > 0" class="card card-table">
      <span style="margin-bottom: 5px;">
        <span>Per page: </span>
        <el-select v-model="pagination.perPage" style="width: 75px;" placeholder="Select">
          <el-option v-for="(item, index) in pagination.perPageOptions" :key="index" :label="item" :value="item" />
        </el-select>
        <span style="margin-left: 10px">Publication Date: </span>
        <el-select v-model="publicationDateSort" style="width: 90px;" placeholder="Select"
                   @change="onChangePublicationDate($event)"
        >
          <el-option label="ASC" value="ASC" />
          <el-option label="DESC" value="DESC" />
        </el-select>
        <span style="margin-left: 10px;">Filters: </span>
        <el-switch v-model="filterScreen" />
      </span>
      <div v-if="filterScreen" class="screen-card">
        <div class="d-flex justify-content-start">
          <span class="align-self-center">IPC:</span>
          <el-select v-model="selectedClass" style="margin-left: 10px; margin-right: 10px" multiple collapse-tags filterable
                     placeholder="Select"
          >
            <el-option v-for="item in IPCOptions" :key="item" :label="item" :value="item" />
          </el-select>
          <span class="align-self-center">Applicant:</span>
          <el-select v-model="selectedApplicant" style="margin-left: 10px; margin-right: 10px" multiple collapse-tags
                     filterable placeholder="Select"
          >
            <el-option v-for="item in applicantOptions" :key="item" :label="item" :value="item" />
          </el-select>
          <span class="align-self-center">Country:</span>
          <el-select v-model="selectedCountry" style="margin-left: 10px; margin-right: 10px" multiple collapse-tags
                     filterable placeholder="Select"
          >
            <el-option v-for="item in countryOptions" :key="item" :label="item" :value="item" />
          </el-select>
          <span class="align-self-center">Inventor:</span>
          <el-select v-model="selectedInventor" style="margin-left: 10px;" multiple collapse-tags filterable
                     placeholder="Select"
          >
            <el-option v-for="item in inventorOptions" :key="item" :label="item" :value="item" />
          </el-select>
        </div>
        <div class="float-right mt-2">
          <a style="display: block;" class="btn btn-primary float-right" @click.prevent="applyFilter">Apply</a>
        </div>
      </div>
      <result-card-paten v-for="data in queriedData" :key="data.id_patent" :selected-data.sync="selectedData"
                         :data="data" @getCheckedData="getCheckedData"
      />
      <div class="float-right">
        <!-- <el-button
          type="primary float-right"
          style="margin-bottom: 10px"
          @click="saveHandler()"
          :loading="isProcessing"
        >
          Simpan
        </el-button> -->
        <!-- <a
          style="display: block; margin-bottom: 10px;"
          class="btn btn-primary float-right"
          @click.prevent="saveHandler"
          >Simpan</a
        > -->
      </div>
      <div class="
          col-12
          d-flex
          justify-content-center justify-content-sm-between
        "
      >
        <div class="">
          <p class="card-category">
            Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
          </p>
        </div>
        <base-pagination v-model="pagination.currentPage" class="pagination-no-border" :per-page="pagination.perPage"
                         :total="total"
        />
      </div>
    </div>
    <div v-if="page == 'hasil'" class="card card-table">
      <!-- <div class="float-right">
        <a
          style="display: block;"
          class="btn btn-primary round video float-right"
          @click.prevent="getFileDoc"
          >Generate File</a
        >
      </div>
      <br> -->
      <el-table ref="table" stripe border :data="savedData">
        <el-table-column v-for="column in savedSearchColumns" :key="column.label" :min-width="column.minWidth"
                         :prop="column.prop" :label="column.label"
        />
        <el-table-column min-width="110" prop="COMB_NO_PERMOHONAN" label="No Permohonan">
          <template slot-scope="props">
            <span v-html="props.row.COMB_NO_PERMOHONAN" />
          </template>
        </el-table-column>
        <el-table-column :min-width="75" align="right" label="Action">
          <div slot-scope="props">
            <el-tooltip class="item" effect="dark" content="Detail" placement="top">
              <el-button type="text" size="sm" icon @click="getSavedDetailData(props.row)">
                <i class="el-icon-edit" />
              </el-button>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="Generate Document" placement="top">
              <el-button type="success" @click="getFileDocx(props.row)">
                <i class="el-icon-download" circle />
              </el-button>
            </el-tooltip>
          </div>
        </el-table-column>
      </el-table>
      <el-dialog width="fit-content" :title="savedSearchDetail.title" :visible.sync="dialogTableVisible" center>
        <el-table :data="savedSearchDetail.data">
          <el-table-column v-for="column in savedSearchDetailColumns" :key="column.label" :min-width="column.minWidth"
                           :prop="column.prop" :label="column.label"
          />
        </el-table>
      </el-dialog>
      <br>
      <div slot="footer" class="
          col-12
          d-flex
          justify-content-center justify-content-sm-between
        "
      >
        <div class="">
          <p class="card-category">
            Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
          </p>
        </div>
        <base-pagination v-model="pagination.currentPage" class="pagination-no-border" :total="total" />
      </div>
    </div>
  </div>
</template>

<script>
import api from './api'
import BasePagination from '../../components/basePaginationV2.vue'
import ResultCardPaten from '../../components/resultCardPatenV2.vue'
import RowCombinationField from '../../components/rowCombinationFieldV2.vue'
import { Loading, Message, MessageBox } from 'element-ui'
export default {
 components: {
  BasePagination,
  ResultCardPaten,
  RowCombinationField,
  [Message.name]: Message,
  [MessageBox.name]: MessageBox
 },
 data() {
  return {
   batchNo: '',
   isProcessing: false,
   dialogVisible: false,
   keyword: '',
   pilihan: '',
   field: '',
   combinedSearch: false,
   loading: false,
   checkedStatus: [],
   filterScreen: false,
   IPCOptions: [],
   selectedClass: [],
   filteredData: [],
   filterData: false,
   publicationDateSort: '',
   countryOptions: [],
   selectedCountry: [],
   applicantOptions: [],
   selectedApplicant: [],
   inventorOptions: [],
   selectedInventor: [],
   klasifikasi: '',
   tglPermohonan1: '',
   tglPermohonan2: '',
   tglTerdaftar1: '',
   tglTerdaftar2: '',
   tglExpired1: '',
   tglExpired2: '',
   tanggalPermohonan: [],
   tanggalTerdaftar: [],
   tanggalExpired: [],
   tableData: [],
   selectedData: [],
   savedSearchDetail: {},
   total: 0,
   pagination: {
    perPage: 10,
    currentPage: 1,
    perPageOptions: [10, 25, 50, 100],
    total: 0
   },
   savedSearchData: [],
   dialogTableVisible: false,
   page: 'penelusuran',
   combinationQuery: [
    {
     field: 'Title',
     value: '',
     operator: '='
    },
    {
     field: 'Abstract',
     value: '',
     operator: '=',
     logic: 'and'
    },
    {
     field: 'Claim',
     value: '',
     operator: '=',
     logic: 'and'
    },
    {
     field: 'Description',
     value: '',
     operator: '=',
     logic: 'and'
    },
    {
     field: 'Applicant Name',
     value: '',
     operator: '=',
     logic: 'and'
    },
    {
     field: 'Filing Date',
     value: '',
     operator: '=',
     logic: 'and'
    },
    {
     field: 'Publication Date',
     value: '',
     operator: '=',
     logic: 'and'
    },
    {
     field: 'Registration Date',
     value: '',
     operator: '=',
     logic: 'and'
    },
    {
     field: 'Expired Date',
     value: '',
     operator: '=',
     logic: 'and'
    },
    {
     field: 'Priority Date',
     value: '',
     operator: '=',
     logic: 'and'
    },
    {
     field: 'Status',
     value: '',
     operator: '=',
     logic: 'and'
    },
    {
     field: 'IPC',
     value: '',
     operator: '=',
     logic: 'and'
    }
   ],
   savedSearchColumns: [
    {
     prop: 'NO',
     label: 'No',
     minWidth: 50
    },
    // {
    //   prop: 'PENELUSURAN_ID',
    //   label: 'Penelusuran Id',
    //   minWidth: 100
    // },
    {
     prop: 'PENELUSURAN_TITLE',
     label: 'Pencarian',
     minWidth: 150
    },
    {
     prop: 'DATE_CREATED',
     label: 'Tanggal Penelusuran',
     minWidth: 100
    }
   ],
   savedSearchDetailColumns: [
    {
     prop: 'NO',
     label: 'No',
     minWidth: 75
    },
    {
     prop: 'COMB_NO_PERMOHONAN',
     label: 'Nomor Permohonan',
     minWidth: 175
    },
    {
     prop: 'STATUS_NAME',
     label: 'Status',
     minWidth: 175
    },
    {
     prop: 'RECEPTION_DATE',
     label: 'Tanggal Penerimaan',
     minWidth: 175
    },
    {
     prop: 'PUBLICATION_NOTES',
     label: 'Nomor Publikasi',
     minWidth: 150
    },
    {
     prop: 'PUBLICATION_DATE',
     label: 'Tanggal Publikasi',
     minWidth: 170
    }
   ]
  }
 },
 computed: {
  getForm() {
   const payload = []
   const query = JSON.parse(JSON.stringify(this.combinationQuery))
   query.forEach(item => {
    if ((item.value && item.field === 'Filing Date') || (item.value && item.field === 'Publication Date') || (item.value && item.field === 'Registration Date') || (item.value && item.field === 'Expired Date')) {
     const tgl = item.value.split(', ')
     const tgl1 = tgl[0] === '*' ? null : tgl[0]
     const tgl2 = tgl[1] === '*' ? null : tgl[1]
     item.value = [tgl1, tgl2]
     payload.push(item)
    }
    if (item.value && item.field === 'Priority Date') {
     const tgl = item.value.split(', ')
     const tgl1 = tgl[0] === '*' ? null : tgl[0]
     const tgl2 = tgl[1] === '*' ? null : tgl[1]
     item.value = [tgl1, tgl2]
     payload.push(item)
    }
    if ((item.value && item.field === 'Title') || (item.value && item.field === 'Abstract') || (item.value && item.field === 'Claim') || (item.value && item.field === 'Description')) {
     payload.push(item)
    }
    if ((item.value && item.field === 'Applicant Name')) {
     payload.push(item)
    }
    if (item.value && item.field === 'IPC') {
     const multiple = item.value.includes(', ')
     item.field = 'Class'
     if (multiple) {
      item.value = item.value.split(', ')
      payload.push(item)
     } else {
      item.value = [item.value]
      payload.push(item)
     }
    }
    if (item.value && item.field === 'Status') {
     const multiple = item.value.includes(', ')
     if (multiple) {
      item.value = item.value.split(', ')
      for (let i = 0; i < item.value.length; i++) {
       if (item.value[i] === 'Terdaftar') {
        item.value[i] = 1
       } else if (item.value[i] === 'Diproses') {
        item.value[i] = 2
       }
      }
      payload.push(item)
     } else {
      switch (item.value) {
       case 'Terdaftar':
        item.value = [1]
        payload.push(item)
        break
       case 'Diproses':
        item.value = [2]
        payload.push(item)
        break
       default:
        break
      }
     }
    }
   })
   // console.log('filters', payload)
   return payload
  },
  queriedData() {
   let result = this.tableData
   if (this.filterData) {
    result = this.filteredData
   }
   return result.slice(this.from, this.to)
  },
  to() {
   let highBound = this.from + this.pagination.perPage
   if (this.total < highBound) {
    highBound = this.total
   }
   return highBound
  },
  from() {
   return this.pagination.perPage * (this.pagination.currentPage - 1)
  },
  savedData() {
   const result = this.savedSearchData
   return result.slice(this.from, this.to)
  },
  payloadForInsertUpdate() {
   // const { patentId } = this.$route.params;
   // const listPermohonan = [...this.selectedData]
   const data = []
   this.selectedData.forEach((item, index) => {
    console.log(item, index)
    var isi = {
     PENELUSURAN_ID: this.batchNo,
     PENELUSURAN_TITLE: this.keyword,
     NO_PERMOHONAN: item
    }
    data.push(isi)
   })
   console.log("DATA ==>>> ", data)
   // return {
   //   listPermohonan: listPermohonan,
   //   SEARCHED_TEXT: this.keyword,
   //   batchNo: this.batchNo
   // }
   // const myData = {
   //   data: [
   //     {
   //       NO_PERMOHONAN: "W00201302293",
   //       SEARCHED_TEXT: "Dasaran",
   //       batchNo: ""
   //     },
   //     {
   //       NO_PERMOHONAN: "P00201404790",
   //       SEARCHED_TEXT: "Dasaran",
   //       batchNo: ""
   //     }
   //   ]
   // }
   return data
  }
 },
 methods: {
  changeSearch(searchType) {
   switch (searchType) {
    case 'merek':
     if (this.$route.name !== 'merek-search-result') {
      this.$router.push({ name: 'merek-search-result' })
     }
     break
    case 'paten':
     if (this.$route.name !== 'Paten') {
      this.$router.push({ name: 'Paten' })
     }
     break
    case 'DI':
     if (this.$route.name !== 'desain-industri-search-result') {
      this.$router.push({ name: 'desain-industri-search-result' })
     }
     break
    default:
     return ''
   }
  },
  showCombinedSearch() {
   this.combinedSearch = !this.combinedSearch
   this.tableData = []
   this.keyword = ''
  },
  goToPenelusuran() {
   this.page = 'penelusuran'
   this.keyword = ''
   this.tableData = []
   this.total = 0
  },
  async getSavedDetailData(params) {
   const value = params.SENDING
   try {
    const data = await api.getSavedDetail(value)
    // console.log(data)
    data.forEach((item, i) => {
     item.NO = i + 1
    })
    this.savedSearchDetail.data = data
    this.savedSearchDetail.title = `Hasil penelusuran ${params.PENELUSURAN_TITLE}`
    this.dialogTableVisible = true
   } catch (error) {
    console.log(error)
   }
  },
  async getData() {
   this.loading = true
   this.filterScreen = false
   this.filterData = false
   this.clearFilters()
   this.publicationDateSort = 'ASC'
   this.keyword = this.keyword.trim()
   try {
    this.tableData = []
    this.pagination.currentPage = 1
    const payload = {
     text: this.keyword,
     kelas: [],
     status: [],
     tglPermohonan: [],
     tglTerdaftar: [],
     tglExpired: [],
     logic: "and",
     toleransi: 50,
     filters: []
    }
    console.log('payload', payload)
    const data = await api.search(payload)
    if (data.length === 0) {
     this.loading = false
     this.$message('Sorry, no data found.')
     return
    }
    data.sort((a, b) => {
     return new Date(a.PUBLICATION_DATE) - new Date(b.PUBLICATION_DATE) // ASC
    })
    data.forEach((item, i) => {
     item.no = i + 1
     this.highlightText(item, this.keyword)
    })

    this.total = data.length
    this.tableData = data
    this.loading = false
    this.getFiltersData(data)
   } catch (error) {
    this.loading = false
    console.log(error)
   }
  },
  isDuplicate(array, specificValue) {
   return array.find(item => item === specificValue)
  },
  async goToHasil() {
   this.page = 'hasil'
   try {
    const data = await api.getSavedSearchResults()
    this.total = data.length
    // console.log(data)
    data.forEach((item, i) => {
     item.NO = i + 1
     const noPermohonanArr = item.COMB_NO_PERMOHONAN.split('<br>')
     let span = ''
     noPermohonanArr.forEach(item => {
      span += `<a href='http://103.150.169.71:8084/#/table-list/patents/${item}' target='_blank'>${item}<br>`
     })
     item.COMB_NO_PERMOHONAN = span
    })
    this.savedSearchData = data
   } catch (error) {
    console.log(error)
   }
  },
  highlightText(hasil, keyword) {
   if (hasil.TITLE && hasil.TITLE.toLowerCase().includes(keyword.toLowerCase())) {
    const searchMask = keyword
    const regEx = new RegExp(searchMask, "gi")
    const result = hasil.TITLE.replace(regEx, '<mark>$&</mark>')
    hasil.TITLE = result
   }
   if (hasil.ENGLISH_TITLE && hasil.ENGLISH_TITLE.toLowerCase().includes(keyword.toLowerCase())) {
    const searchMask = keyword
    const regEx = new RegExp(searchMask, "gi")
    const result = hasil.ENGLISH_TITLE.replace(regEx, '<mark>$&</mark>')
    hasil.ENGLISH_TITLE = result
   }
   if (hasil.SUMMARY_ID && hasil.SUMMARY_ID.toLowerCase().includes(keyword.toLowerCase())) {
    const searchMask = keyword
    const regEx = new RegExp(searchMask, "gi")
    const result = hasil.SUMMARY_ID.replace(regEx, '<mark>$&</mark>')
    hasil.SUMMARY_ID = result
   }
   if (hasil.SUMMARY_EN && hasil.SUMMARY_EN.toLowerCase().includes(keyword.toLowerCase())) {
    const searchMask = keyword
    const regEx = new RegExp(searchMask, "gi")
    const result = hasil.SUMMARY_EN.replace(regEx, '<mark>$&</mark>')
    hasil.SUMMARY_EN = result
   }
  },
  scrollToTop() {
   window.scrollTo({
    top: 0,
    behavior: 'smooth'
   })
  },
  async saveHandler() {
   try {
    const msg = "Anda yakin untuk simpan ?"
    const type = "Warning"
    const isConfirm = await MessageBox.confirm(msg, type, {
     type: "warning"
    })
    if (isConfirm) {
     console.log(JSON.stringify(this.payloadForInsertUpdate))
     this.isProcessing = true
     await api.postSelectedData(
      this.payloadForInsertUpdate
     )
     Message.success("Success")
     // await this.getData()
     this.dialogVisible = false
    }
   } catch (error) {
    console.dir(error)
    console.dir(error.response.data.errText)
    // await this.getData();
    if (error.response) {
     const textMessage = `
            <pre style="color:black;">
              ${error.response.data.errText},
            </pre>
          `
     Message.error({
      dangerouslyUseHTMLString: true,
      message: textMessage
     })
    } else {
     Message.error(error)
    }
   } finally {
    this.selectedData = []
    this.isProcessing = false
   }
  },
  async saveData() {
   try {
    const formData = new FormData()
    this.selectedData.forEach(item => {
     formData.append('check_list[]', item)
    })
    await api.postSelectedData(this.keyword, formData)
   } catch (error) {
    console.log(error)
   } finally {
    this.selectedData = []
    await this.goToHasil()
    this.scrollToTop()
   }
  },
  getCheckedData(noPermohonan) {
   const exist = this.selectedData.find(item => item === noPermohonan.value)
   if (!exist) {
    this.selectedData.push(noPermohonan.value)
   } else if (noPermohonan.checked === false) {
    this.selectedData.splice(this.selectedData.indexOf(noPermohonan.value), 1)
   }
  },
  async getCombinationResult() {
   const loading = Loading.service({ fullscreen: true })
   this.filterScreen = false
   this.filterData = false
   this.clearFilters()
   this.publicationDateSort = 'ASC'
   const params = this.getForm
   try {
    this.tableData = []
    this.pagination.currentPage = 1
    // const logic = 'and'
    const payload = {
     text: '',
     kelas: [],
     status: [],
     tglPermohonan: [],
     tglTerdaftar: [],
     tglExpired: [],
     logic: "and",
     toleransi: 50,
     filters: params
    }
    console.log('payload', payload)
    const data = await api.search(payload)
    if (data.length === 0) {
     loading.close()
     this.$message('Sorry, no data found.')
     return
    }
    const text = params.filter(item => {
     return item.field === 'Title'
    })
    if (text.length > 0) {
     // this.keyword = text[0].value
     data.sort((a, b) => {
      return new Date(a.PUBLICATION_DATE) - new Date(b.PUBLICATION_DATE) // ASC
     })
     data.forEach((item, i) => {
      item.no = i + 1
      text.forEach(title => {
       this.highlightText(item, title.value)
      })
     })
    } else {
     data.sort((a, b) => {
      return new Date(a.PUBLICATION_DATE) - new Date(b.PUBLICATION_DATE) // ASC
     })
     data.forEach((item, i) => {
      item.no = i + 1
     })
    }
    this.total = data.length
    this.tableData = data
    loading.close()
    const newTitle = []
    params.forEach(item => {
     // Cek fieldnya, kalau
     // cek yg tanggal, kelas, sm status
     if (item.field === 'Filing Date' || item.field === 'Publication Date' || item.field === 'Registration Date' || item.field === 'Expired Date' || item.field === 'Priority Date') {
      // array
      if (!item.value[0]) {
       item.value[0] = "*"
      } else if (!item.value[1]) {
       item.value[1] = "*"
      }
      newTitle.push(`${item.value.join(' - ')} (${item.field})`)
     } else if (item.field === 'Class') {
      newTitle.push(`${item.value.join(', ')} (${item.field})`)
     } else if (item.field === 'Status') {
      item.value.forEach((status, i) => {
       console.log(status)
       console.log(typeof status)
       if (status === 1) {
        item.value[i] = 'Terdaftar'
       } else if (status === 2) {
        item.value[i] = 'Diproses'
       }
      })
      newTitle.push(`${item.value.join(', ')} (${item.field})`)
     } else {
      newTitle.push(`${item.value} (${item.field})`)
     }
    })
    this.keyword = newTitle.join(' | ')
    this.getFiltersData(data)
   } catch (error) {
    loading.close()
    console.log(error)
   }
  },
  async getFileDoc() {
   try {
    // console.log("Getting Doc File...")
    // if (this.data.length > 0) {
    // console.log(this.data)
    await api.getDocFilePatent()
    // } else {
    // console.log("list is empty")
    // }
   } catch (err) {
    console.log("err", err)
   }
  },
  getFiltersData(data) {
   const classes = []
   const countries = []
   const inventors = []
   const applicants = []
   data.forEach((item, i) => {
    // CLASS
    if (item.CLASSES && item.CLASSES.includes(',')) {
     const classArr = item.CLASSES.split(',')
     classArr.forEach(ipc => {
      if (!this.isDuplicate(classes, ipc)) {
       classes.push(ipc)
      }
     })
    } else if (item.CLASSES) {
     if (!this.isDuplicate(classes, item.CLASSES)) {
      classes.push(item.CLASSES)
     }
    }
    // APPLICANT COUNTRY
    if (item.APPLICANT_COUNTRIES && item.APPLICANT_COUNTRIES.includes(';')) {
     const countryArr = item.APPLICANT_COUNTRIES.split(';')
     countryArr.forEach(country => {
      if (country && !this.isDuplicate(countries, country)) {
       countries.push(country)
      }
     })
    } else if (item.APPLICANT_COUNTRIES) {
     if (!this.isDuplicate(countries, item.APPLICANT_COUNTRIES)) {
      countries.push(item.APPLICANT_COUNTRIES)
     }
    }
    // APPLICANT
    if (item.APPLICANTS && item.APPLICANTS.includes(';')) {
     const applicantArr = item.APPLICANTS.split(';')
     applicantArr.forEach(applicant => {
      const applicant1 = applicant.replace(/&amp|&quot/g, '').trim().toUpperCase()
      let applicant2 = applicant1
      if (applicant2[applicant2.length - 1] === ')') {
       applicant2 = applicant2.substring(0, applicant2.length - 4).trim()
       if (applicant2[applicant2.length - 1] === '.') {
        applicant2 = applicant.substring(0, applicant2.length - 1).trim()
       }
      }
      if (Number(applicant2[0])) {
       if (applicant2.includes('2)')) {
        const split = applicant2.split('2) ')
        split.forEach(item => {
         const indexFirstLetter = item.search(/[a-zA-Z]/g)
         applicant2 = item.substring(indexFirstLetter).trim()
         if (applicant2 && !this.isDuplicate(applicants, applicant2)) {
          applicants.push(applicant2)
         }
        })
       } else {
        const indexFirstLetter = applicant2.search(/[a-zA-Z]/g)
        applicant2 = applicant2.substring(indexFirstLetter)
        if (applicant2 && !this.isDuplicate(applicants, applicant2)) {
         applicants.push(applicant2)
        }
       }
      } else {
       if (applicant2 && !this.isDuplicate(applicants, applicant2.toUpperCase())) {
        applicants.push(applicant2.toUpperCase())
       }
      }
     })
    } else if (item.APPLICANTS) {
     if (!this.isDuplicate(applicants, item.APPLICANTS.toUpperCase())) {
      applicants.push(item.APPLICANTS.toUpperCase())
     }
    }
    // INVENTORS
    if (item.INVENTORS && item.INVENTORS.includes(';')) {
     const inventorArr = item.INVENTORS.split(';')
     inventorArr.forEach(inventor => {
      if (inventor && !this.isDuplicate(inventors, inventor) && inventor[0] !== '(') {
       inventors.push(inventor)
      }
     })
    } else if (item.INVENTORS) {
     if (!this.isDuplicate(inventors, item.INVENTORS)) {
      inventors.push(item.INVENTORS)
     }
    }
   })
   this.countryOptions = countries.length > 0 ? countries.sort() : []
   this.IPCOptions = classes.length > 0 ? classes.sort() : []
   this.inventorOptions = inventors.length > 0 ? inventors.sort() : []
   this.applicantOptions = applicants.length > 0 ? applicants.sort() : []
  },
  applyFilter() {
   this.filterData = true
   const filteredData = JSON.parse(JSON.stringify(this.tableData))
   for (let i = 0; i < filteredData.length; i++) {
    // Kalau filtered by class ada
    let remove = false
    if (this.selectedClass) {
     if (!filteredData[i].CLASSES) {
      remove = true
     } else {
      let noSameClass = false
      for (let j = 0; j < this.selectedClass.length; j++) {
       if (filteredData[i].CLASSES.includes(this.selectedClass[j]) === false) {
        noSameClass = true
       }
      }
      if (noSameClass === true) {
       remove = true
      }
     }
    }
    // Kalau filtered by country ada
    if (this.selectedCountry) {
     if (!filteredData[i].APPLICANT_COUNTRIES) {
      remove = true
     } else {
      let noSameCountry = false
      for (let j = 0; j < this.selectedCountry.length; j++) {
       if (filteredData[i].APPLICANT_COUNTRIES.includes(this.selectedCountry[j]) === false) {
        noSameCountry = true
       }
      }
      if (noSameCountry === true) {
       remove = true
      }
     }
    }

    // Kalau filtered by applicant ada
    if (this.selectedApplicant) {
     if (!filteredData[i].APPLICANTS) {
      remove = true
     } else {
      let noSameApplicant = false
      for (let j = 0; j < this.selectedApplicant.length; j++) {
       if (filteredData[i].APPLICANTS.toUpperCase().includes(this.selectedApplicant[j]) === false) {
        noSameApplicant = true
       }
      }
      if (noSameApplicant === true) {
       remove = true
      }
     }
    }
    // Kalau filtered by inventor ada
    if (this.selectedInventor) {
     if (!filteredData[i].INVENTORS) {
      remove = true
     } else {
      let noSameInventor = false
      for (let j = 0; j < this.selectedInventor.length; j++) {
       if (filteredData[i].INVENTORS.includes(this.selectedInventor[j]) === false) {
        noSameInventor = true
       }
      }
      if (noSameInventor === true) {
       remove = true
      }
     }
    }

    if (remove === true) {
     filteredData.splice(i, 1)
     i--
    }
   }

   filteredData.forEach((item, i) => {
    item.no = i + 1
   })
   let filterInput = false
   if (this.selectedClass.length > 0 || this.selectedCountry.length > 0 || this.selectedApplicant.length > 0 || this.selectedInventor.length > 0) {
    filterInput = true
   }
   if (filterInput === true && filteredData.length === 0) {
    this.filteredData = this.tableData
    this.total = this.filteredData.length
    this.$message('Sorry, no data found.')
   } else if (filterInput === false) {
    this.filteredData = this.tableData
    this.total = this.filteredData.length
   } else {
    this.filteredData = filteredData
    this.total = this.filteredData.length
   }
  },
  async getFileDocx(row) {
   try {
    // if (this.data.length > 0) {
    // console.log(this.data)
    // console.log(row.PENELUSURAN_TITLE)
    const headTitle = row.PENELUSURAN_TITLE
    const listRow = row.SENDING.replaceAll('|', ',')
    // console.log(listRow)
    await api.getDocxFilePatent(listRow, headTitle)
    // } else {
    // console.log("list is empty")
    // }
   } catch (err) {
    console.log("err", err)
   }
  },
  clearFilters() {
   this.IPCOptions = []
   this.selectedClass = []
   this.countryOptions = []
   this.selectedCountry = []
   this.applicantOptions = []
   this.selectedApplicant = []
   this.inventorOptions = []
   this.selectedInventor = []
  },
  onChangePublicationDate(sort) {
   if (sort === 'ASC' && this.filterData) {
    this.filteredData.sort((a, b) => {
     return new Date(a.PUBLICATION_DATE) - new Date(b.PUBLICATION_DATE)
    })
    this.filteredData.forEach((item, i) => {
     item.no = i + 1
    })
   } else if (sort === 'DESC' && this.filterData) {
    this.filteredData.sort((a, b) => {
     return new Date(b.PUBLICATION_DATE) - new Date(a.PUBLICATION_DATE)
    })
    this.filteredData.forEach((item, i) => {
     item.no = i + 1
    })
   } else if (sort === 'ASC') {
    this.tableData.sort((a, b) => {
     return new Date(a.PUBLICATION_DATE) - new Date(b.PUBLICATION_DATE)
    })
    this.tableData.forEach((item, i) => {
     item.no = i + 1
    })
   } else if (sort === 'DESC') {
    this.tableData.sort((a, b) => {
     return new Date(b.PUBLICATION_DATE) - new Date(a.PUBLICATION_DATE)
    })
    this.tableData.forEach((item, i) => {
     item.no = i + 1
    })
   }
  }
 }
}
</script>

<style scoped>
.main-container {
 display: flex;
 align-items: center;
 background-color: white;
 /* min-height: 100vh; */
}

.main-content {
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 100%;
 width: 100%;
 margin: 10% 0 0;
 border: none;
 align-self: center;
 box-shadow: none;
}

#btnsrch {
 height: 10%;
}

.merek-btn {
 background-color: #FD9B1B;
 color: white;
}

.paten-btn {
 background-color: #4682B4;
 color: white;
}

.di-btn {
 background-color: #313E5D;
 color: white;
}

a.btn.btn-warning.round.video {
 background-color: #313e5d;
 border-color: #313e5d;
 margin-left: 5px;
}

a.btn.btn-warning.round.paten {
 background-color: steelblue;
 border-color: steelblue;
 margin-left: 5px;
}

a.btn.btn-primary.round.desain {
 margin-left: 5px;
}

.el-date-editor--daterange.el-input__inner {
 width: 220px;
}

.card.card-table {
 padding: 1% 10% 5%;
 box-shadow: -8px 12px 12px rgb(25 42 70 / 13%);
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
 width: 140px;
}

.h6-hover:hover {
 cursor: pointer;
}

.el-select .el-input {
 width: 110px;
}

#blue-primary {
 background-color: #5A8DEE;
 border-color: #5A8DEE;
 color: white;
}

.combined-container {
 display: grid;
 grid-template-rows: 80px;
 grid-template-columns: 250px 250px 300px 50px;
 justify-content: center;
 justify-items: start;
}

.screen-card {
 margin-top: 10px;
 min-width: 177px;
 margin-bottom: 10px;
 border: 1px solid #DCDFE6;
 padding: 1rem;
}
</style>
