<template>
 <div class="result-card-container" :style="{ minHeight: showResult ? '100vh' : 'none' }">
  <div v-if="data.length > 0" class="card-container">
   <detail-result-card-inline v-if="isDetailVisible" class="grid-item" :style="{ gridRowStart, gridRowEnd: `span 1` }"
    :data="detail" :n-o-m-o-r-p-e-r-m-o-h-o-n-a-n="NOMOR_PERMOHONAN" :nomor-ku="NOMOR_PERMOHONAN" @closeDetailCard="closeDetailCard"
    @addBandingItem="addBandingItem" />
   <result-card v-for="(d, idx) in data" :key="d.id" :data="d" :index="idx" @clicked="setDetailData" />
  </div>
  <div v-else-if="data.length == 0 && showResult === true" class="empty-data">
   Data Tidak Ditemukan
  </div>
  <banding-tab v-if="banding.length > 0" :data="banding" @showDetailBanding="setDetailBanding"
   @clearBanding="clearBanding" />
 </div>
</template>

<script>
import BandingTab from '../../components/bandingTab.vue'
import ResultCard from '../../components/resultCard.vue'
import DetailResultCardInline from '../../components/detailResultCardInline.vue'

export default {
 components: {
  BandingTab,
  // SearchPage,
  ResultCard,
  // DetailResultCard,
  DetailResultCardInline
 },
 props: {
  resultData: Array,
  showResult: Boolean
 },
 data() {
  return {
   data: [],
   detail: {},
   NOMOR_PERMOHONAN: '',
   banding: [],
   isDetailVisible: false,
   gridRowStart: null,
   gridRowEnd: null
  }
 },
 watch: {
  resultData(data) {
   console.log(data);
   this.data = data
   this.isDetailVisible = false
   this.detail = {}
  }
 },
 mounted() {
  this.setBandingMounted()
  // this.getDataDummy()
  // this.getData()
  // this.showData()
 },
 methods: {
  setDetailData(data) {
   this.gridRowStart = data.row + 1
   this.gridRowEnd = data.row + 4
   this.NOMOR_PERMOHONAN = data.ID
   // this.NOMOR_PERMOHONAN = data.NOMOR_PERMOHONAN
   this.detail = data
   this.isDetailVisible = true
   const detailCard = this.$el.querySelector('.detail-result-card-inline')
   console.log('detailCard', detailCard)
  },
  setDetailBanding(data) {
   console.log('called from emit banding', data)
   this.isDetailVisible = true
   this.NOMOR_PERMOHONAN = data
   this.detail = {}
  },
  closeDetailCard() {
   this.isDetailVisible = false
   this.detail = {}
  },
  setBandingMounted() {
   const bandingSession = sessionStorage.getItem('BandingSave')
   console.log('bandingSession', JSON.parse(bandingSession))
   if (bandingSession) {
    this.banding = JSON.parse(bandingSession)
   }
  },
  addBandingItem(data) {
   const duplicate = this.filterBandingData(data)
   console.log(duplicate)
   if (!duplicate) {
    this.banding.push(data)
    // sessionStorage.removeItem('BandingSave')
    const newBandingSave = [...this.banding]
    sessionStorage.setItem('BandingSave', JSON.stringify(newBandingSave))
   } else {
    console.log('banding duplicate')
   }
  },
  clearBanding() {
   this.banding = []
   sessionStorage.removeItem('BandingSave')
  },
  filterBandingData(data) {
   const result = this.banding.findIndex(d => d.NOMOR_PERMOHONAN === data.NOMOR_PERMOHONAN && d.FILENAME === data.FILENAME)
   if (result === -1) {
    return false
   } else {
    return true
   }
  }
 }
}
</script>

<style scoped>
.result-card-container {
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
 overflow: auto;
}

.card-container {
 padding: 80px 0px;
 display: grid;
 grid-template-columns: repeat(6, minmax(177px, 13vw));
 grid-template-rows: auto;
 column-gap: 15px;
 row-gap: 20px;
 justify-content: center;
 overflow: auto;
 transition: 0.5s ease;
}

.grid-item {
 grid-column-start: 1;
 grid-column-end: span 6;
 /* grid-row-start: 2; */
 /* grid-row-end: 5; */
}

.empty-data {
 position: absolute;
 align-self: center;
 font-weight: bold;
 font-size: large;
}
</style>
