<template>
  <div class="result-card-container" :style="{ minHeight: resultData.length > 0? '100vh' : 'none' }">
    <!-- <detail-result-card-merek :uraian="uraian" :data="detail" v-if="isDetailVisible" @closeDetailCard="closeDetailCard" @addBandingItem="addBandingItem"/> -->
    <div v-if="data.length > 0" ref="cardContainer" class="card-container">
      <detail-result-card-inline-merek
        v-if="isDetailVisible"
        id="detailCard"
        class="grid-item"
        :style="{ gridRowStart, gridRowEnd: `span 1` }"
        :data="detail"
        :uraian="uraian"
        @closeDetailCard="closeDetailCard"
        @addBandingItem="addBandingItem"
        @showEnhanceForm="showEnhanceForm"
        @showEnhancedImages="showEnhancedImages"
      />
      <result-card-merek v-for="(d, idx) in data" :key="d.ID" :searched-by="searchedBy" :data="d" :index="idx" @clicked="setDetailData" />
    </div>
    <div v-if="dataTemp.length > resultsToShow || data.length > resultsToShow">
      <div class="d-flex justify-content-center mb-5">
        <el-button type="info" style="background-color: white; color: grey; border-color: grey;" @click="loadMore">
          See More
        </el-button>
      </div>
    </div>
    <el-dialog title="Enhance Model" :visible.sync="enhanceForm">
      <el-dialog
        title="Edit Image"
        :visible.sync="innerVisible"
        append-to-body
      >
        <image-cropper :src="croppedImage" @setCroppedImage="setCroppedImage" @closeEdit="closeEdit" />
      </el-dialog>
      <div class="image-crop-container">
        <img :src="croppedImage" alt="sss">
      </div>
      <br>
      <div style="margin-bottom: 20px" class="d-flex justify-content-center">
        <el-button type="success" size="mini" @click="innerVisible = true">
          Edit
        </el-button>
      </div>
      <div class="d-flex justify-content-center">
        <span style="padding-top: 10px;">Nomor Permohonan:</span>
        <el-input v-model="noPermohonan" type="text" style="width: 150px; margin-left: 8px;" :disabled="true" />
        <el-button style="margin-left: 8px;" type="primary" @click="submitEnhance">
          Submit
        </el-button>
      </div>
      <!-- <div class="d-flex justify-content-center">
        <el-button type="primary">Submit</el-button>
      </div> -->
    </el-dialog>
    <el-dialog :visible.sync="enhancedImages">
      <div class="d-flex">
        <div style="width: 40%; margin-right: 5px">
          <div>
            <h4 style="color: black; text-align: center;">
              Original Image
            </h4>
          </div>
          <div class="original-pic-container">
            <img :src="originalImage" alt="">
          </div>
        </div>
        <div style="width: 60%; margin-left: 5px">
          <div>
            <h4 style="color: black; text-align: center;">
              Enhanced Images
            </h4>
          </div>
          <div class="row justify-content-center">
            <div v-for="data in enhancedImageSource" :key="data._id" class="col-4" style="padding: 0px">
              <div class="enhanced-pic-container">
                <img :src="`http://10.2.7.47:8080`+ data._source.FILE_IMAGE" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </el-dialog>
    <banding-tab-merek v-if="banding.length > 0" :data="banding" @showDetailBanding="setDetailBanding" @clearBanding="clearBanding" />
  </div>
</template>

<script>
// import axios from 'axios'
import BandingTabMerek from '../../components/bandingTabMerekV3.vue'
import DetailResultCardInlineMerek from '../../components/detailResultCardInlineMerekV3.vue'
// import DetailResultCardMerek from '../../components/detailResultCardMerek.vue'
import ResultCardMerek from '../../components/resultCardMerekV3.vue'
import ImageCropper from '../../components/imageCropper.vue'
import api from '../merekV3/api'
export default {
  components: {
    // BandingTab,
    // SearchPage,
    // ResultCard,
    // DetailResultCard,
    ResultCardMerek,
    // DetailResultCardMerek,
    DetailResultCardInlineMerek,
    BandingTabMerek,
    ImageCropper
  },
  props: {
    resultData: Array,
    uraian: String,
    searchedBy: Object
  },
  data() {
    return {
      data: [],
      dataTemp: [],
      detail: {},
      banding: [],
      isDetailVisible: false,
      gridRowStart: null,
      gridRowEnd: null,
      resultsToShow: 0,
      enhanceForm: false,
      noPermohonan: '',
      innerVisible: false,
      imageSource: '',
      croppedImage: '',
      croppedImageData: {},
      enhancedImages: false,
      originalImage: '',
      enhancedImageSource: []
    }
  },
  watch: {
    resultData(data) {
      this.resultsToShow = 24
      this.dataTemp = JSON.parse(JSON.stringify(data))
      this.data = data.slice(0, this.resultsToShow)
      this.isDetailVisible = false
      this.detail = {}
      // this.getData(data)
    }
  },
  mounted() {
    this.setBandingMounted()
    // this.getDataDummy()
    // this.getData()
    // this.showData()
  },
  methods: {
    getData(data) {
      this.data = data
    },
    setDetailData(data) {
      console.log('data', data)
      this.gridRowStart = data.row + 1
      this.gridRowEnd = data.row + 4
      this.detail = data
      this.isDetailVisible = true
      setTimeout(() => {
        this.getResultCardEl(data.cardIndex, data.row)
      }, 200)
    },
    setDetailBanding(data) {
      this.isDetailVisible = true
      this.detail = {}
    },
    closeDetailCard() {
      this.isDetailVisible = false
      this.detail = {}
    },
    filterBandingData(data) {
      const result = this.banding.findIndex(d => d.APPLICATION_ID === data.APPLICATION_ID && d.FILENAMED === data.FILENAMED)
      if (result === -1) {
        return false
      } else {
        return true
      }
    },
    setBandingMounted() {
      const bandingSession = sessionStorage.getItem('MerekBandingSave')
      console.log('BandingSession', JSON.parse(bandingSession))
      if (bandingSession) {
        this.banding = JSON.parse(bandingSession)
      }
    },
    addBandingItem(data) {
      const duplicate = this.filterBandingData(data)
      if (!duplicate) {
        // console.log(data, 'ini data yg mau dimasukin')
        this.banding.push(data)
        const newBandingSave = [...this.banding]
        sessionStorage.setItem('MerekBandingSave', JSON.stringify(newBandingSave))
      } else {
        // console.log('banding duplicate')
      }
    },
    showData() {
      console.log(this.resultData.length > 0)
      console.log(this.resultData)
    },
    clearBanding() {
      this.banding = []
      sessionStorage.removeItem('MerekBandingSave')
    },
    getResultCardEl(index, row) {
      console.log()
      const cardEl = this.$refs.cardContainer.children[index + 1]
      const detailCard = this.$el.querySelector('#detailCard')
      const ofsetTop = cardEl.offsetTop - cardEl.scrollTop
      console.log('cardEl', cardEl)
      console.log('detailCard', detailCard)
      console.log('ofset top', ofsetTop)
      if (row === 1) {
        cardEl.scrollIntoView(true, { behavior: 'smooth' })
      } else {
        // window.scrollTo({ top: ofsetTop - window.innerHeight / 3, behavior: 'smooth' })
        detailCard.scrollIntoView({ behavior: 'smooth' })
      }
      // cardEl.scrollIntoView({ behavior: 'auto', block: 'center', inline: 'center' })
    },
    loadMore() {
      this.resultsToShow += 24
      this.data = this.dataTemp.slice(0, this.resultsToShow)
    },
    showEnhanceForm(value) {
      this.noPermohonan = value.noPermohonan
      this.imageSource = value.imageSrc
      this.croppedImage = value.imageSrc
      this.enhanceForm = true
    },
    closeEdit() {
      this.innerVisible = false
    },
    setCroppedImage(value) {
      this.croppedImageData = value.file
      this.croppedImage = value.croppedImage
    },
    async submitEnhance() {
      try {
        const payload = {
          FileName: this.croppedImageData.filename,
          NomorPermohonan: this.noPermohonan
        }
        await api.postEnhanceForm(payload)
        this.$message({
          message: 'Success',
          type: 'success'
        })
      } catch (error) {
        console.log(error)
      } finally {
        this.enhanceForm = false
      }
    },
    async showEnhancedImages(value) {
      try {
        this.originalImage = value.imageSrc
        const payload = {
          APPLICATION_ID: value.APPLICATION_ID,
          ID: value.ID
        }
        const { data } = await api.getEnhancedImages(payload)
        const rawData = JSON.parse(data.data)
        this.enhancedImageSource = rawData.hits.hits
        this.enhancedImages = true
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<style scoped>
  .result-card-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow: auto;
  }

  .grid-item {
    grid-column-start: 1;
    grid-column-end: span 6;
    /* grid-row-start: 2; */
    /* grid-row-end: 5; */
  }

  .card-container {
    padding: 80px 0px;
    display: grid;
    grid-template-columns: repeat(6, minmax(177px, 13vw));
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 20px;
    justify-content: center;
    overflow: auto;
  }
  .original-pic-container {
    height: 25vh;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .original-pic-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
    margin: -1px 0px 0px -1px;
  }

  .enhanced-pic-container {
    height: 25vh;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
  }

  .enhanced-pic-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
    margin: -1px 0px 0px -1px;
  }
  .image-crop-container {
    height: 25vh;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .image-crop-container img{
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
    margin: -1px 0px 0px -1px;
  }
</style>
