<template>
  <div>
    <div class="main-container">
      <div class="main-content">
        <!--<div class="card-body" style="padding-top: 80px; padding-right: 100px; padding-bottom: 80px; padding-left: 100px;">-->

        <!-- <div class="card-body pb-0">
          <el-button type="info" class="merek-btn" @click="changeSearch('merek')">Merek</el-button>
          <el-button type="info" class="paten-btn" @click="changeSearch('paten')">Paten</el-button>
          <el-button type="info" class="di-btn" @click="changeSearch('DI')">Desain Industri</el-button>
          <div class="float-right">
            <a style="display: block;" class="btn btn-warning round video" href="HAKi-manual.mp4"
              target="_blank">Video</a>
          </div>
          <div class="float-right">
            <a style="display: block;" class="btn btn-warning round" href="manual_dgip.pdf" target="_blank">E-book</a>
          </div>
        </div> -->

        <div class="">
          <div align="center">
            <img src="/logo-web.png" style="max-width: 30%; height: 80px">
            <h3 style="font-family: tebal !important">
              PENELUSURAN KI BERBASIS AI - MEREK
            </h3>
          </div>
          <!-- DRAG AND DROP -->
          <!-- <br> -->
          <!-- KOLOM PENCARIAN -->

          <div style="
              width: 400px;
              margin-top: 40px;
              margin-bottom: 40px;
              margin-left: auto;
              margin-right: auto;
              display: block;
            "
          >
            <image-uploader ref="imgUploader" :max="1" :style="{ maxWidth: 'none' }" @deleteImage="deleteImage"
                            @changed="handleImagesNew"
            />
          </div>

          <div class="inner-container">
            <div class="search-container">
              <div class="form-group mr-2">
                <el-input v-model="disclaimer" style="height: 40px" type="text"
                          placeholder="Pencarian Nama Merek (Termasuk Data Disclaimer)" clearable
                />
              </div>
              <div class="form-group mr-2">
                <el-input v-model="text" style="height: 40px" type="text" placeholder="Pencarian Phonetic" clearable />
              </div>
              <div class="form-group mr-2">
                <el-select v-model="selectedKelas" multiple collapse-tags placeholder="Kelas" :style="{ width: '100%' }">
                  <el-option class="select-primary" selected value="semua">
                    Semua Kelas
                  </el-option>
                  <el-option v-for="(data, i) in merekClassData" :key="i" :value="data.CLASS_ID" class="select-primary">
                    {{ `Kelas ${data.CLASS_NO}` }}
                  </el-option>
                </el-select>
              </div>
              <div class="form-group mr-2">
                <!-- <textarea ></textarea> -->
                <el-input v-model="uraian" type="textarea" class="textareaCustomClass"
                          :style="{ minHeight: '40px', maxHeight: '100px' }" placeholder="Masukan kata pencarian" :autosize="{ minRows: 1, maxRows: 2 }"
                />
              </div>
            </div>
            <div class="filter-container">
              <div class="form-group mr-2">
                <el-date-picker v-model="tglPermohonan2" type="date" placeholder="Tanggal Permohonan" style="width: 100%" />
              </div>

              <el-input v-model="noPermohonan" :style="{
                height: '40px',
                width: '100%',
                display: 'inline-block',
              }" type="text" placeholder="No. Permohonan" clearable
              />

              <div class="d-flex justify-content-center mx-2 my-2">
                <!-- <div style="margin-right: 5px">Status</div> -->
                <div class="col-3">
                  Status:
                </div>
                <div class="col">
                  <div class="form-check form-check-inline">
                    <input id="inlineCheckbox1" v-model="checkedStatus" class="form-check-input" type="checkbox" value="1">
                    <label class="form-check-label" for="inlineCheckbox1">Terdaftar</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input id="inlineCheckbox2" v-model="checkedStatus" class="form-check-input" type="checkbox" value="2">
                    <label class="form-check-label" for="inlineCheckbox2">Dalam Proses</label>
                  </div>
                  <!-- <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="">
                    <label class="form-check-label" for="inlineCheckbox2">Publikasi</label>
                  </div> -->
                  <div class="form-check form-check-inline">
                    <input id="inlineCheckbox3" v-model="checkedStatus" class="form-check-input" type="checkbox" value="4">
                    <label class="form-check-label" for="inlineCheckbox3">Inactive</label>
                  </div>
                </div>
              </div>

              <div class="d-flex mx-2 my-2">
                <div style="margin-right: 5px">
                  Metode
                </div>
                <el-radio v-model="searchMethod" label="Shape">
                  Shape
                </el-radio>
                <el-radio v-model="searchMethod" label="Color">
                  Color
                </el-radio>
                <el-radio v-model="searchMethod" label="Concept">
                  Concept
                </el-radio>
                <!-- <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="">
                  <label class="form-check-label" for="inlineCheckbox2">Publikasi</label>
                </div> -->
              </div>

              <div class="btn-container" style="float: right; margin-top: 50px">
                <el-button style="background-color: #ced4da" @click="clearSearch">
                  Reset
                </el-button>
                <el-button style="background-color: #313e5e !important" icon="el-icon-search" type="primary"
                           @click="getDataMerek"
                >
                  Cari
                </el-button>
              </div>

              <div class="btn-container">
                <!-- <el-button
                  @click="filterByStatus"
                  type="primary"
                  plain
                  :disabled="
                    this.searchResult.length > 0 &&
                    this.checkedStatus.length > 0
                      ? false
                      : true
                  "
                  >Filter
                </el-button>
                <el-button
                  @click="clearFilter"
                  plain
                  :disabled="
                    this.searchResult.length > 0 &&
                    this.checkedStatus.length > 0
                      ? false
                      : true
                  "
                  >Reset
                </el-button> -->
              </div>
            </div>
            <div class="ai-search-container">
              <div class="form-group mr-2">
                <div class="ai-search-btn-container">
                  <!-- <el-button
                    style="margin-left: 15px"
                    type="primary"
                    @click="searchByNoPermohonan"
                    :disabled="noPermohonan.length > 0 ? false : true"
                    >Search
                  </el-button> -->
                </div>
                <img v-if="
                  noPermohonan.length > 0 && noPermohonanSearchImg.length > 0
                " :src="permohonanaImgSrc"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <index :result-data="finalData" :uraian="uraian" :searched-by="searchedBy" :search-method="searchMethod" />
  </div>
</template>

<script>
import api from "./api"
import ImageUploader from "../../components/imageUploader.vue"
import Index from "../search-result-merek/index.vue"
import { Loading } from "element-ui"

export default {
 components: {
  ImageUploader,
  Index
 },
 data() {
  return {
   loadingSearch: {},
   image: {},
   noPermohonan: "",
   text: "",
   // logic: 'or',
   searchedBy: {
    phonetic: false,
    image: false
   },
   disclaimer: "",
   uraian: "",
   tglPermohonan: [],
   tglTerdaftar: [],
   tglExpired: [],
   tglPermohonan1: "",
   tglPermohonan2: "",
   tglTerdaftar1: "",
   tglTerdaftar2: "",
   tglExpired1: "",
   tglExpired2: "",
   searchMethod: "",
   checkedStatus: [],
   merekClassData: [],
   selectedKelas: ["semua"],
   dataSearchedByText: [],
   isSearchByImage: false,
   searchResult: [],
   finalData: [],
   minScore: 75,
   scoreSelect: [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 40, 30],
   noPermohonanSearchImg: ""
  }
 },
 computed: {
  payloadForSearch() {
   return {
    fileName: this.image.filename,
    noPermohonan: this.noPermohonan,
    text: this.text,
    kelas: this.selectedKelas,
    status: this.checkedStatus,
    tglPermohonan: this.tglPermohonan,
    tglTerdaftar: this.tglTerdaftar,
    tglExpired: this.tglExpired,
    logic: "and",
    toleransi: this.minScore,
    disclaimer: this.disclaimer
   }
  },
  permohonanaImgSrc() {
   // http://103.150.169.71:8483/application-brand/noper/image-1637641324.jpg
   console.log(
    process.env.VUE_APP_PHP_API +
    "/application-brand/noper/" +
    this.noPermohonanSearchImg
   )
   return (
    process.env.VUE_APP_PHP_API +
    "/application-brand/noper/" +
    this.noPermohonanSearchImg
   )
  }
 },
 watch: {
  noPermohonan(data) {
   if (data.length < 1) {
    this.noPermohonanSearchImg = ""
   }
  }
 },
 mounted() {
  this.getClass()
  // this.testMixSearchApi()
 },
 methods: {
  changeSearch(searchType) {
   switch (searchType) {
    case "merek":
     if (this.$route.name !== "merek-search-result") {
      this.$router.push({ name: "merek-search-result" })
     }
     break
    case "paten":
     if (this.$route.name !== "Paten") {
      this.$router.push({ name: "Paten" })
     }
     break
    case "DI":
     if (this.$route.name !== "desain-industri-search-result") {
      this.$router.push({ name: "desain-industri-search-result" })
     }
     break
    default:
     return ""
   }
  },
  async getDataMerek() {
   try {
    this.loadingSearch = Loading.service({
     fullscreen: true,
     lock: true
    })
    const payload = {
     fileName: this.image.filename,
     noPermohonan: this.noPermohonan,
     text: this.text,
     kelas: this.selectedKelas,
     status: this.checkedStatus,
     tglPermohonan: [
      this.changeDateFormat(this.tglPermohonan1),
      this.changeDateFormat(this.tglPermohonan2)
     ],
     tglTerdaftar: [
      this.changeDateFormat(this.tglTerdaftar1),
      this.changeDateFormat(this.tglTerdaftar2)
     ],
     tglExpired: [
      this.changeDateFormat(this.tglExpired2),
      this.changeDateFormat(this.tglExpired2)
     ],
     logic: "and",
     toleransi: this.minScore,
     disclaimer: this.disclaimer
    }
    console.log("payload search", this.payloadForSearch)
    const { data } = await api.search(payload)
    const newData = data.data
    console.log("hasil search", newData)
    this.searchResult = []
    this.finalData = []
    this.searchResult = newData
    this.finalData = newData
    this.searchedBy = {
     image: false,
     phonetic: false
    }
    this.checkSearchedBy()
    if (this.searchResult.length > 0) {
     const resultTab = this.$el.querySelector(".result-card-container")
     setTimeout(() => {
      this.loadingSearch.close()
      resultTab.scrollIntoView({ behavior: "smooth" })
     }, 500)
    } else {
     this.loadingSearch.close()
     this.$message("Sorry, no data found.")
     return
    }
   } catch (error) {
    console.log(error)
    this.loadingSearch.close()
   }
  },
  clearSearch() {
   this.noPermohonan = ""
   this.searchMethod = ""
   this.text = ""
   this.selectedKelas = ["semua"]
   this.tglPermohonan2 = ""
   this.disclaimer = ""
   this.uraian = ""
   this.checkedStatus = ""
   this.image = {}
   this.$refs.imgUploader.reset()
  },
  async searchByNoPermohonan() {
   try {
    this.loadingSearch = Loading.service({
     fullscreen: true,
     lock: true
    })

    const payload = {
     fileName: "",
     noPermohonan: this.noPermohonan,
     text: "",
     kelas: ["semua"],
     status: [],
     tglPermohonan: [this.changeDateFormat(""), this.changeDateFormat("")],
     tglTerdaftar: [
      this.changeDateFormat(this.tglTerdaftar1),
      this.changeDateFormat(this.tglTerdaftar2)
     ],
     tglExpired: [
      this.changeDateFormat(this.tglExpired2),
      this.changeDateFormat(this.tglExpired2)
     ],
     logic: "and",
     toleransi: this.minScore,
     disclaimer: ""
    }
    console.log("payload search", payload)
    const { data } = await api.search(payload)
    const newData = data.data
    console.log("hasil search By noPermohonan", data)
    this.noPermohonanSearchImg = data.filename
    this.searchResult = []
    this.finalData = []
    this.searchResult = newData
    this.finalData = newData
    if (this.searchResult.length > 0) {
     const resultTab = this.$el.querySelector(".result-card-container")
     setTimeout(() => {
      this.loadingSearch.close()
      resultTab.scrollIntoView({ behavior: "smooth" })
     }, 500)
    }
   } catch (err) {
    console.log("err", err)
    this.loadingSearch.close()
   }
  },
  changeDateFormat(arrDate) {
   if (!arrDate) {
    return null
   } else {
    const changeDate = arrDate.toLocaleDateString("id-ID").split("/")
    return `${changeDate[0]}-${changeDate[1]}-${changeDate[2]}`
   }
  },
  mixSearchMerek() {
   const tglPermohonan = this.changeDateFormat(this.tglPermohonan)
   const tglTerdaftar = this.changeDateFormat(this.tglTerdaftar)
   const tglExpired = this.changeDateFormat(this.tglExpired)
   console.log(tglPermohonan, tglTerdaftar, tglExpired)
  },
  async getDataDI() {
   try {
    if (this.text.length > 0) {
     const data = await this.getDataByTextMerek()
     console.log("phonetic result", data)
     this.searchResult = data
    } else if (Object.keys(this.image).length > 0) {
     const data = await this.getDataByImageMerek()
     this.searchResult = data.hits.hits
    }
    if (this.searchResult.length > 0) {
     const resultTab = this.$el.querySelector(".result-card-container")
     setTimeout(() => {
      resultTab.scrollIntoView({ behavior: "smooth" })
     }, 500)
    }
   } catch (error) {
    console.log("error", error)
   }
  },
  async getDataByTextMerek() {
   try {
    const { data } = await api.searchMerekPhonetic(
     this.text,
     this.selectedKelas
    )
    return data
   } catch (err) {
    console.log(err)
   }
  },
  async getDataByImageMerek() {
   try {
    const { data } = await api.getDataByImageMerek(this.image.filename)
    console.log("data by image", data)
    return data
   } catch (err) {
    console.log(err)
   }
  },
  filterByStatus() {
   if (
    this.checkedStatus.length === 0 ||
    this.checkedStatus < 1 ||
    this.searchResult.length < 1
   ) {
    return ""
   }

   const filteredData = this.searchResult.filter(d => {
    if (this.checkedStatus.includes(d.STATUS + "")) {
     return d
    }
   })
   console.log("filtered data", filteredData)
   this.finalData = []
   this.finalData = [...filteredData]
   if (this.finalData.length > 0) {
    const resultTab = this.$el.querySelector(".result-card-container")
    setTimeout(() => {
     resultTab.scrollIntoView({ behavior: "smooth" })
    }, 500)
   }
  },
  clearFilter() {
   this.finalData = [...this.searchResult]
   this.checkedStatus = []
   const resultTab = this.$el.querySelector(".result-card-container")
   setTimeout(() => {
    resultTab.scrollIntoView({ behavior: "smooth" })
   }, 500)
  },
  async handleImagesNew(files) {
   try {
    if (files.length < 1) {
     this.image = {}
    } else {
     console.log("files", files)
     const fd = new FormData()
     fd.append("image", files[0])
     const { data } = await api.uploadMerekImageNew(fd)
     console.log("data image", data)
     // this.image = data.file
    }
   } catch (err) {
    console.log("err", err)
   }
  },
  async handleImages(files) {
   try {
    if (files.length < 1) {
     this.image = {}
    } else {
     console.log("files", files)
     const fd = new FormData()
     fd.append("upload_images", files[0])
     // console.log(...fd)
     const { data } = await api.uploadMerekImage(fd)
     // const { data } = await api.uploadMerekImagePHP(fd)
     console.log("data image", data.file)
     this.image = data.file
    }
   } catch (err) {
    console.log("err", err)
   }
  },
  async getClass() {
   try {
    const { data } = await api.getMerekClass()
    this.merekClassData = data
   } catch (error) {
    console.log(error)
   }
  },
  handleCheckedStatusChange(value) {
   this.checkedStatus = value
  },
  async testMixSearchApi() {
   const data = await api.mixSearchDI()
   console.log("mix search result data", data)
  },
  deleteImage() {
   this.image = {}
  },
  checkSearchedBy() {
   if (this.image.filename) {
    this.searchedBy.image = true
   }
   if (this.text) {
    this.searchedBy.phonetic = true
   }
  }
 }
}
</script>

<style scoped>
.main-container {
 display: flex;
 align-items: center;
 min-height: 100vh;
 background-color: white;
}

.main-content {
 display: flex;
 flex-direction: column;
 height: 100%;
 width: 100%;
 margin: 15px auto;
 border: none;
 align-self: center;
 box-shadow: none;
 justify-content: center;
}

#btnsrch {
 height: 40px;
}

.merek-btn {
 background-color: #fd9b1b;
 color: white;
}

.paten-btn {
 background-color: #4682b4;
 color: white;
}

.di-btn {
 background-color: #313e5d;
 color: white;
}

a.btn.btn-warning.round.video {
 background-color: #313e5d;
 border-color: #313e5d;
 margin-left: 5px;
}

a.btn.btn-warning.round.paten {
 background-color: steelblue;
 border-color: steelblue;
 margin-left: 5px;
}

a.btn.btn-primary.round.desain {
 margin-left: 5px;
}

.el-date-editor--daterange.el-input__inner {
 width: 220px;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
 width: 150px;
}

.inner-container {
 display: grid;
 grid-template-columns: 30vw 30vw;
 grid-template-rows: minmax(200px, auto);
 justify-content: center;
 gap: 30px;
}

.search-container,
.filter-container,
.ai-search-container {
 /* border: 1px solid black; */
 border-radius: 0.25rem;
 /* padding: 15px; */
 /* display: flex; */
}

.search-container,
.filter-container {
 flex-direction: column;
}

.ai-search-container {
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.ai-search-btn-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.ai-search-container img {
 margin-top: 15px;
 object-fit: contain;
 max-width: 25vw;
 max-height: 25vw;
}

.textareaCustomClass * {
 max-height: 100px;
}

.textareaCustomClass textarea {
 max-height: 100px;
}
</style>
