<template>
  <div>
    <div class="main-container">
      <div class="main-content">
        <!--<div class="card-body" style="padding-top: 80px; padding-right: 100px; padding-bottom: 80px; padding-left: 100px;">-->

        <!-- <div class="card-body pb-0">
          <el-button type="info" class="merek-btn" @click="changeSearch('merek')">Merek</el-button>
          <el-button type="info" class="paten-btn" @click="changeSearch('paten')">Paten</el-button>
          <el-button type="info" class="di-btn" @click="changeSearch('DI')">Desain Industri</el-button>
          <div class="float-right">
            <a style="display: block;" class="btn btn-warning round video" href="HAKi-manual.mp4"
              target="_blank">Video</a>
          </div>
          <div class="float-right">
            <a style="display: block;" class="btn btn-warning round" href="manual_dgip.pdf" target="_blank">E-book</a>
          </div>
        </div> -->

        <div class="">
          <div align="center">
            <img src="/logo-web.png"
                 style="max-width:30%; height:80px;"
            >
            <h3>SIPenKI-AI</h3>
          </div>
          <!-- DRAG AND DROP -->
          <!-- <br> -->
          <!-- KOLOM PENCARIAN -->

          <div class="inner-container">
            <div class="search-container">
              <h2>Dasar Pencarian</h2>
              <div class="search-outer-container">
                <image-uploader :style="{ maxWidth: '30vw', margin: '0px' }" @deleteImage="deleteImage" @changed="handleImages" />
                <div class="search-inner-right">
                  <div class="form-group mr-2">
                    <el-input v-model="text" style="height: 40px" type="text" placeholder="Pencarian Phonetic" clearable />
                  </div>
                  <div class="form-group mr-2">
                    <el-select v-model="selectedKelas" multiple collapse-tags :style="{ width: '100%' }">
                      <el-option class="select-primary" selected value="semua">
                        Semua Kelas
                      </el-option>
                      <el-option v-for="(data, i) in merekClassData" :key="i" :value="data.CLASS_ID" class="select-primary">
                        {{ `Kelas ${data.CLASS_NO}` }}
                      </el-option>
                    </el-select>
                  </div>
                  <div class="form-group mr-2">
                    <!-- <textarea ></textarea> -->
                    <el-input v-model="uraian" type="textarea" class="textareaCustomClass" :style="{ minHeight: '40px', maxHeight: '100px' }" placeholder="Uraian Barang" :autosize="{ minRows: 1, maxRows: 4}" />
                  </div>
                  <div class="form-group mr-2">
                    <el-input v-model="disclaimer" style="height: 40px" type="text" placeholder="Disclaimer" />
                  </div>
                  <div class="form-group mr-2">
                    <label style="display: block">Tanggal Permohonan: </label>
                    <el-date-picker v-model="tglPermohonan2" type="date" placeholder="End Date" />
                  </div>

                  <div class="btn-container">
                    <el-button type="primary" @click="getDataMerek">
                      Search
                    </el-button>
                    <el-button @click="clearSearch">
                      Reset
                    </el-button>
                  </div>
                </div>
              </div>
            </div>
            <div class="filter-container">
              <div class="d-flex justify-content-center mx-2 my-2">
                <div class="form-check form-check-inline">
                  <input id="inlineCheckbox1" v-model="checkedStatus" class="form-check-input" type="checkbox" value="1">
                  <label class="form-check-label" for="inlineCheckbox1">Terdaftar</label>
                </div>
                <div class="form-check form-check-inline">
                  <input id="inlineCheckbox2" v-model="checkedStatus" class="form-check-input" type="checkbox" value="2">
                  <label class="form-check-label" for="inlineCheckbox2">Dalam Proses</label>
                </div>
                <!-- <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="">
                  <label class="form-check-label" for="inlineCheckbox2">Publikasi</label>
                </div> -->
                <div class="form-check form-check-inline">
                  <input id="inlineCheckbox2" v-model="checkedStatus" class="form-check-input" type="checkbox" value="4">
                  <label class="form-check-label" for="inlineCheckbox2">Inactive</label>
                </div>
              </div>
              <div class="btn-container">
                <el-button>
                  Filter
                </el-button>
              </div>
            </div>
            <div class="ai-search-container">
              <div class="form-group mr-2">
                <el-input
                  v-model="noPermohonan"
                  :style="{ height: '40px', width: 'auto', display: 'inline-block' }"
                  type="text"
                  placeholder="No. Permohonan"
                  clearable
                />
                <el-button
                  style="margin-left: 15px"
                  type="primary"
                  :disabled="noPermohonan.length > 0 ? false : true"
                  @click="searchByNoPermohonan"
                >
                  Search
                </el-button>
              </div>
            </div>
          </div>

          <!-- <div class="d-flex justify-content-center">
            <div class="form-group mr-2" style="width: 75px">
              <el-select v-model="minScore">
                <el-option v-for="(score, i) in scoreSelect" :value="score" :key="i" class="select-primary">
                  {{ `${score}%` }}</el-option>
              </el-select>
            </div>
          </div> -->

          <!-- <div class="d-flex justify-content-center mt-3">
            <div class="mr-2">
              <label class="mr-2 my-auto">Tanggal Permohonan: </label>
              <div class="d-flex justify-content-center mr-3 mt-2">
                <el-date-picker v-model="tglPermohonan1" type="date" placeholder="Start Date">
                </el-date-picker>
                <label class="mx-1 my-auto">sampai</label>
                <el-date-picker v-model="tglPermohonan2" type="date" placeholder="End Date">
                </el-date-picker>
              </div>
            </div>
            <div class="mr-2">
              <span class="mr-2">Tanggal Terdaftar: </span>
              <div class="d-flex justify-content-center mr-3 mt-2">
                <el-date-picker v-model="tglTerdaftar1" type="date" placeholder="Start Date">
                </el-date-picker>
                <label class="mx-1 my-auto">sampai</label>
                <el-date-picker v-model="tglTerdaftar2" type="date" placeholder="End Date">
                </el-date-picker>
              </div>
            </div>
            <div class="mr-2">
              <span class="mr-2">Tanggal Expired: </span>
              <div class="d-flex justify-content-center mt-2">
                <el-date-picker v-model="tglExpired1" type="date" placeholder="Start Date">
                </el-date-picker>
                <label class="mx-1 my-auto">sampai</label>
                <el-date-picker v-model="tglExpired2" type="date" placeholder="End Date">
                </el-date-picker>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import api from './api'
import ImageUploader from '../../components/imageUploader.vue'
// import Index from '../search-result-merek/index.vue'
// import { Loading } from 'element-ui'

export default {
  components: {
    ImageUploader
    // Index
  },
  data() {
    return {
      image: {},
      noPermohonan: '',
      text: '',
      // logic: 'or',
      disclaimer: '',
      uraian: '',
      tglPermohonan: [],
      tglTerdaftar: [],
      tglExpired: [],
      tglPermohonan1: '',
      tglPermohonan2: '',
      tglTerdaftar1: '',
      tglTerdaftar2: '',
      tglExpired1: '',
      tglExpired2: '',
      checkedStatus: [],
      merekClassData: [],
      selectedKelas: ['semua'],
      dataSearchedByText: [],
      isSearchByImage: false,
      searchResult: [],
      minScore: 80,
      scoreSelect: [
        100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 40, 30
      ]
    }
  }
}
</script>

<style scoped>
.main-container {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  border: none;
  align-self: center;
  box-shadow: none;
  justify-content: center;
}

#btnsrch {
  height: 40px;
}

.merek-btn {
  background-color: #FD9B1B;
  color: white;
}

.paten-btn {
  background-color: #4682B4;
  color: white;
}

.di-btn {
  background-color: #313E5D;
  color: white;
}

a.btn.btn-warning.round.video {
  background-color: #313e5d;
  border-color: #313e5d;
  margin-left: 5px;
}

a.btn.btn-warning.round.paten {
  background-color: steelblue;
  border-color: steelblue;
  margin-left: 5px;
}

a.btn.btn-primary.round.desain {
  margin-left: 5px;
}

.el-date-editor--daterange.el-input__inner {
  width: 220px;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 150px;
}

.inner-container {
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-template-rows: minmax(400px, auto);
  justify-content: center;
  gap: 30px;
}

.search-container, .filter-container, .ai-search-container {
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 15px;
  display: flex;
}

.search-container, .filter-container {
  flex-direction: column;
}

.search-container {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.search-outer-container {
  display: flex;
  justify-content: space-between;
}

.ai-search-container {
  flex-direction: row;
}

.textareaCustomClass * {
  max-height: 100px;
}

.textareaCustomClass textarea {
  max-height: 100px;
}

</style>
