.main-container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 15px auto;
    border: none;
    align-self: center;
    box-shadow: none;
    justify-content: center;
}

.el-select .el-input {
    width: 100% !important;
}

#btnsrch {
    height: 10%;
}

.merek-btn {
    background-color: #fd9b1b;
    color: white;
}

.paten-btn {
    background-color: #4682b4;
    color: white;
}

.di-btn {
    background-color: #313e5d;
    color: white;
}

.date-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

a.btn.btn-warning.round.video {
    background-color: #313e5d;
    border-color: #313e5d;
    margin-left: 5px;
}

a.btn.btn-warning.round.paten {
    background-color: steelblue;
    border-color: steelblue;
    margin-left: 5px;
}

a.btn.btn-primary.round.desain {
    margin-left: 5px;
}

/* .el-date-editor--daterange.el-input__inner {
    width: 220px;
   } */

.date-picker {
    width: 150px !important;
}