<template>
 <div>
  <div class="main-container">
   <div class="main-content">
    <!--<div class="card-body" style="padding-top: 80px; padding-right: 100px; padding-bottom: 80px; padding-left: 100px;">-->
    <div class="card-body pb-0">
     <!-- <el-button
           type="info"
           class="btn btn-sm btn-info"
           @click="changeSearch('desin')"
           >Pencarian Universal</el-button
         >
         <el-button
           type="info"
           class="btn btn-sm btn-info"
           @click="changeSearch('external')"
           >External</el-button
         > -->
     <!--<div class="float-right">
           <a
             style="display: block;"
             class="btn btn-warning round video"
             href="HAKi-manual.mp4"
             target="_blank"
             >Video</a
           >
         </div>
         <div class="float-right">
           <a
             style="display: block;"
             class="btn btn-warning round"
             href="manual_dgip.pdf"
             target="_blank"
             >E-book</a
           >
         </div>-->
    </div>
    <div class="">
     <div align="center" style="margin-bottom: 40px">
      <img src="/logo-web.png" style="max-width: 30%; max-height: 100%">
      <h3>PENELUSURAN KI BERBASIS AI - DESAIN INDUSTRI</h3>
     </div>
     <!-- DRAG AND DROP -->
     <image-uploader :max="1" style="width: 400px; height: 150px; margin-bottom: 20px" @changed="handleImages" />
     <br>
     <!-- KOLOM PENCARIAN -->
     <div style="
                     width: 80%;
                     margin-left: auto;
                     margin-right: auto;
                     display: block;">
      <div class="row">
       <div class="col-6">
        <div class="form-group mr-2">
         <el-input v-model="text" type="text" placeholder="Kata Pencarian" clearable />
         <!-- <input v-model="text" type="text" class="form-control" placeholder="Kata Pencarian"> -->
        </div>
        <!-- <div class="form-group mr-2">
             <el-select
               v-model="logic"
             >
               <el-option value="and">and</el-option>
               <el-option value="or">or</el-option>
             </el-select>
           </div> -->
        <div class="form-group mr-2">
         <el-select v-model="selectedKelasBaru" collapse-tags style="width: 100%">
          <el-option class="select-primary" value="07-06">07-06 - PERALATAN MEJA LAINNYA</el-option>
          <el-option class="select-primary" value="07-99">07-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="08-01">08-01 - PERKAKAS DAN PENGGUNAANNYA DALAM PENGEBIRAN,
           PENGGILINGAN, ATAU PENGGALIAN</el-option>
          <el-option class="select-primary" value="09-06">09-06 - TAMBANG DAN BAHAN- BAHAN PENGIKAT</el-option>
          <el-option class="select-primary" value="09-07">09-07 - ALAT PENUTUP DAN PENYERTA</el-option>
          <el-option class="select-primary" value="05-01">05-01 - BENDA-BENDA YANG DIPINTAL</el-option>
          <el-option class="select-primary" value="09-99">09-99 - LAIN - LAIN </el-option>
          <el-option class="select-primary" value="10-05">10-05 - ALAT, PERKAKAS, PERANGKAT UNTUK PEMERIKSAAN, PENGAMANAN
           ATAU PENGUJIAN</el-option>
          <el-option class="select-primary" value="10-06">10-06 - ALAT DAN PERANGKAT PEMBERI SINYAL</el-option>
          <el-option class="select-primary" value="11-02">11-02 - PERNAK PERNIK/PERHIASAN KECIL, ORNAMEN/HIASAN MEJA,
           MANTEL DAN DINDING, VAS BUNGA DAN POT</el-option>
          <el-option class="select-primary" value="11-04">11-04 - BUNGA, BUAH DAN TANAMAN BUATAN</el-option>
          <el-option class="select-primary" value="11-05">11-05 - BENDERA, DEKORASI PESTA</el-option>
          <el-option class="select-primary" value="14-03">14-03 - PERALATAN TELEKOMUNIKASI, PENGENDALI NIRKABEL JARAK
           JAUH , DAN PENGUAT RADIO</el-option>
          <el-option class="select-primary" value="14-05">14-05 - MEDIA PEREKAMAN DAN PENYIMPANAN DATA</el-option>
          <el-option class="select-primary" value="14-99">14-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="15-02">15-02 - POMPA DAN KOMPRESOR</el-option>
          <el-option class="select-primary" value="15-07">15-07 - MESIN PENDINGIN DAN PERALATAN</el-option>
          <el-option class="select-primary" value="16-03">16-03 - ALAT PENGGANDAAN DAN PEMBESAR</el-option>
          <el-option class="select-primary" value="16-04">16-04 - ALAT DAN PERANGKAT PENGEMBANGAN</el-option>
          <el-option class="select-primary" value="16-06">16-06 - ALAT-ALAT OPTIK</el-option>
          <el-option class="select-primary" value="17-01">17-01 - INSTRUMEN PAPAN TOMBOL (KEYBOARD)</el-option>
          <el-option class="select-primary" value="17-04">17-04 - INSTRUMEN PERKUSI</el-option>
          <el-option class="select-primary" value="17-99">17-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="18-02">18-02 - MESIN CETAK</el-option>
          <el-option class="select-primary" value="19-02">19-02 - PERALATAN KANTOR</el-option>
          <el-option class="select-primary" value="19-03">19-03 - KALENDER</el-option>
          <el-option class="select-primary" value="19-08">19-08 - BARANG CETAK LAINNYA</el-option>
          <el-option class="select-primary" value="20-01">20-01 - MESIN PENGECER OTOMATIS (AUTOMATIC VENDING
           MACHINES)</el-option>
          <el-option class="select-primary" value="21">21 - Permainan, mainan, tenda dan alat-alat olahraga</el-option>
          <el-option class="select-primary" value="21-03">21-03 - PERLENGKAPAN HIBURAN DAN REKREASI LAINNYA</el-option>
          <el-option class="select-primary" value="22-05">22-05 - PERLENGKAPAN MEMANCING DAN BERBURU</el-option>
          <el-option class="select-primary" value="22-06">22-06 - PERANGKAP, BAGIAN – BAGIAN PEMBASMI HAMA</el-option>
          <el-option class="select-primary" value="22-99">22-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="23">23 - Perlengkapan penyaluran cairan, sanitasi, pemanas,
           perlengkapan ventilasi dan pendingin ruangan, bahan bakar padat</el-option>
          <el-option class="select-primary" value="23-01">23-01 - PERLENGKAPAN PENYALURAN CAIRAN</el-option>
          <el-option class="select-primary" value="23-02">23-02 - PERALATAN SANITASI</el-option>
          <el-option class="select-primary" value="2">2 - Pakaian dan Perlengkapan Pria</el-option>
          <el-option class="select-primary" value="04-02">04-02 - SIKAT TOILET, SIKAT PAKAIAN DAN SIKAT
           SEPATU</el-option>
          <el-option class="select-primary" value="01-02">01-02 - BUAH-BUAHAN, SAYURAN DAN PRODUK TERBUAT DARI BUAH DAN
           SAYURAN</el-option>
          <el-option class="select-primary" value="01-03">01-03 - KEJU, MENTEGA, PENGGANTI MENTEGA, PRODUK DARI SUSU
           LAINNYA</el-option>
          <el-option class="select-primary" value="01-04">01-04 - DAGING-DAGINGAN (TERMASUK PRODUK DAGING BABI),
           IKAN</el-option>
          <el-option class="select-primary" value="01-05">01-05 - TAHU DAN PRODUK TAHU</el-option>
          <el-option class="select-primary" value="02-01">02-01 - PAKAIAN DALAM, LINGERIE, KORSET, BRA, BAJU
           TIDUR</el-option>
          <el-option class="select-primary" value="02-02">02-02 - PAKAIAN</el-option>
          <el-option class="select-primary" value="02-03">02-03 - PENUTUP KEPALA</el-option>
          <el-option class="select-primary" value="02-04">02-04 - ALAS KAKI, KAOS KAKI DAN STOCKINGS</el-option>
          <el-option class="select-primary" value="02-05">02-05 - DASI, SKRAFT, PENUTUP LEHER DAN SAPUTANGAN </el-option>
          <el-option class="select-primary" value="03-02 ">03-02 - [KOSONG]</el-option>
          <el-option class="select-primary" value="03-99 ">03-99 - LAIN - LAIN </el-option>
          <el-option class="select-primary" value="04-01">04-01 - SIKAT DAN SAPU UNTUK KEBERSIHAN</el-option>
          <el-option class="select-primary" value="01-99">01-99 - LAIN-LAIN</el-option>
          <el-option class="select-primary" value="02-07">02-07 - PERLENGKAPAN PAKAIAN PRIA DAN AKSESORIS PAKAIAN
          </el-option>
          <el-option class="select-primary" value="02-06">02-06 - SARUNG TANGAN</el-option>
          <el-option class="select-primary" value="02-99">02-99 - LAIN-LAIN</el-option>
          <el-option class="select-primary" value="04-03">04-03 - SIKAT UNTUK MESIN</el-option>
          <el-option class="select-primary" value="04-04">04-04 - KUAS CAT, KUAS UNTUK MASAK </el-option>
          <el-option class="select-primary" value="05-01">05-01 - BENDA-BENDA YANG DIPINTAL</el-option>
          <el-option class="select-primary" value="05-02">05-02 - RENDA</el-option>
          <el-option class="select-primary" value="03-05 ">03-05 - ALAT UNTUK MEMBAWA DAN BERJALAN DENGAN BAYI DAN
           ANAK-ANAK </el-option>
          <el-option class="select-primary" value="4">4 - Sikat</el-option>
          <el-option class="select-primary" value="01-01">01-01 - PRODUK ROTI, BISKUIT, PASTRI, PASTA DAN PRODUK SERELIA
           LAIN, COKLAT, KEMBANG GULA, ES</el-option>
          <el-option class="select-primary" value="3">3 - Barang-barang untuk keperluan Perjalanan, tabir surya, dan
           keperluan pribadi, yang belum tercantum</el-option>
          <el-option class="select-primary" value="03-01">03-01 - TRUNKS, KOPER, TAS DOKUMEN, TAS TANGAN, GANTUNGAN
           KUNCI, WADAH YANG DIDESAIN KHUSUS UNTUK ISINYA, DOMPET DAN BARANG-BARANG SERUPA </el-option>
          <el-option class="select-primary" value="03-03 ">03-03 - PAYUNG, TABIR SURYA, PENGHALANG SINAR MATAHARI DAN
           TONGKAT JALAN </el-option>
          <el-option class="select-primary" value="03-04 ">03-04 - KIPAS ANGIN</el-option>
          <el-option class="select-primary" value="04-99">04-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="5">5 - Barang-barang potongan tekstil, bahan lembaran alami dan
           buatan</el-option>
          <el-option class="select-primary" value="1">1 - Bahan Makanan</el-option>
          <el-option class="select-primary" value="05-03">05-03 - BORDIR</el-option>
          <el-option class="select-primary" value="06-01">06-01 - TEMPAT DUDUK</el-option>
          <el-option class="select-primary" value="06-05">06-05 - MEBEL CAMPURAN</el-option>
          <el-option class="select-primary" value="06-08">06-08 - GANTUNGAN BAJU</el-option>
          <el-option class="select-primary" value="06-09">06-09 - KASUR DAN BANTAL</el-option>
          <el-option class="select-primary" value="07-01">07-01 - PORSELEN, BARANG PECAH BELAH, PIRING DAN BENDA-BENDA
           LAINNYA YANG SERUPA</el-option>
          <el-option class="select-primary" value="07-04">07-04 - PERALATAN DAN PERLENGKAPAN, YANG DIOPERASIKAN DENGAN
           TANGAN, UNTUK MENYIAPKAN MAKANAN ATAU MINUMAN </el-option>
          <el-option class="select-primary" value="05-06">05-06 - BAHAN LEMBARAN ALAMI ATAU BUATAN</el-option>
          <el-option class="select-primary" value="05-99">05-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="06-03">06-03 - MEJA DAN MEBEL YANG SERUPA</el-option>
          <el-option class="select-primary" value="05-02">05-02 - RENDA</el-option>
          <el-option class="select-primary" value="06-99">06-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="06-11">06-11 - KARPET, TIKAR, PERMADANI</el-option>
          <el-option class="select-primary" value="07-05">07-05 - SETRIKA, DAN PERALATAN UNTUK MENCUCI, MEMBERSIHKAN DAN
           MENGERINGKAN</el-option>
          <el-option class="select-primary" value="07-08">07-08 - PERALATAN PERAPIAN</el-option>
          <el-option class="select-primary" value="07-10">07-10 - PERANGKAT PENDINGIN DAN PEMBEKUAN DAN WADAH
           ISOTERMIS</el-option>
          <el-option class="select-primary" value="08-02">08-02 - PALU, PERKAKAS SEJENIS DAN PENGGUNAANNYA</el-option>
          <el-option class="select-primary" value="08-05">08-05 - PERKAKAS LAIN DAN PENGGUNAANNYA</el-option>
          <el-option class="select-primary" value="08-06">08-06 - ENGKOL, TOMBOL PINTU, DAN ENGSEL</el-option>
          <el-option class="select-primary" value="08-07">08-07 - ALAT UNTUK MENGUNCI ATAU MENUTUP</el-option>
          <el-option class="select-primary" value="08-99">08-99 - LAIN - LAIN </el-option>
          <el-option class="select-primary" value="9">9 - Kemasan dan wadah untuk pengiriman atau pengemasan
           barang</el-option>
          <el-option class="select-primary" value="09-02">09-02 - WADAH KALENG, DRUM DAN KAYU </el-option>
          <el-option class="select-primary" value="09-04">09-04 - KERANJANG ANYAMAN, KERAT DAN KERANJANG </el-option>
          <el-option class="select-primary" value="09-05">09-05 - TAS, SASET, TABUNG, DAN KAPSUL</el-option>
          <el-option class="select-primary" value="09-09">09-09 - WADAH SAMPAH DAN DUDUKANNYA</el-option>
          <el-option class="select-primary" value="10">10 - Jam dinding dan jam tangan dan alat ukur lainnya, alat
           pemeriksa dan pemberi tanda</el-option>
          <el-option class="select-primary" value="10-01">10-01 - JAM DAN JAM ALARM</el-option>
          <el-option class="select-primary" value="10-03">10-03 - ALAT PENGUKUR WAKTU LAINNYA</el-option>
          <el-option class="select-primary" value="10-99">10-99 - LAIN - LAIN </el-option>
          <el-option class="select-primary" value="11">11 - Barang-barang Perhiasan</el-option>
          <el-option class="select-primary" value="11-99">11-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="13-02">13-02 - TRAFO DAYA, PENYEARAH GELOMBANG, BATERAI DAN
           AKI</el-option>
          <el-option class="select-primary" value="13-03">13-03 - PERALATAN UNTUK DISTRIBUSI ATAU PENGATUR TENAGA
           LISTRIK</el-option>
          <el-option class="select-primary" value="13-99">13-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="14-04">14-04 - LAYAR PENAMPANG (SCREEN DISPLAYS) AND IKON
           (ICONS)</el-option>
          <el-option class="select-primary" value="14-06">14-06 - PEGANGAN, TIANG DAN PENDUKUNG PERALATAN ELEKTRONIK,
           TIDAK TERMASUK DI KELAS LAINNYA,</el-option>
          <el-option class="select-primary" value="15">15 - Permesinan, yang belum dispesifikasikan</el-option>
          <el-option class="select-primary" value="15-03">15-03 - MESIN PERTANIAN DAN KEHUTANAN</el-option>
          <el-option class="select-primary" value="15-04">15-04 - MESIN KONSTRUKSI DAN PERTAMBANGAN</el-option>
          <el-option class="select-primary" value="15-09">15-09 - PERALATAN MESIN, MESIN PENGAMPLAS DAN MESIN
           PENGECORAN</el-option>
          <el-option class="select-primary" value="15-10">15-10 - MESIN UNTUK PENGARSIPAN, PEMBUNGKUSAN ATAU PENGEMASAN
          </el-option>
          <el-option class="select-primary" value="15-99">15-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="16-01">16-01 - KAMERA FOTOGRAFI DAN KAMERA FILM</el-option>
          <el-option class="select-primary" value="16-99">16-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="17-02">17-02 - INSTRUMEN ANGIN ( ALAT TIUP )</el-option>
          <el-option class="select-primary" value="17-03">17-03 - INSTRUMEN BERDAWAI (ALAT PETIK)</el-option>
          <el-option class="select-primary" value="18">18 - Mesin Cetak dan Perkantoran</el-option>
          <el-option class="select-primary" value="18-04">18-04 - MESIN PENJILID BUKU, MESIN PENSTAPLER PRINTER
           (PRINTERS' STAPLING MACHINES), GUILLOTINES DAN PEMANGKAS (UNTUK PENJILID BUKU)</el-option>
          <el-option class="select-primary" value="06-04">06-04 - MEBEL PENYIMPANAN </el-option>
          <el-option class="select-primary" value="06-07">06-07 - CERMIN DAN BINGKAI</el-option>
          <el-option class="select-primary" value="06-10">06-10 - GORDEN DAN TIRAI DALAM RUANGAN</el-option>
          <el-option class="select-primary" value="05-04">05-04 - PITA, JALINAN PITA DAN HIASAN DEKORATIF
           LAINNYA</el-option>
          <el-option class="select-primary" value="6">6 - Perabotan</el-option>
          <el-option class="select-primary" value="06-12">06-12 - PERMADANI HIASAN DINDING</el-option>
          <el-option class="select-primary" value="06-13">06-13 - SELIMUT DAN BAHAN-BAHAN PENUTUP LAINNYA, LINEN DAN
           SERBET RUMAH TANGGA</el-option>
          <el-option class="select-primary" value="10-07">10-07 - PEMBUNGKUS, TAS, TOMBOL, JARUM, DAN SEMUA BAGIAN LAIN
           DAN AKSESORIS UNTUK MENGUKUR, MEMERIKSA DAN MEMBERI SINYAL </el-option>
          <el-option class="select-primary" value="07-09">07-09 - TEMPAT DAN DUDUKAN UNTUK PERALATAN DAN PERLENGKAPAN
           RUMAH TANGGA</el-option>
          <el-option class="select-primary" value="8">8 - Perangkat dan perkakas</el-option>
          <el-option class="select-primary" value="08-03">08-03 - PERKAKAS POTONG DAN PENGGUNAANNYA</el-option>
          <el-option class="select-primary" value="08-04">08-04 - OBENG, PERKAKAS SEJENIS DAN PENGGUNAANNYA</el-option>
          <el-option class="select-primary" value="08-09">08-09 - CANTELAN LOGAM DAN PASANGANNYA UNTUK PINTU, JENDELA,
           DAN PERABOT, DAN ALAT SERUPA, TIDAK TERMASUK DALAM KELAS LAIN ATAU SUBKELAS</el-option>
          <el-option class="select-primary" value="08-10">08-10 - RAK SEPEDA DAN MOTOR</el-option>
          <el-option class="select-primary" value="09-01">09-01 - BOTOL, TERMOS, JAMBANGAN,GALON, BOTOL BERLEHER DAN
           WADAH DENGAN ALAT PENUANGAN YANG DINAMIS </el-option>
          <el-option class="select-primary" value="09-03">09-03 - KOTAK, TEMPAT, WADAH (PENGAWET) KALENG</el-option>
          <el-option class="select-primary" value="10-02">10-02 - JAM TANGAN</el-option>
          <el-option class="select-primary" value="11-03">11-03 - MEDALI DAN LENCANA</el-option>
          <el-option class="select-primary" value="13">13 - Perlengkapan untuk Produksi, Distribusi atau Transformasi
           Listrik</el-option>
          <el-option class="select-primary" value="13-01">13-01 - GENERATOR DAN MOTOR</el-option>
          <el-option class="select-primary" value="14">14 - Peralatan perekaman, telekomunikasi atau pengolahan
           data</el-option>
          <el-option class="select-primary" value="14-02">14-02 - PERALATAN PENGOLAHAN DATA SERTA PERANGKAT PENDUKUNG DAN
           PERLENGKAPAN</el-option>
          <el-option class="select-primary" value="15-06">15-06 - MESIN TEKSTIL, JAHITAN, KAIN, DAN BORDIR, TERMASUK
           BAGIAN INTEGRALNYA</el-option>
          <el-option class="select-primary" value="15-08">15-08 - [KOSONG]</el-option>
          <el-option class="select-primary" value="16">16 - Perangkat fotografi, sinematografi, dan optik</el-option>
          <el-option class="select-primary" value="16-05">16-05 - AKSESORIS</el-option>
          <el-option class="select-primary" value="17">17 - Instrumen Musikal</el-option>
          <el-option class="select-primary" value="19-01">19-01 - KARTU UNTUK SURAT MENYURAT DAN KARTU
           PENGUMUMAN</el-option>
          <el-option class="select-primary" value="19-05">19-05 - [KOSONG]</el-option>
          <el-option class="select-primary" value="19-06">19-06 - MATERIAL DAN INSTRUMEN UNTUK MENULIS DENGAN TANGAN,
           UNTUK MENGGAMBAR, MEMAHAT, MENGUKIR DAN TEKNIK SENI LAINNYA </el-option>
          <el-option class="select-primary" value="19-07">19-07 - BAHAN AJAR DAN PERALATANNYA </el-option>
          <el-option class="select-primary" value="19-99">19-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="20">20 - Peralatan, petunjuk penjualan dan periklanan. </el-option>
          <el-option class="select-primary" value="20-02">20-02 - PERALATAN PAMER (DISPLAY) DAN PENJUALAN</el-option>
          <el-option class="select-primary" value="06-02">06-02 - TEMPAT TIDUR</el-option>
          <el-option class="select-primary" value="06-06">06-06 - MEBEL LAINNYA DAN BAGIAN-BAGIAN MEBEL</el-option>
          <el-option class="select-primary" value="05-05">05-05 - KAIN TEKSTIL</el-option>
          <el-option class="select-primary" value="06 - 01">06 - 01 - TEMPAT DUDUK</el-option>
          <el-option class="select-primary" value="7">7 - BARANG-BARANG RUMAH TANGGA, YANG TIDAK DIRINCI DI KELAS LAINNYA
          </el-option>
          <el-option class="select-primary" value="07-02">07-02 - WADAH, PERALATAN DAN PERLENGKAPAN MASAK</el-option>
          <el-option class="select-primary" value="07-03">07-03 - SENDOK, GARPU, DAN PISAU MEJA</el-option>
          <el-option class="select-primary" value="07-07">07-07 - WADAH - WADAH RUMAH TANGGA LAINNYA</el-option>
          <el-option class="select-primary" value="08-08">08-08 - ALAT PENGENCANG, PENYANGGA, ATAU ALAT YANG HARUS
           DIRANGKAI BERPASANGAN, TIDAK TERMASUK DALAM KELAS LAIN</el-option>
          <el-option class="select-primary" value="08-11">08-11 - PERANGKAT KERAS UNTUK TIRAI</el-option>
          <el-option class="select-primary" value="09-08">09-08 - PALET DAN KERANGKA UNTUK TRUK GARPU</el-option>
          <el-option class="select-primary" value="09-10">09-10 - PEGANGAN DAN GAGANG UNTUK MEMINDAHKAN ATAU MEMEGANG
           KEMASAN DAN WADAH</el-option>
          <el-option class="select-primary" value="10-04">10-04 - ALAT, PERKAKAS, PERANGKAT PENGUKUR LAINNYA</el-option>
          <el-option class="select-primary" value="11-01">11-01 - Perhiasan</el-option>
          <el-option class="select-primary" value="13-04">13-04 - PERALATAN TENAGA SURYA</el-option>
          <el-option class="select-primary" value="14-01">14-01 - PERALATAN PEREKAMAN ATAU REPRODUKSI SUARA ATAU
           GAMBAR</el-option>
          <el-option class="select-primary" value="15-01">15-01 - MESIN</el-option>
          <el-option class="select-primary" value="15-05">15-05 - MESIN PENCUCI, PEMBERSIH DAN PENGERING</el-option>
          <el-option class="select-primary" value="16-02">16-02 - PROYEKTOR DAN PENAMPANG</el-option>
          <el-option class="select-primary" value="17-05">17-05 - INSTRUMEN MEKANIS</el-option>
          <el-option class="select-primary" value="18-01">18-01 - MESIN KETIK DAN MESIN HITUNG</el-option>
          <el-option class="select-primary" value="18-03">18-03 - HURUF (TYPE) DAN RUPA HURUF (TYPE FACES)</el-option>
          <el-option class="select-primary" value="18-99">18-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="19">19 - Alat tulis dan peralatan kantor, bahan ajar dan bahan seniman
           (artists' and teaching materials)</el-option>
          <el-option class="select-primary" value="19-04">19-04 - BUKU DAN BARANG LAIN DENGAN TAMPILAN LUAR YANG SERUPA
           (SIMILAR OUTWARD APPEARANCE)</el-option>
          <el-option class="select-primary" value="20-99">20-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="21-01">21-01 - PERMAINAN DAN MAINAN</el-option>
          <el-option class="select-primary" value="21-02">21-02 - PERALATAN DAN PERLENGKAPAN OLAHRAGA DAN
           GIMNASTIK</el-option>
          <el-option class="select-primary" value="21-04">21-04 - TENDA DAN AKSESORISNYA</el-option>
          <el-option class="select-primary" value="21-99">21-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="22">22 - Senjata, perlengkapan piroteknik, perlengkapan untuk berburu,
           memancing dan pembasmi hama</el-option>
          <el-option class="select-primary" value="22-01">22-01 - PROYEKTIL SENAPAN</el-option>
          <el-option class="select-primary" value="22-02">22-02 - SENJATA LAIN</el-option>
          <el-option class="select-primary" value="22-03">22-03 - AMUNISI, ROKET DAN PERLENGKAPAN PIROTEKNIK</el-option>
          <el-option class="select-primary" value="22-04">22-04 - TARGET DAN AKSESORIS</el-option>
          <el-option class="select-primary" value="23-07">23-07 - PERLENGKAPAN URINOIR DAN JAMBAN</el-option>
          <el-option class="select-primary" value="25-99">25-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="27-03">27-03 - ASBAK</el-option>
          <el-option class="select-primary" value="28">28 - Produk farmasi dan kosmetik, toilet articles and
           apparatus</el-option>
          <el-option class="select-primary" value="28-99">28-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="29-01">29-01 - ALAT DAN PERLENGKAPAN BAHAYA KEBAKARAN</el-option>
          <el-option class="select-primary" value="30">30 - Barang-barang untuk perawatan dan penanganan
           hewan</el-option>
          <el-option class="select-primary" value="30-03">30-03 - PENGUMPAN DAN PEMBERI MINUMAN</el-option>
          <el-option class="select-primary" value="12-12">12-12 - KERETA BAYI, KURSI RODA DAN TANDU</el-option>
          <el-option class="select-primary" value="12-99">12-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="26-04">26-04 - SUMBER CAHAYA, ELEKTRONIK ATAU TIDAK</el-option>
          <el-option class="select-primary" value="26-99">26-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="28-01">28-01 - PRODUK FARMASI</el-option>
          <el-option class="select-primary" value="23-99">23-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="24-01">24-01 - ALAT DAN PERLENGKAPAN UNTUK DOKTER, RUMAH SAKIT DAN
           LABORATORIUM</el-option>
          <el-option class="select-primary" value="24-03">24-03 - BAGIAN-BAGIAN PROSTETIK</el-option>
          <el-option class="select-primary" value="26">26 - Perangkat penerangan</el-option>
          <el-option class="select-primary" value="26-01">26-01 - LILIN DAN TEMPAT LILIN</el-option>
          <el-option class="select-primary" value="27">27 - Tembakau dan Sediaan perokok</el-option>
          <el-option class="select-primary" value="27-01">27-01 - TEMBAKAU, CERUTU, DAN ROKOK</el-option>
          <el-option class="select-primary" value="28-05">28-05 - PENYEGAR UDARA</el-option>
          <el-option class="select-primary" value="29">29 - Alat dan perlengkapan bahaya kebakaran, untuk pencegahan
           kecelakaan dan penyelamatan</el-option>
          <el-option class="select-primary" value="30-07">30-07 - TENGGERAN DAN PENYERTA KANDANG LAINNYA</el-option>
          <el-option class="select-primary" value="12-05">12-05 - LIFT DAN ALAT UNTUK MEMUAT ATAU MENGANGKUT
           BARANG</el-option>
          <el-option class="select-primary" value="12-07">12-07 - PESAWAT TERBANG DAN KAPAL LUAR ANGKASA</el-option>
          <el-option class="select-primary" value="12-13">12-13 - KENDARAAN KHUSUS</el-option>
          <el-option class="select-primary" value="23-06">23-06 - PERLENGKAPAN SANITASI UNTUK PRIBADI</el-option>
          <el-option class="select-primary" value="23-08">23-08 - PERLENGKAPAN SANITASI LAINNYA DAN AKSESORIS YANG TIDAK
           TERMASUK DI DALAM KELAS ATAU SUBKELAS LAINNYA</el-option>
          <el-option class="select-primary" value="24-99">24-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="26-02">26-02 - SENTER DAN LAMPU GENGGAM DAN LENTERA</el-option>
          <el-option class="select-primary" value="26-03">26-03 - ALAT PENCAHAYAAN PUBLIK</el-option>
          <el-option class="select-primary" value="27-07">27-07 - ROKOK ELEKTRIK</el-option>
          <el-option class="select-primary" value="28-02">28-02 - PRODUK KOSMETIK</el-option>
          <el-option class="select-primary" value="30-10">30-10 - BARANG-BARANG PERAWATAN UNTUK HEWAN</el-option>
          <el-option class="select-primary" value="30-99">30-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="12-01">12-01 - KENDARAAN YANG DITARIK OLEH HEWAN</el-option>
          <el-option class="select-primary" value="12-06">12-06 - KAPAL DAN PERAHU</el-option>
          <el-option class="select-primary" value="12-09">12-09 - TRAKTOR</el-option>
          <el-option class="select-primary" value="12-10">12-10 - KENDARAAN TRAILER</el-option>
          <el-option class="select-primary" value="23-05">23-05 - BAHAN BAKAR PADAT</el-option>
          <el-option class="select-primary" value="24">24 - Perlengkapan medis dan laboratorium</el-option>
          <el-option class="select-primary" value="25-02">25-02 - BAHAN BANGUNAN YANG DISUSUN SEBELUMNYA</el-option>
          <el-option class="select-primary" value="25-03">25-03 - RUMAH, GARASI DAN BANGUNAN LAINNYA</el-option>
          <el-option class="select-primary" value="27-05">27-05 - PEMANTIK API</el-option>
          <el-option class="select-primary" value="31-00">31-00 - MESIN DAN PERALATAN UNTUK MENYIAPKAN MAKANAN ATAU
           MINUMAN, TIDAK TERCANTUM DI BAGIAN LAIN</el-option>
          <el-option class="select-primary" value="32">32 - Simbol dan logo grafis, motif, ornamen </el-option>
          <el-option class="select-primary" value="12-08">12-08 - MOTOR, MOBIL, BIS DAN LORI</el-option>
          <el-option class="select-primary" value="20-03">20-03 - PETUNJUK, PAPAN PETUNJUK DAN PERANGKAT
           IKLAN</el-option>
          <el-option class="select-primary" value="23-04">23-04 - PERLENGKAPAN VENTILASI DAN PENDINGIN
           RUANGAN</el-option>
          <el-option class="select-primary" value="25-01">25-01 - BAHAN BANGUNAN</el-option>
          <el-option class="select-primary" value="27-06">27-06 - TEMPAT CERUTU, TEMPAT ROKOK, TOPLES DAN KANTONG
           TEMBAKAU</el-option>
          <el-option class="select-primary" value="29-02">29-02 - ALAT DAN PERLENGKAPAN UNTUK PENCEGAHAN KECELAKAAN DAN
           PENYELAMATAN, BELUM TERCANTUM</el-option>
          <el-option class="select-primary" value="30-08">30-08 - BAUT, MUR DAN SEGEL (PENANDA)</el-option>
          <el-option class="select-primary" value="30-12">30-12 - MAINAN UNTUK HEWAN</el-option>
          <el-option class="select-primary" value="32-00">32-00 - SIMBOL DAN LOGO GRAFIS, MOTIF, ORNAMEN</el-option>
          <el-option class="select-primary" value="12-03">12-03 - LOKOMOTIF DAN LORI KERETA API DAN SEMUA KENDARAAN/ALAT
           ANGKUT YANG MENGGUNAKAN REL</el-option>
          <el-option class="select-primary" value="12-11">12-11 - SEPEDA DAN KENDARAAN BERMOTOR</el-option>
          <el-option class="select-primary" value="12-16">12-16 - BAGIAN-BAGIAN, PERALATAN DAN AKSESORIS UNTUK KENDARAAN,
           YANG TIDAK TERMASUK DI KELAS ATAU SUB KELAS LAIN</el-option>
          <el-option class="select-primary" value="24-02">24-02 - PERALATAN MEDIS, PERALATAN DAN PERLENGKAPAN UNTUK
           KEPERLUAN LABORATORIUM</el-option>
          <el-option class="select-primary" value="25-04">25-04 - ANAK TANGGA, TANGGA, DAN PERANCAH</el-option>
          <el-option class="select-primary" value="26-06">26-06 - PERANGKAT PENERANGAN UNTUK KENDARAAN</el-option>
          <el-option class="select-primary" value="27-02">27-02 - CANGKLONG, PEGANGAN CERUTU DAN ROKOK</el-option>
          <el-option class="select-primary" value="27-99">27-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="28-03">28-03 - PERALATAN MANDI DAN KECANTIKAN </el-option>
          <el-option class="select-primary" value="28-04">28-04 - RAMBUT PALSU DAN BARANG-BARANG KECANTIKAN
           TAMBAHAN</el-option>
          <el-option class="select-primary" value="30-01">30-01 - PAKAIAN HEWAN</el-option>
          <el-option class="select-primary" value="30-02">30-02 - KERANGKENG, KANDANG, TEMPAT PEMBIAKAN DAN TEMPAT
           PENAMPUNGAN SERUPA</el-option>
          <el-option class="select-primary" value="30-06">30-06 - ALAS TIDUR, SARANG, DAN FURNITUR UNTUK
           HEWAN</el-option>
          <el-option class="select-primary" value="30-09">30-09 - POS PENGEKANG (TIANG PENGIKAT)</el-option>
          <el-option class="select-primary" value="30-11">30-11 - PERLENGKAPAN UNTUK MEMINDAHKAN KOTORAN
           HEWAN</el-option>
          <el-option class="select-primary" value="31">31 - Mesin dan peralatan untuk menyiapkan makanan atau minuman,
           belum tercantum</el-option>
          <el-option class="select-primary" value="01-06">01-06 - BAHAN MAKANAN HEWAN </el-option>
          <el-option class="select-primary" value="12-02">12-02 - KERETA TANGAN, KERETA DORONG</el-option>
          <el-option class="select-primary" value="12-15">12-15 - BAN DAN RANTAI ANTI SLIP UNTUK KENDARAAN</el-option>
          <el-option class="select-primary" value="12-17">12-17 - KOMPONEN INFRASTRUKTUR PERKERETAAPIAN</el-option>
          <el-option class="select-primary" value="23-03">23-03 - PERLENGKAPAN PEMANAS</el-option>
          <el-option class="select-primary" value="24-04">24-04 - BAHAN UNTUK PERBAN LUKA, PERAWATAN DAN PEMELIHARAAN
           MEDIS</el-option>
          <el-option class="select-primary" value="25">25 - Unit bangunan dan unsur kontruksi</el-option>
          <el-option class="select-primary" value="26-05">26-05 - LAMPU, LAMPU STANDAR, LAMPU GANTUNG, LAMPU DINDING DAN
           LANGIT-LANGIT, KAP LAMPU, LAMPU REFLEKSI, FOTOGRAFI, DAN SINEMATOGRAFI</el-option>
          <el-option class="select-primary" value="27-04">27-04 - KOREK API</el-option>
          <el-option class="select-primary" value="29-99">29-99 - LAIN - LAIN</el-option>
          <el-option class="select-primary" value="30-04">30-04 - SADEL (PELANA)</el-option>
          <el-option class="select-primary" value="30-05">30-05 - CAMBUK DAN CEMETI</el-option>
          <el-option class="select-primary" value="12">12 - Alat-alat transportasi dan pengangkat</el-option>
          <el-option class="select-primary" value="12-04">12-04 - KERETA GANTUNG, LIFT KURSI DAN LIFT PEMAIN
           SKI</el-option>
          <el-option class="select-primary" value="12-14">12-14 - KENDARAAN LAIN</el-option>
         </el-select>
        </div>
        <div class="form-group mr-2">
         <!-- <el-select v-model="selectedKelas" multiple collapse-tags style="width: 100%">
                    <el-option v-for="(data, i) in designClassData" :key="i" :value="data.NO_KELAS" class="select-primary">
                      {{
                        data.NO_KELAS
                      }}
                    </el-option>
                  </el-select> -->
         <el-select v-model="selectedKelas" collapse-tags style="width: 100%">
          <el-option class="select-primary" selected value="1">1</el-option>
          <el-option class="select-primary" value="2">2</el-option>
          <el-option class="select-primary" value="3">3</el-option>
          <el-option class="select-primary" value="4">4</el-option>
          <el-option class="select-primary" value="5">5</el-option>
          <el-option class="select-primary" value="6">6</el-option>
          <el-option class="select-primary" value="7">7</el-option>
          <el-option class="select-primary" value="8">8</el-option>
          <el-option class="select-primary" value="9">9</el-option>
          <el-option class="select-primary" value="10">10</el-option>
          <el-option class="select-primary" value="11">11</el-option>
          <el-option class="select-primary" value="12">12</el-option>
          <el-option class="select-primary" value="13">13</el-option>
          <el-option class="select-primary" value="14">14</el-option>
          <el-option class="select-primary" value="15">15</el-option>
          <el-option class="select-primary" value="16">16</el-option>
          <el-option class="select-primary" value="17">17</el-option>
          <el-option class="select-primary" value="18">18</el-option>
          <el-option class="select-primary" value="19">19</el-option>
          <el-option class="select-primary" value="20">20</el-option>
          <el-option class="select-primary" value="21">21</el-option>
          <el-option class="select-primary" value="22">22</el-option>
          <el-option class="select-primary" value="23">23</el-option>
          <el-option class="select-primary" value="24">24</el-option>
          <el-option class="select-primary" value="25">25</el-option>
          <el-option class="select-primary" value="26">26</el-option>
          <el-option class="select-primary" value="27">27</el-option>
          <el-option class="select-primary" value="28">28</el-option>
          <el-option class="select-primary" value="29">29</el-option>
          <el-option class="select-primary" value="30">30</el-option>
          <el-option class="select-primary" value="31">31</el-option>
          <el-option class="select-primary" value="32">32</el-option>
          <el-option class="select-primary" value="33">33</el-option>
          <el-option class="select-primary" value="34">34</el-option>
          <el-option class="select-primary" value="35">35</el-option>
          <el-option class="select-primary" value="36">36</el-option>
          <el-option class="select-primary" value="37">37</el-option>
          <el-option class="select-primary" value="38">38</el-option>
          <el-option class="select-primary" value="39">39</el-option>
          <el-option class="select-primary" value="40">40</el-option>
          <el-option class="select-primary" value="41">41</el-option>
          <el-option class="select-primary" value="42">42</el-option>
          <el-option class="select-primary" value="43">43</el-option>
          <el-option class="select-primary" value="44">44</el-option>
          <el-option class="select-primary" value="45">45</el-option>
         </el-select>
        </div>
        <div class="form-group mr-2">
         <el-select v-model="detailImgFilter" style="width: 100%" placeholder="Select Perspektif" clearable>
          <el-option v-for="(data, i) in detailImgData" :key="i" :value="data">
           {{ data }}
          </el-option>
         </el-select>
        </div>
        <div class="form-group mr-2">
         <el-select v-model="scoreFitler" style="width: 100%">
          <el-option v-for="(data, i) in scoreData" :key="i" :value="data">
           {{ `${data} %` }}
          </el-option>
         </el-select>
        </div>
       </div>
       <div class="col-6">
        <div class="row form-group mr-2">
         <div class="col">
          Tgl Permohonan:
         </div>
         <div class="col">
          <el-date-picker v-model="tglPermohonanStartDate" type="date" placeholder="Start Date" class="date-picker"
           clearable />
         </div>
         <div class="col">
          <el-date-picker v-model="tglPermohonanEndDate" type="date" placeholder="End Date" class="date-picker"
           clearable />
         </div>
        </div>
        <div class="row form-group mr-2">
         <div class="col">
          Tgl Terdaftar:
         </div>
         <div class="col">
          <el-date-picker v-model="tglTerdaftarStartDate" type="date" placeholder="Start Date" class="date-picker"
           clearable />
         </div>
         <div class="col">
          <el-date-picker v-model="tglTerdaftarEndDate" type="date" placeholder="End Date" class="date-picker"
           clearable />
         </div>
        </div>
        <div class="row mr-2" style="margin-bottom: 10px">
         <div class="col-4">
          Status:
         </div>
         <div class="col">
          <div class="form-check form-check-inline">
           <input id="inlineCheckbox1" v-model="checkedStatus" class="form-check-input" type="checkbox" value="1">
           <label class="form-check-label" for="inlineCheckbox1">Berakhir</label>
          </div>
          <div class="form-check form-check-inline">
           <input id="inlineCheckbox2" v-model="checkedStatus" class="form-check-input" type="checkbox" value="2">
           <label class="form-check-label" for="inlineCheckbox2">Dalam Proses</label>
          </div>
          <div class="form-check form-check-inline">
           <input id="inlineCheckbox3" v-model="checkedStatus" class="form-check-input" type="checkbox" value="3">
           <label class="form-check-label" for="inlineCheckbox3">Dibatalkan</label>
          </div>
         </div>
         <div class="col">
          <div class="form-check form-check-inline">
           <input id="inlineCheckbox4" v-model="checkedStatus" class="form-check-input" type="checkbox" value="4">
           <label class="form-check-label" for="inlineCheckbox4">Diberi</label>
          </div>
          <div class="form-check form-check-inline">
           <input id="inlineCheckbox5" v-model="checkedStatus" class="form-check-input" type="checkbox" value="5">
           <label class="form-check-label" for="inlineCheckbox5">Dimigrasikan</label>
          </div>
          <div class="form-check form-check-inline">
           <input id="inlineCheckbox6" v-model="checkedStatus" class="form-check-input" type="checkbox" value="6">
           <label class="form-check-label" for="inlineCheckbox6">Ditarik Kembali</label>
          </div>
          <div class="form-check form-check-inline">
           <input id="inlineCheckbox7" v-model="checkedStatus" class="form-check-input" type="checkbox" value="7">
           <label class="form-check-label" for="inlineCheckbox7">Ditolak</label>
          </div>
         </div>
        </div>
        <div class="row">
         <div class="col-4" />
         <div class="col">
          <el-button style="background-color: #ced4da; float: right" @click="clearSearch">
           Reset
          </el-button>
         </div>
         <div class="col">
          <el-button id="btnsrch" icon="el-icon-search" class="btn btn-primary round"
           style="background-color: #313e5e;height: 40px;" @click="getDataDI">
           Cari
          </el-button>
         </div>
        </div>
       </div>
      </div>
     </div>
     <!-- <div class="d-flex justify-content-center"></div> -->
     <!-- <div class="d-flex justify-content-center mx-2 my-2"></div> -->

     <!-- <div class="d-flex justify-content-center" :style="{ gap: '15px' }"> -->
     <!--<div class="mr-2">
             <span class="mr-2">Tgl Expired: </span>
             <div class="date-container">
               <el-date-picker
                 v-model="tglExpiredStartDate"
                 type="date"
                 placeholder="Start Date"
                 class="date-picker"
                 clearable
               >
               </el-date-picker>
               <div>sampai</div>
               <el-date-picker
                 v-model="tglExpiredEndDate"
                 type="date"
                 placeholder="End Date"
                 class="date-picker"
                 clearable
               >
               </el-date-picker>
             </div>
           </div>-->
     <!-- </div> -->
    </div>
   </div>
  </div>
  <index :result-data="searchResult" :show-result="showResult" />
 </div>
</template>

<script>
import api from "./api"
import ImageUploader from "../../../components/imageUploader.vue"
import Index from "../../search-result-DI/index.vue"
import { Loading } from "element-ui"

export default {
 components: {
  ImageUploader,
  Index
 },
 data() {
  return {
   loadingData: {},
   showResult: false,
   image: {},
   noPermohonan: "",
   text: "",
   logic: "and",
   tglPermohonanStartDate: null,
   tglPermohonanEndDate: null,
   tglTerdaftarStartDate: null,
   tglTerdaftarEndDate: null,
   tglExpiredStartDate: null,
   tglExpiredEndDate: null,
   checkedStatus: [],
   designClassData: [],
   selectedKelasBaru: [],
   selectedKelas: ["semua"],
   dataSearchedByText: [],
   isSearchByImage: false,
   searchResult: [],
   detailImgData: [
    "Tampak Perspektif",
    "Tampak Atas",
    "Tampak Bawah",
    "Tampak Depan",
    "Tampak Belakang",
    "Tampak Kiri",
    "Tampak Kanan"
   ],
   detailImgFilter: "",
   scoreData: [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50],
   scoreFitler: 75
  }
 },
 computed: {
  payloadForSearch() {
   return {
    // FILE_IMAGE: "image-1634897124610.png" ,
    FILE_IMAGE: this.image.FILE_IMAGE,
    noPermohonan: this.noPermohonan,
    option: "des_in",
    text: this.text,
    kelas: this.selectedKelas,
    status: this.checkedStatus,
    tglPermohonan: this.tglPermohonan,
    tglTerdaftar: this.tglTerdaftar,
    tglExpired: this.tglExpired,
    logic: "or",
    toleransi: this.scoreFitler
   }
  }
 },
 watch: {
  // tglPermohonan (data) {
  //   console.log(data)
  //   const newDate = []
  //   for (let i = 0; i < data.length; i++) {
  //     const changeDate = data[i].toLocaleDateString('id-ID').split('/')
  //     newDate.push(`${changeDate[0]}-${changeDate[1]}-${changeDate[2]}`)
  //   }
  //   console.log(newDate)
  //   this.permohonan = newDate
  // }
 },
 mounted() {
  this.getClass()
  // this.testMixSearchApi()
 },
 methods: {
  changeSearch(searchType) {
   switch (searchType) {
    case "merek":
     if (this.$route.name !== "merek-search-result") {
      this.$router.push({ name: "merek-search-result" })
     }
     break
    case "paten":
     if (this.$route.name !== "Paten") {
      this.$router.push({ name: "Paten" })
     }
     break
    case "DI":
     if (this.$route.name !== "desain-industri-search-result") {
      this.$router.push({ name: "desain-industri-search-result" })
     }
     break
    case "desin":
     window.location = "https://www3.wipo.int/designdb/en/"
     break
    case "external":
     if (this.$route.name !== "uploadExternal") {
      this.$router.push({ name: "uploadExternal" })
     }
     break
    default:
     return ""
   }
  },
  filterByPerspektif(data) {
   switch (this.detailImgFilter) {
    case "Tampak Perspektif":
     return data.filter(d => d.FILE_IMAGE.includes("TampakPerspektif"))
    case "Tampak Atas":
     return data.filter(d => d.FILE_IMAGE.includes("TampakAtas"))
    case "Tampak Bawah":
     return data.filter(d => d.FILE_IMAGE.includes("TampakBawah"))
    case "Tampak Depan":
     return data.filter(d => d.FILE_IMAGE.includes("TampakDepan"))
    case "Tampak Belakang":
     return data.filter(d => d.FILE_IMAGE.includes("TampakBelakang"))
    case "Tampak Kiri":
     return data.filter(d => d.FILE_IMAGE.includes("TampakKiri"))
    case "Tampak Kanan":
     return data.filter(d => d.FILE_IMAGE.includes("TampakKanan"))
    default:
     return data
   }
  },
  async getDataDI() {
   try {
    // if (this.text.length > 0) {
    //   const data = await this.getDataByTextDI()
    //   console.log('phonetic result', data)
    //   this.searchResult = data
    // } else if (Object.keys(this.image).length > 0) {
    //   const data = await this.getDataByImageDI()
    //   this.searchResult = data.hits.hits
    // }
    this.loadingData = Loading.service({
     fullscreen: true,
     lock: true
    })
    const payload = {
     FILE_IMAGE: this.image.FILE_IMAGE,
     noPermohonan: this.noPermohonan,
     option: "des_in",
     text: this.text,
     kelas: this.selectedKelas,
     status: this.checkedStatus,
     tglPermohonan:
      this.tglPermohonanStartDate || this.tglPermohonanEndDate
       ? this.changeDateFormat([
        this.tglPermohonanStartDate,
        this.tglPermohonanEndDate
       ])
       : [this.tglPermohonanStartDate, this.tglPermohonanEndDate],
     tglTerdaftar:
      this.tglTerdaftarStartDate || this.tglTerdaftarEndDate
       ? this.changeDateFormat([
        this.tglTerdaftarStartDate,
        this.tglTerdaftarEndDate
       ])
       : [this.tglTerdaftarStartDate, this.tglTerdaftarEndDate],
     tglExpired:
      this.tglExpiredStartDate || this.tglExpiredEndDate
       ? this.changeDateFormat([
        this.tglExpiredStartDate,
        this.tglExpiredEndDate
       ])
       : [this.tglExpiredStartDate, this.tglExpiredEndDate],
     logic: "or",
     toleransi: this.scoreFitler
    }
    console.log("payload search", payload)
    console.log("file ada ? ", this.image)

    if (Object.keys(this.image).length === 0) {
     // CARI BIASA
     console.log('Cari biasa')
     const data = await api.search_no_image(payload)
     /*const data = [{"NOMOR_PERMOHONAN":"IDD000002639","SCOREBYIMAGE":3,"JUDUL_INVENSI":"KARUNG PEMBUNGKUS MAKANAN IKAN BANDENG  (TYPE 784) ","KELAS_ID":"09-05","FILENAME":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201558/9711119.jpg","FILE_IMAGE":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201558/9711119.jpg"},{"NOMOR_PERMOHONAN":"IDD000002627","SCOREBYIMAGE":3,"JUDUL_INVENSI":"KARUNG  PEMBUNGKUS  MAKANAN  IKAN (   TYPE  788 - 2   )","KELAS_ID":"09-05","FILENAME":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201546/9711107.jpg","FILE_IMAGE":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201546/9711107.jpg"},{"NOMOR_PERMOHONAN":"IDD000002628","SCOREBYIMAGE":3,"JUDUL_INVENSI":"KARUNG PEMBUNGKUS MAKANAN IKAN BANDENG (TYPE 785) ","KELAS_ID":"09-05","FILENAME":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201547/9711108.jpg","FILE_IMAGE":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201547/9711108.jpg"},{"NOMOR_PERMOHONAN":"IDD000002629","SCOREBYIMAGE":3,"JUDUL_INVENSI":"KARUNG PEMBUNGKUS MAKANAN IKAN  (TYPE 782) ","KELAS_ID":"09-05","FILENAME":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201548/9711109.jpg","FILE_IMAGE":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201548/9711109.jpg"},{"NOMOR_PERMOHONAN":"IDD000002630","SCOREBYIMAGE":3,"JUDUL_INVENSI":"KARUNG PEMBUNGKUS MAKANAN IKAN  (TYPE 888-S) ","KELAS_ID":"09-05","FILENAME":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201549/9711110.jpg","FILE_IMAGE":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201549/9711110.jpg"},{"NOMOR_PERMOHONAN":"IDD000002631","SCOREBYIMAGE":3,"JUDUL_INVENSI":"KARUNG PEMBUNGKUS MAKANAN IKAN  (TYPE 788) ","KELAS_ID":"09-05","FILENAME":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201550/9711111.jpg","FILE_IMAGE":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201550/9711111.jpg"},{"NOMOR_PERMOHONAN":"IDD000002632","SCOREBYIMAGE":3,"JUDUL_INVENSI":"KARUNG PEMBUNGKUS MAKANAN IKAN  (TYPE 888S-4) ","KELAS_ID":"09-05","FILENAME":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201551/9711112.jpg","FILE_IMAGE":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201551/9711112.jpg"},{"NOMOR_PERMOHONAN":"IDD000002633","SCOREBYIMAGE":3,"JUDUL_INVENSI":"KARUNG PEMBUNGKUS MAKANAN IKAN  (TYPE 888) ","KELAS_ID":"09-05","FILENAME":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201552/9711113.jpg","FILE_IMAGE":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201552/9711113.jpg"},{"NOMOR_PERMOHONAN":"IDD000002634","SCOREBYIMAGE":3,"JUDUL_INVENSI":"KARUNG PEMBUNGKUS MAKANAN IKAN  (TYPE 789) ","KELAS_ID":"09-05","FILENAME":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201553/9711114.jpg","FILE_IMAGE":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201553/9711114.jpg"},{"NOMOR_PERMOHONAN":"IDD000002635","SCOREBYIMAGE":3,"JUDUL_INVENSI":"KARUNG PEMBUNGKUS MAKANAN BURUNG  (TYPE BP-2) ","KELAS_ID":"09-05","FILENAME":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201554/9711115.jpg","FILE_IMAGE":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201554/9711115.jpg"},{"NOMOR_PERMOHONAN":"IDD000002636","SCOREBYIMAGE":3,"JUDUL_INVENSI":"KARUNG PEMBUNGKUS MAKANAN IKAN BANDENG  (TYPE 783) ","KELAS_ID":"09-05","FILENAME":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201555/9711116.jpg","FILE_IMAGE":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201555/9711116.jpg"},{"NOMOR_PERMOHONAN":"IDD000002637","SCOREBYIMAGE":3,"JUDUL_INVENSI":"KARUNG PEMBUNGKUS MAKANAN IKAN LELE  (TYPE 781) ","KELAS_ID":"09-05","FILENAME":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201556/9711117.jpg","FILE_IMAGE":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201556/9711117.jpg"},{"NOMOR_PERMOHONAN":"IDD000002638","SCOREBYIMAGE":3,"JUDUL_INVENSI":"KARUNG PEMBUNGKUS MAKANAN IKAN LELE  (TYPE 781-2) ","KELAS_ID":"09-05","FILENAME":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201557/9711118.jpg","FILE_IMAGE":"https://pdki-indonesia-api.dgip.go.id/storage/data-DI/uploads/logo-di/2002/FILES/A00200201557/9711118.jpg"}]*/
     //  console.log("phonetic result", data)
     console.log("nih", data.data)
     const newData = this.filterByPerspektif(data.data)
     //  console.log("filter by perspektif", newData)
     this.searchResult = []
     this.searchResult = newData
     this.showResult = true

     const resultTab = this.$el.querySelector(".result-card-container")
     setTimeout(() => {
      this.loadingData.close()
      resultTab.scrollIntoView({ behavior: "smooth" })
     }, 500)
     // CARI BIASA
    } else {
     // CARI BY IMAGE
     console.log('Cari by image')
     // CARI BY IMAGE
    }

    // this.tglPermohonan = this.changeDateFormat(this.tglPermohonan)
    // this.tglTerdaftar = this.changeDateFormat(this.tglTerdaftar)
    // this.tglExpired = this.changeDateFormat(this.tglExpired)
    // const data = await api.search(payload)

    // if (this.searchResult.length > 0) {
    //   // this.$emit('afterSearch', this.searchResult)
    // }
   } catch (error) {
    this.loadingData.close()
    console.log("error", error)
   }
  },
  async getDataByTextDI() {
   try {
    const data = await api.getDataByText(this.selectedKelas[0], this.text)
    console.log("data", data)
    const newData = []
    for (let i = 0; i < data.length; i++) {
     const _source = {
      no_permohonan: data[i].NOMOR_PERMOHONAN,
      kelas: data[i].KELAS_ID,
      FILE_IMAGE: `${data[i].NOMOR_PERMOHONAN}_${data[i].ID}_TampakAtas.jpg`,
      judul_invensi: data[i].JUDUL_INVENSI
     }
     newData.push({ _score: data[i].SCORE / 100, _source })
    }
    console.log("newData", newData)
    return newData
    // this.dataSearchedByText = data
   } catch (err) {
    console.log(err)
   }
  },
  async getDataByImageDI() {
   try {
    const { data } = await api.getDataByImageDI(this.image.FILE_IMAGE)
    console.log("data by image", data)
    return data
   } catch (err) {
    console.log(err)
   }
  },
  changeDateFormat(data) {
   console.log("changeDateFormat", data)
   const newDate = []
   if (data.length !== 0) {
    for (let i = 0; i < data.length; i++) {
     if (data[i] !== null) {
      const changeDate = data[i].toLocaleDateString("id-ID").split("/")
      newDate.push(`${changeDate[0]}-${changeDate[1]}-${changeDate[2]}`)
     } else {
      newDate.push(null)
     }
    }
   }
   console.log(newDate)
   return newDate
  },
  async handleImages(files) {
   try {
    if (files.length < 1) {
     this.image = {}
    } else {
     console.log("files", files)
     console.log(files[0].name)
     const fd = new FormData()
     fd.append("upload_images", files[0])
     this.image = files[0].name

     // console.log(...fd)
     // const { data } = await api.uploadDIImage(fd)
     // console.log("data", data.file)
     // this.image = data.file
    }
   } catch (err) {
    console.log("err", err)
   }
  },
  async getClass() {
   try {
    const data = await api.getDesignClass()
    data.unshift({ NO_KELAS: "semua" })
    this.designClassData = data
   } catch (error) {
    console.log(error)
   }
  },
  handleCheckedStatusChange(value) {
   this.checkedStatus = value
  },
  goToPaten() {
   this.$router.push("/paten")
  }
 }
}
</script>

<style scoped>@import "./di.css";</style>
