<template>
  <div class="main-container">
    <div class="box-container">
      <h1>Internasional Paten Data</h1>
      <el-input
        v-model="nomor_patent"
        type="text"
        placeholder="Masukkan Nomor PCT"
        style="width: 400px;"
      />
      <div class="d-flex justify-content-center" style="margin-top: 8px;">
        <el-button type="primary" :disabled="nomor_patent ? false : true" @click="submit">
          Submit
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
import api from './api.js'
export default {
  data() {
    return {
      nomor_patent: ''
    }
  },
  methods: {
    async submit() {
      const payload = {
        pct: this.nomor_patent
      }
      console.log(payload)
      // await api.submitPCT(payload)
      var constData = await api.submitPCT(payload)
      console.log(constData)
      this.$message({
        message: 'Success',
        type: 'success'
      })
    }
  }
}
</script>

<style scoped>
  .main-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .list-container {
    background-color: white;
    max-height: 25vh;
    max-width: 30vw;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    overflow: auto;
    font-size: medium;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #999;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  .list-item {
    padding: 1px 10px;
    cursor: pointer;
  }

  .list-item:hover {
    background-color: rgb(125, 197, 245, 0.2);
  }

  .list-item-disable {
    cursor: pointer;
    padding: 1px 10px;
    background-color: rgb(125, 197, 245, 0.3);
  }

  .list-item-disable:hover {
    background-color: rgb(125, 197, 245, 0.5);
  }
</style>
