<template>
  <div class="main-container">
    <div class="main-content">
      <!--<div class="card-body" style="padding-top: 80px; padding-right: 100px; padding-bottom: 80px; padding-left: 100px;">-->
      <div class="card-body pb-0">
        <el-button type="info" class="merek-btn" @click="searchType = 'merek'">
          Merek
        </el-button>
        <el-button type="info" class="paten-btn" @click="searchType = 'paten'">
          Paten
        </el-button>
        <el-button type="info" class="di-btn" @click="searchType = 'DI'">
          Desain Industri
        </el-button>
        <div class="float-right">
          <a style="display: block;" class="btn btn-warning round video" href="HAKi-manual.mp4" target="_blank">Video</a>
        </div>
        <div class="float-right">
          <a style="display: block;" class="btn btn-warning round" href="manual_dgip.pdf" target="_blank">E-book</a>
        </div>
      </div>
      <desain-industri v-if="searchType === 'DI'" @afterSearch="afterSearch" />
      <merek v-if="searchType === 'merek'" @afterSearch="afterSearch" />
    </div>
  </div>
</template>

<script>
import desainIndustri from './desain-industri/desainIndustri.vue'
import Merek from './merek/merek.vue'

export default {
 components: {
  desainIndustri,
  Merek
 },
 data() {
  return {
   searchType: 'merek'
  }
 },
 methods: {
  afterSearch(data) {
   switch (this.searchType) {
    case 'merek':
     if (this.$route.name !== 'merek-search-result') {
      this.$router.push({ name: 'merek-search-result' })
     }
     break
    case 'DI':
     if (this.$route.name !== 'desain-industri-search-result') {
      this.$router.push({ name: 'desain-industri-search-result' })
     }
     break
    default:
     return ''
   }
   this.$emit('afterSearch', data, this.searchType)
  }
 }
}
</script>

<style scoped>
.main-container {
 display: flex;
 align-items: center;
 /* height: 100px; */
 height: 100vh;
 background-color: white;
}

.main-content {
 display: flex;
 flex-direction: column;
 /* height: 100%; */
 height: 500px;
 width: 100%;
 margin: 0px auto;
 border: none;
 align-self: center;
 box-shadow: none;
 justify-content: center;
}

#btnsrch {
 height: 10%;
}

.merek-btn {
 background-color: #FD9B1B;
 color: white;
}

.paten-btn {
 background-color: #4682B4;
 color: white;
}

.di-btn {
 background-color: #313E5D;
 color: white;
}

a.btn.btn-warning.round.video {
 background-color: #313e5d;
 border-color: #313e5d;
 margin-left: 5px;
}

a.btn.btn-warning.round.paten {
 background-color: steelblue;
 border-color: steelblue;
 margin-left: 5px;
}

a.btn.btn-primary.round.desain {
 margin-left: 5px;
}

.el-date-editor--daterange.el-input__inner {
 width: 220px;
}
</style>
