<template>
  <div>
    <div class="combined-container-add">
      <div>
        <span>
          <el-button icon="el-icon-plus" style="margin-right: 5px; color: #313e5e" @click="addRow">Tambah Field
            Pencarian</el-button>
        </span>
      </div>
      <div />
      <div />
      <div />
    </div>
  <!-- <div class="combined-container-add-field">
      <div class="operator-input">
        <div class="form-floating">
          <select class="form-select" v-model="data.logicAdd" aria-label="Floating label select example">
            <option value="and">AND</option>
            <option value="or">OR</option>
          </select>
          <label for="floatingSelect">Operator</label>
        </div>
      </div>
      <div class="field-input">
        <div class="form-floating">
          <select class="form-select" v-model="data.fieldAdd" aria-label="Floating label select example">
            <option v-for="(item, i) in fieldOptions" :key="i" :value="item.value">{{ item.label }}</option>
          </select>
          <label for="floatingSelect">Field</label>
        </div>
      </div>
      <el-dropdown @command="handleCommand">
        <div class="query-example">
          <div
            class="form-control"
            style="background-color: #5A8DEE; border-color: #5A8DEE; color: white; margin-top: 20px;">
            <span class="el-dropdown-link"><i style="color: white;" class="el-icon-question"></i>
            </span>
            <el-dropdown-menu slot="dropdown" v-if="!data.field">
              <el-dropdown-item></el-dropdown-item>
            </el-dropdown-menu>
            <el-dropdown-menu slot="dropdown" v-if="data.field === 'Title' || data.field === 'Abstract' || data.field === 'Claim'|| data.field === 'Description' || data.field === 'Applicant Name' ">
              <el-dropdown-item :command="item.value" v-for="item in titleOptions" :key="item.value">{{ item.label }}</el-dropdown-item>
            </el-dropdown-menu>
            <el-dropdown-menu slot="dropdown" v-if="data.field === 'Filing Date' || data.field === 'Publication Date' || data.field === 'Registration Date' || data.field === 'Expired Date' || data.field === 'Priority Date'">
              <el-dropdown-item :command="item.value" v-for="item in dateOptions" :key="item.value">{{ item.label }}</el-dropdown-item>
            </el-dropdown-menu>
            <el-dropdown-menu slot="dropdown" v-if="data.field === 'Status'">
              <el-dropdown-item :command="item.value" v-for="item in statusOptions" :key="item.value">{{ item.label }}</el-dropdown-item>
            </el-dropdown-menu>
            <el-dropdown-menu slot="dropdown" v-if="data.field === 'IPC'">
              <el-dropdown-item :command="item.value" v-for="item in classOptions" :key="item.value">{{ item.label }}</el-dropdown-item>
            </el-dropdown-menu>
          </div>
        </div>
      </el-dropdown>
    </div> -->
  </div>
</template>

<script>
export default {
 data() {
  return {
   data: {
    fieldAdd: "",
    valueAdd: "",
    operator: "=",
    logicAdd: ""
   },
   classOptions: [
    { label: "B22D 41/12", value: "B22D 41/12" },
    { label: "B22D 41/12, F27D 3/06", value: "B22D 41/12, F27D 3/06" }
   ],
   statusOptions: [
    { label: "Terdaftar", value: "Terdaftar" },
    { label: "Diproses", value: "Diproses" },
    { label: "Terdaftar, Diproses", value: "Terdaftar, Diproses" }
   ],
   dateOptions: [
    { label: "14-03-2017, *", value: "14-03-2017, *" },
    { label: "*, 14-03-2017", value: "*, 14-03-2017" },
    { label: "14-03-2015, 14-03-2016", value: "14-03-2015, 14-03-2016" }
   ],
   titleOptions: [
    { label: "Alat Pemindai", value: "Alat Pemindai" },
    { label: "Ladle", value: "Ladle" },
    { label: "Kendaraan", value: "Kendaraan" }
   ],
   fieldOptions: [
    {
     label: "Title",
     value: "TITLE"
    },
    {
     label: "Abstract",
     value: "SUMMARY_ID"
    },
    // {
    //  label: "Claim",
    //  value: "Claim"
    // },
    // {
    //  label: "Description",
    //  value: "Description"
    // },
    {
     label: "Applicant Name",
     value: "APPLICANTS"
    },
    // {
    //  label: "Registration Date",
    //  value: "Registration Date"
    // },
    // {
    //  label: "Filing Date",
    //  value: "Filing Date"
    // },
    // {
    //  label: "Expired Date",
    //  value: "Expired Date"
    // },
    // {
    //  label: "Publication Date",
    //  value: "Publication Date"
    // },
    // {
    //  label: "Priority Date",
    //  value: "Priority Date"
    // },
    {
     label: "Status",
     value: "STATUS_NAME"
    }
    // {
    //  label: "IPC",
    //  value: "IPC"
    // }
   ]
  }
 },
 methods: {
  handleCommand(command) {
   console.log('command')
   console.log(command)
   console.log('command')
   this.data.value = command
  },
  addRow() {
   this.$emit("addCombinedField", {
    field: this.data.fieldAdd,
    value: this.data.valueAdd,
    operator: this.data.operator,
    logic: this.data.logicAdd
   })
  }
 }
}
</script>

<style scoped>
.combined-container-add-field {
 display: grid;
 grid-template-rows: 80px;
 grid-template-columns: 400px 400px 50px;
 justify-content: center;
 justify-items: start;
}

.combined-container-add {
 display: grid;
 grid-template-rows: 40px;
 grid-template-columns: 250px 600px;
 justify-content: center;
 justify-items: start;
 margin-bottom: 10px;
}

.operator-input {
 grid-column-start: 1;
 grid-column-end: auto;
 grid-row-start: auto;
 grid-row-end: auto;
}

.field-input {
 grid-column-start: 2;
 grid-column-end: auto;
 grid-row-start: auto;
 grid-row-end: auto;
}

.query-example {
 grid-column-start: 4;
 grid-column-end: auto;
 grid-row-start: auto;
 grid-row-end: auto;
 width: 50px;
 height: 80px;
 background-color: #5a8dee;
 border: 1px solid #dfe3e7;
 color: white;
 text-align: center;
}

.blue-primary {
 background-color: #5a8dee;
 border-color: #5a8dee;
 color: white;
}

.form-floating {
 position: relative;
}

.form-floating>.form-control,
.form-floating>.form-select {
 height: 80px;
 line-height: 1.25;
 width: 400px;
}

.form-floating>label {
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 padding: 1rem 0.75rem;
 pointer-events: none;
 border: 1px solid transparent;
 transform-origin: 0 0;
 transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.form-control {
 border-radius: 0px !important;
}

.form-select {
 border-radius: 0px;
}

@media (prefers-reduced-motion: reduce) {
 .form-floating>label {
  transition: none;
 }
}

.form-floating>.form-control {
 padding: 1rem 0.75rem;
}

.form-floating>.form-control::-moz-placeholder {
 color: transparent;
}

.form-floating>.form-control::placeholder {
 color: transparent;
}

.form-floating>.form-control:not(:-moz-placeholder-shown) {
 padding-top: 1.625rem;
 padding-bottom: 0.625rem;
}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
 padding-top: 1.625rem;
 padding-bottom: 0.625rem;
}

.form-floating>.form-control:-webkit-autofill {
 padding-top: 1.625rem;
 padding-bottom: 0.625rem;
}

.form-floating>.form-select {
 padding-top: 1.625rem;
 padding-bottom: 0.625rem;
}

.form-floating>.form-control:not(:-moz-placeholder-shown)~label {
 opacity: 0.65;
 transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
 opacity: 0.65;
 transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating>.form-control:-webkit-autofill~label {
 opacity: 0.65;
 transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.h6-hover:hover {
 cursor: pointer;
}
</style>
