<template>
  <div
    class="banding-card"
    :style="{
      height: cardHeight,
      minHeight: cardMinHeight,
      padding: cardPadding,
      borderRadius: cardRadius
    }"
  >
    <div v-if="isVisible" class="banding-container">
      <div v-for="(d, index) in data" :key="index" class="banding-content-outer">
        <div class="delete-btn-container">
          <div class="delete-btn" @click="deleteBanding(d)">
            X
          </div>
        </div>
        <div class="banding-content-inner">
          <img :src="getImgSrc(d.FILENAMED, d.TYPE)">
        </div>
      </div>
    </div>
    <button v-if="isVisible && route !== 'merek-search-external'" class="save-button" @click="saveBanding">
      Generate File
    </button>
    <button class="hide-button" @click="showCard" />
  </div>
</template>

<script>
import axios from 'axios'
export default {
  props: {
    data: Array
  },
  data() {
    return {
      route: '',
      currentData: [],
      isVisible: false,
      cardHeight: '5px',
      cardPadding: '0px 15px',
      cardRadius: '5px',
      cardMinHeight: 'none',
      buttonBottom: { bottom: '15px' },
      backgroundColor: 'white'
    }
  },
  computed: {
  },
  watch: {
    data(data) {
      // console.log('data banding updated')
      // console.log(data.length, this.currentData.length, data.length > this.currentData.length)
      if (data.length > this.currentData.length) {
        this.backgroundColor = 'red'
        setTimeout(() => {
          // console.log('called')
          this.backgroundColor = 'white'
        }, 150)
      }
      this.currentData = data
    }
  },
  mounted() {
    this.route = this.$route.name
    // this.setCard()
  },
  methods: {
    showCard() {
      // this.isVisible = false
      if (this.isVisible) {
        this.isVisible = false
        this.cardHeight = '5px'
        this.cardPadding = '0px 15px'
        this.cardRadius = '5px'
        this.cardMinHeight = '0px'
        this.buttonBottom = { bottom: '15px' }
      } else if (!this.isVisible) {
        this.isVisible = true
        this.cardHeight = '15vh'
        this.cardPadding = '15px'
        this.cardRadius = '0px'
        this.cardMinHeight = '115px'
        this.buttonBottom = {}
        setTimeout(() => {
          this.isVisible = true
        }, 100)
      }
    },
    setCard() {
      if (this.data.length > 0) {
        this.isVisible = true
        this.cardHeight = '15vh'
        this.cardPadding = '15px'
        this.cardRadius = '0px'
        this.buttonBottom = {}
      }
    },
    async saveBanding() {
      try {
        console.log("banding save")
        if (this.data.length > 0 && this.route !== 'merek-search-external') {
          console.log(this.data)
          const url = `${process.env.VUE_APP_NODE_API}/ai/merek/save_selected_search_result`
          // const url = `http://localhost:3003/ai/merek/save_selected_search_result`
          // if (localStorage.getItem('batchno')) {
          //   url += `?batchno=${localStorage.getItem('batchno')}`
          // }
          console.log('url', url)
          const res = await axios({
            method: 'POST',
            url: url,
            // url: 'http://103.150.169.71:3003/ai/merek/save_selected_search_result',
            // url: 'http://localhost:3003/ai/merek/save_selected_search_result',
            data: this.data,
            responseType: "blob"
          })
          console.log('response', res)
          const blob = new Blob([res.data], { type: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' })
          const download = window.URL.createObjectURL(blob)
          const link = document.createElement('a')
          link.href = download
          // link.setAttribute('download', 'file.docx') // or any other extension //let user type filename
          document.body.appendChild(link)
          link.click()
          link.remove()
          // window.open(download)
          // if (res.data.batchno) {
          //   localStorage.setItem('batchno', res.data.batchno)
          // }
          this.$emit('clearBanding')
        } else {
          console.log("banding list is empty")
        }
      } catch (err) {
        console.log("err", err)
      }
    },
    deleteBanding(data) {
      // console.log('should be deleted', data)
      const deletedBandingIndex = this.data.findIndex(d => d.APPLICATION_ID === data.APPLICATION_ID && d.FILENAMED === data.FILENAMED)
      this.data.splice(deletedBandingIndex, 1)
      if (this.data.length < 1) {
        sessionStorage.removeItem('MerekBandingSave')
      } else {
        sessionStorage.setItem('MerekBandingSave', JSON.stringify(this.data))
      }
      console.log(this.data)
    },
    showDetailBanding(data) {
      // console.log('show data banding', data)
      this.$emit('showDetailBanding', data.APPLICATION_ID)
    },
    getImgSrc(data, type) {
      if (type === 'detail') {
        return `http://103.150.169.71:8483/application-brand-detail/${data}`
      } else {
        return `http://103.150.169.71:8483/application-brand/${data}`
      }
    }
  }
}
</script>

<style scoped>
  .banding-card {
    position: fixed;
    flex-direction: column;
    bottom: 25px;
    /* min-height: 115px; */
    width: 70vw;
    border: 1px solid #A5A5A5;
    align-self: center;
    /* padding: 15px; */
    align-items: center;
    background-color: rgb(146, 146, 146, 0.2);
    transition: 0.15s ease;
  }

  .banding-container {
    width: 100%;
    min-height: 68px;
    height: 100%;
    display: flex;
    gap: 10px;
    overflow: auto;
    scrollbar-width: thin;
  }

  .banding-container::-webkit-scrollbar {
    height: 2vh;
  }

  .banding-container::-webkit-scrollbar-thumb {
    background-color: #CDCDCD;
  }

  .banding-container::-webkit-scrollbar-thumb:hover {
    background-color: #A6A6A6;
  }

  .banding-container::-webkit-scrollbar-track {
    background-color: #F0F0F0;
  }

  .banding-content-outer {
    max-height: 100%;
    min-height: 68px;
    min-width: 92px;
    max-width: 10%;
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    /* align-items: center;
    flex-direction: column; */
  }

  .banding-content-inner {
    max-height: 100%;
    min-height: 68px;
    min-width: 92px;
    max-width: 10%;
    background-color: white;
    display: flex;
    justify-content: center;
    /* align-items: center;
    flex-direction: column; */
    padding: 5px;
  }

  .delete-btn-container {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0px 5px;
  }

  .delete-btn {
    text-align: right;
    font-size: smaller;
    cursor: pointer;
  }

  .banding-content-inner img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  .hide-container {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    align-self: center;
  }

  .save-button {
    position: absolute;
    bottom: 0px;
    right: -60px;
    transform: translateX(-50%);
    height: 28px;
    width: 120px;
    /* border-radius: 5px 0px 0px 0px; */
    border: none;
    border-top: 1px solid #A5A5A5;
    border-left: 1px solid #A5A5A5;
    background-color: rgb(228, 228, 228);
    align-self: center;
    transition: 0.15s ease;
    cursor: pointer;
  }

  .save-button:hover {
    transition: 0.15s ease;
    background-color: #ebebeb;
  }

  .hide-button {
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 7px solid grey;
    align-self: center;
    transition: 0.15s ease;
    cursor: pointer;
  }

  .hide-button:hover {
    background-color: rgb(216, 216, 216);
    /* transform: translateX(-50%); */
    transition: 0.15s ease;
  }
</style>
