<template>
  <ul class="pagination" :class="paginationClass">
    <li v-if="showArrows" class="page-item prev-page" :class="{ disabled: value === 1 }">
      <a class="page-link" aria-label="Previous" @click="prevPage">
        <i class="el-icon-arrow-left" aria-hidden="true" />
      </a>
    </li>
    <li v-for="item in range(minPage, maxPage)" :key="item" class="page-item" :class="{ active: value === item }">
      <a class="page-link" @click="changePage(item)">{{ item }}</a>
    </li>
    <li v-if="showArrows" class="page-item page-pre next-page" :class="{ disabled: value === totalPages }">
      <a class="page-link" aria-label="Next" @click="nextPage">
        <i class="el-icon-arrow-right" aria-hidden="true" />
      </a>
    </li>
  </ul>
</template>
<script>
export default {
 name: 'BasePagination',
 props: {
  type: {
   type: String,
   default: 'primary',
   validator: value => {
    return [
     'default',
     'primary',
     'danger',
     'success',
     'warning',
     'info'
    ].includes(value)
   }
  },
  pageCount: {
   type: Number,
   default: 0
  },
  perPage: {
   type: Number,
   default: 10
  },
  showArrows: {
   type: Boolean,
   default: true
  },
  total: {
   type: Number,
   default: 0
  },
  value: {
   type: Number,
   default: 1
  },
  pagesToDisplay: {
   type: Number,
   default: 5
  }
 },
 computed: {
  paginationClass() {
   return `pagination-${this.type}`
  },
  totalPages() {
   if (this.pageCount > 0) return this.pageCount
   if (this.total > 0) {
    return Math.ceil(this.total / this.perPage)
   }
   return 1
  },
  defaultPagesToDisplay() {
   if (this.totalPages > 0 && this.totalPages < this.pagesToDisplay) {
    return this.totalPages
   }
   return this.pagesToDisplay
  },
  minPage() {
   if (this.value >= this.defaultPagesToDisplay) {
    const pagesToAdd = Math.floor(this.defaultPagesToDisplay / 2)
    const newMaxPage = pagesToAdd + this.value
    if (newMaxPage > this.totalPages) {
     return this.totalPages - this.defaultPagesToDisplay + 1
    }
    return this.value - pagesToAdd
   } else {
    return 1
   }
  },
  maxPage() {
   if (this.value >= this.defaultPagesToDisplay) {
    const pagesToAdd = Math.floor(this.defaultPagesToDisplay / 2)
    const newMaxPage = pagesToAdd + this.value
    if (newMaxPage < this.totalPages) {
     return newMaxPage
    } else {
     return this.totalPages
    }
   } else {
    return this.defaultPagesToDisplay
   }
  }
 },
 watch: {
  perPage() {
   this.$emit('input', 1)
  },
  total() {
   this.$emit('input', 1)
  }
 },
 methods: {
  range(min, max) {
   const arr = []
   for (let i = min; i <= max; i++) {
    arr.push(i)
   }
   return arr
  },
  changePage(item) {
   // this.scrollToTop()
   this.$emit('input', item)
  },
  nextPage() {
   // this.scrollToTop()
   if (this.value < this.totalPages) {
    this.$emit('input', this.value + 1)
   }
  },
  prevPage() {
   // this.scrollToTop()
   if (this.value > 1) {
    this.$emit('input', this.value - 1)
   }
  },
  scrollToTop() {
   window.scrollTo({
    top: 0,
    behavior: 'smooth'
   })
  }
 }
}
</script>
