<template>
  <div class="detail-card-container">
    <div class="close-btn-container">
      <div class="close-btn" @click="closeDetailCard">
        X
      </div>
    </div>
    <div class="detailCard">
      <div class="top-container">
        <div class="pic-container">
          <div class="pic-inner-container">
            <img v-if="Object.keys(currentImgShow).length > 0" :src="getImageSrc" alt="Gambar Item Detail" @dblclick="addBanding">
          </div>
          <div class="pic-info">
            <p style="margin: 0px;">
              {{ `${detailImgIndex + 1} / ${detailImg.length}` }}
            </p>
            <div class="d-flex justify-content-end">
              <el-select
                v-model="category"
                style="width: 160px"
                placeholder="Choose Category"
                filterable
                allow-create
              >
                <el-option
                  v-for="item in categoryOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
              <el-button :disabled="!category" style="margin-left: 5px; margin-right: 20px;" type="primary" size="medium" @click="addCategory">
                Submit
              </el-button>
            </div>
          </div>
        </div>
        <div class="detail-container">
          <div class="detail-info">
            <h3 v-if="route === 'merek-search-external'" style="cursor: default;">
              {{ this.data.APPLICATION_ID }}
            </h3>
            <h3 v-else @click="goToDGIP">
              {{ this.data.APPLICATION_ID }}
            </h3>
            <div v-for="(d, index) in dataColumn" :key="index" class="data-loop">
              <h5>{{ d.label }}</h5>
              <p>{{ d.content }}</p>
            </div>
            <div v-if="!uraian" class="data-loop">
              <h5>Uraian Barang</h5>
              <div v-for="(d, i) in uraianData" :key="i">
                <p style="margin-bottom: 0;">
                  {{ `Kelas ${d.class } - ${d.uraianClass }` }}
                </p>
              </div>
            </div>
            <div v-if="uraian" class="data-loop">
              <h5>Uraian Barang</h5>
              <p v-html="highlightUraian" />
            </div>
          </div>
        </div>
      </div>
      <div v-if="detailImg" class="buttom-container">
        <div v-for="(d, i) in detailImg" :key="d.ID" class="img-detail" @click="changeCurrentImg(d, i)">
          <img :src="getDetailImgSrc(d.FILENAMED, d.TYPE)">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import api from '../pages/merekV4/api'
// import { Loading } from 'element-ui'
export default {
  props: {
    data: Object,
    uraian: String
  },
  data() {
    return {
      route: '',
      detailData: {},
      detailImg: [],
      detailImgIndex: 0,
      currentImgShow: {},
      dataColumn: {
        nama: {
          label: 'Nama',
          content: ''
        },
        noSertifikat: {
          label: 'No. Sertifikat',
          content: ''
        },
        status: {
          label: 'Status',
          content: ''
        },
        tglPermohonan: {
          label: 'Tanggal Permohonan',
          content: ''
        },
        tglTerdaftar: {
          label: 'Tanggal Terdaftar',
          content: ''
        },
        tglExpired: {
          label: 'Tanggal Expired',
          content: ''
        },
        kelas: {
          label: 'Kelas',
          content: ''
        }
      },
      uraianData: [],
      highlightUraian: '',
      categoryOptions: [
        { item: 'Kepala Banteng', value: 'Kepala Banteng' },
        { item: 'Banteng', value: 'Banteng' },
        { item: 'Daun', value: 'Daun' },
        { item: 'Air', value: 'Air' },
        { item: 'Muka', value: 'Muka' },
        { item: 'Ayam', value: 'Ayam' },
        { item: 'Sepatu', value: 'Sepatu' },
        { item: 'Roti', value: 'Roti' },
        { item: 'Ikan', value: 'Ikan' },
        { item: 'Gunung', value: 'Gunung' },
        { item: 'Rumah', value: 'Rumah' },
        { item: 'Kartun', value: 'Kartun' }
      ],
      category: ''
    }
  },
  computed: {
    getImageSrc() {
      if (this.currentImgShow.TYPE === 'detail') {
        return `${process.env.VUE_APP_PHP_API}/application-brand-detail/${this.currentImgShow.FILENAMED}`
      } else {
        return `${process.env.VUE_APP_PHP_API}/application-brand/${this.currentImgShow.FILENAMED}`
      }
    },
    getStatus() {
      switch (this.data.STATUS) {
        case 1:
          return 'Terdaftar'
        case 2:
          return 'Proses'
        case 3:
          return 'Publikasi'
        case 4:
          return 'Ditolak'
        default:
          return '-'
      }
    }
  },
  watch: {
    data() {
      this.getDetailData()
    }
  },
  mounted() {
    this.getDetailData()
    this.route = this.$route.name
    // this.getDetailData2()
  },
  methods: {
    async getImgDetail() {
      try {
        // console.log('no permohonan', this.detailData.NOMOR_PERMOHONAN)
        const { data } = await axios({
          method: 'GET',
          url: `${process.env.VUE_APP_NODE_API}/ai/merek/get_details_result2?nomor_permohonan=${this.data.APPLICATION_ID}`
        })
        // console.log('detailImg', data)
        // const newData = [{
        //   FILENAME: this.data._source.filename,
        //   ID: '',
        //   NOMOR_PERMOHONAN: this.data._source.no_permohonan,
        //   KELAS: this.data._source.kelas,
        //   NAMA: 'cover depan'
        // }, ...data]
        // const filteredData = newData.filter(d => d.FILENAME !== null && d.FILENAME !== undefined)
        this.detailImg = data[0].detailMerek
        // console.log(this.detailImg)
        // console.log('filteredData', filteredData)
        const cover = this.detailImg.filter(d => d.TYPE === 'parent')
        this.currentImgShow = cover[0]
        // console.log(this.currentImgShow)
      } catch (err) {
        console.log('err', err)
      }
    },
    async getDetailData() {
      // const loading = Loading.service({
      //   target: '.detailCard',
      //   body: true,
      //   lock: true
      // })
      try {
        const { data } = await axios({
          method: 'GET',
          url: `${process.env.VUE_APP_NODE_API}/ai/merek/get_details_result2?nomor_permohonan=${this.data.APPLICATION_ID}`
        })
        const uraianDetail = []
        let html = ''
        // console.log(this.uraian)
        const dataUraian = data[0].uraianBarang
        dataUraian.forEach(element => {
          if (this.uraian) {
            // console.log(element)
            if (element.CLASS_DESC.toLowerCase().includes(this.uraian.toLowerCase())) {
              const searchMask = this.uraian
              const regEx = new RegExp(searchMask, "gi")
              const result = element.CLASS_DESC.replace(regEx, '<mark>$&</mark>')
              html += `<p style="margin-bottom: 0;">Kelas ${element.CLASS_NO} - ${result} </p>`
            } else {
              html += `<p style="margin-bottom: 0;">Kelas ${element.CLASS_NO} - ${element.CLASS_DESC}</p>`
            }
          } else {
            uraianDetail.push({ class: element.CLASS_NO, uraianClass: element.CLASS_DESC })
          }
        })
        // this.detailData = data[0]
        this.dataColumn.nama.content = this.data.TM_BRAND_NAME
        this.dataColumn.noSertifikat.content = this.data.NO_SERTIFIKAT ? this.data.NO_SERTIFIKAT : '-'
        this.dataColumn.status.content = this.getStatus
        this.dataColumn.tglPermohonan.content = this.data.TGL_PERMOHONAN ? this.data.TGL_PERMOHONAN.split('T')[0] : '-'
        this.dataColumn.tglTerdaftar.content = this.data.TGL_TERDAFTAR ? this.data.TGL_TERDAFTAR.split('T')[0] : '-'
        this.dataColumn.tglExpired.content = this.data.TGL_EXPIRED ? this.data.TGL_EXPIRED.split('T')[0] : '-'
        this.dataColumn.kelas.content = this.data.CLASS_ID
        // console.log(this.detailData, 'detail')
        this.uraianData = uraianDetail
        this.highlightUraian = html
        // console.log(this.highlightUraian)
        await this.getImgDetail()
      } catch (err) {
        console.log('err', err)
      }
      // loading.close()
    },
    addBanding() {
      // console.log('show added banding', this.currentImgShow, { ...this.currentImgShow, STATUS: this.data.STATUS })
      this.$emit('addBandingItem', { ...this.currentImgShow, STATUS: this.data.STATUS })
      // console.log('should emit data')
    },
    closeDetailCard() {
      this.$emit('closeDetailCard')
      this.detailData = {}
    },
    getDetailImgSrc(filename, type) {
      if (type === 'parent') {
        return `${process.env.VUE_APP_PHP_API}/application-brand/${filename}`
      } else {
        return `${process.env.VUE_APP_PHP_API}/application-brand-detail/${filename}`
      }
      // console.log('detail img src', `${process.env.VUE_APP_PHP_API}/logo-desain/${filename}`)
      // return `${process.env.VUE_APP_PHP_API}/logo-desain/${filename}`
    },
    changeCurrentImg(data, index) {
      this.detailImgIndex = index
      this.currentImgShow = data
    },
    goToDGIP() {
      if (this.route !== 'merek-search-external') {
        window.open(`https://merek.dgip.go.id/AdminMerek/layanan/pratinjau-permohonan?no=${this.data.APPLICATION_ID}`)
      }
    },
    async addCategory() {
      try {
        const payload = {
          nomor_permohonan: this.data.ID,
          category: this.category
        }
        console.log(payload)
        await api.updateCatMerek(payload)
        this.$message({
          message: 'Success',
          type: 'success'
        })
      } catch (error) {
        console.log(error)
      } finally {
        this.category = ''
      }
    }
  }
}
</script>

<style scoped>
  .detail-card-container {
    display: flex;
    flex-direction: column;
    /* top: 0px; */
    /* position: fixed; */
    /* width: 100vw; */
    /* height: 100vh; */
    /* background-color: rgb(0, 0, 0, 0.2); */
    justify-content: center;
    align-items: center;
  }

  .close-btn-container {
    position: relative;
    /* top: -15px; */
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    /* width: 90vw; */
  }

  .close-btn {
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -25px;
    color: rgb(175, 175, 175);
    transition: 0.1s ease;
  }

  .close-btn:hover {
    color: rgb(100, 100, 100);
    font-weight: bolder;
    transform: scale(1.2);
    transition: 0.1s ease;
  }

  .detailCard {
    min-width: 1137px;
    width: 100%;
    min-height: 536px;
    height: 45vw;
    border: 15px solid #A5A5A5;
    background-color: white;
    border-collapse: collapse;
    align-self: center;
    display: grid;
    grid-template-rows: 75% 25%;
    grid-template-columns: auto;
  }

  .top-container {
    width: 100%;
    border-bottom: 1px solid #A5A5A5;
    display: grid;
    grid-template-columns: 75% 25%;
    overflow: hidden;
  }

  .pic-container {
    display: grid;
    max-height: 100%;
    min-height: 100%;
    grid-template-rows: 85% 15%;
  }

  .pic-inner-container {
    border: 1px solid #F2F2F2;
    margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
  }

  .pic-inner-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
    border: 1px solid #CCCCCC;
    margin: -1px 0px 0px -1px;
  }

  .pic-info {
    align-self: center;
    text-align: center;
  }

  .detail-container {
    /* width: 100%; */
    border-left: 1px solid #A5A5A5;
    padding: 15px;
    overflow: auto;
    scrollbar-width: thin;
  }

  .detail-container::-webkit-scrollbar {
    width: 1vw;
  }

  .detail-container::-webkit-scrollbar-thumb {
    background-color: #CDCDCD;
  }

  .detail-container::-webkit-scrollbar-thumb:hover {
    background-color: #A6A6A6;
  }

  .detail-container::-webkit-scrollbar-track {
    background-color: #F0F0F0;
  }

  .detail-info {
    overflow: auto;
  }

  .detail-info h3 {
    cursor: pointer;
  }

  .data-loop {
    margin-bottom: 10px;
  }

  .detail-info h5 {
    margin: 0px;
    font-size: small;
    font-weight: bold;
    color: #2c3e50;
  }

  .detail-info p {
    padding-left: 5px;
    font-size: smaller;
    color: #2c3e50;
    margin: 0px;
  }

  .buttom-container {
    overflow: auto;
    display: flex;
    padding: 0px 15px;
    max-width: 100%;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .img-detail {
    max-height: 80%;
    min-height: 80%;
    max-width: 11%;
    min-width: 11%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .img-detail:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
  }

  .img-detail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
</style>
