<template>
  <div class="detail-card-container">
    <div class="close-btn-container">
      <div class="close-btn" @click="closeDetailCard">
        X
      </div>
    </div>
    <div class="detailCard">
      <div class="top-container">
        <div class="pic-container">
          <div class="pic-inner-container">
            <img v-if="Object.keys(currentImgShow).length > 0" :src="getImageSrc" alt="Gambar Item Detail" @dblclick="addBanding">
          </div>
          <div class="pic-info">
            <p>{{ `${detailImgIndex + 1} / ${detailImg.length}` }}</p>
          </div>
        </div>
        <div class="detail-container">
          <div class="detail-info">
            <h3 @click="goToIPROLINE">
              {{ NOMOR_PERMOHONAN }}
            </h3>
            <div v-for="(d, i) in filterDetailContent" :key="i" class="data-loop">
              <h5>{{ d.label }}</h5>
              <p>{{ d.content }}</p>
            </div>
            <div class="data-loop">
              <h5>Inventor</h5>
              <div v-for="(d, i) in detailInventor" :key="i">
                <p>{{ `${i + 1}. ${d.nama}` }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="detailImg" class="buttom-container">
        <div v-for="(d, i) in detailImg" :key="d.id" class="img-detail" @click="changeCurrentImg(d, i)">
          <img :src="getDetailImgSrc(d.FILENAME)">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { Loading } from 'element-ui'

export default {
  props: {
    data: Object,
    NOMOR_PERMOHONAN: String
  },
  data() {
    return {
      loadingData: {},
      detailData: {},
      detailImg: [],
      detailImgIndex: 0,
      currentImgShow: {},
      dataColumn: {
        judul: {
          label: 'Judul',
          content: ''
        },
        noSertifikat: {
          label: 'No. Sertifikat',
          content: ''
        },
        status: {
          label: 'Status',
          content: ''
        },
        tglPermohonan: {
          label: 'Tanggal Permohonan',
          content: ''
        },
        tglTerdaftar: {
          label: 'Tanggal Terdaftar',
          content: ''
        },
        tglExpired: {
          label: 'Tanggal Expired',
          content: ''
        },
        kelas: {
          label: 'Kelas',
          content: ''
        },
        klaim: {
          label: 'Klaim',
          content: ''
        },
        uraian: {
          label: 'Uraian',
          content: ''
        }
      },
      detailInventor: []
    }
  },
  computed: {
    getImageSrc() {
     return `https://pdki-indonesia-api.dgip.go.id/storage/data-merek/application-brand/2014/11/20/D002012001164.jpg`
     /*
      // console.log('main file img src', `http://103.150.169.71:8483/logo-desain/${this.currentImgShow.FILENAME}`)
      if ('FILE_IMAGE' in this.currentImgShow) {
        return `${process.env.VUE_APP_PHP_API}/logo-desain/${this.currentImgShow.FILE_IMAGE}`
        // return `http://103.150.169.71:8483/logo-desain/${this.currentImgShow.FILE_IMAGE}`
      } else {
        return `${process.env.VUE_APP_PHP_API}/logo-desain/${this.currentImgShow.FILENAME}`
        // return `http://103.150.169.71:8483/logo-desain/${this.currentImgShow.FILENAME}`
      }
      */
    },
    filterDetailContent() {
      const newDetailData = {}
      for (const key in this.dataColumn) {
        if (this.dataColumn[key].content !== null) {
          newDetailData[key] = this.dataColumn[key]
        }
      }
      console.log('newDetailData', newDetailData)
      return newDetailData
    }
  },
  mounted() {
    this.getDetailData()
    // this.getDetailData2()
  },
  methods: {
    async getImgDetail() {
      try {
        // console.log('no permohonan', this.detailData.NOMOR_PERMOHONAN)
        const { data } = await axios({
          method: 'GET',
          url: `${process.env.VUE_APP_NODE_API}/ai/desain_industri/search_result_details?nomor_permohonan=${this.NOMOR_PERMOHONAN}`
          // url: `http://103.150.169.71:3003/ai/desain_industri/search_result_details?nomor_permohonan=${this.NOMOR_PERMOHONAN}`
        })
        console.log('detailImg', data)
        const filteredData = data.filter(d => d.FILENAME !== null && d.FILENAME !== undefined)
        this.detailImg = filteredData
        console.log('filteredData', filteredData)
        this.currentImgShow = filteredData[0]
      } catch (err) {
        console.log('err', err)
      }
    },
    async getDetailData() {
      // const detailCardDOM = this.$el.querySelector('.detailCard')
      // console.log('detailCardDOM', detailCardDOM)
      this.loadingData = Loading.service({
        target: '.detailCard',
        body: true,
        lock: true
      })
      console.log('data detail card', this.data)
      try {
        console.log('no permohonan', this.NOMOR_PERMOHONAN)
        const { data } = await axios({
          method: 'GET',
          url: `${process.env.VUE_APP_PHP_API}/php/get_desain_industri_details.php?app_id=${this.NOMOR_PERMOHONAN}`
          // url: `http://103.150.169.71:8483/php/get_desain_industri_details.php?app_id=${this.NOMOR_PERMOHONAN}`
        })
        this.detailData = data[0]
        console.log('detailData Raw', data)
        const inventor = []
        data.forEach(d => {
          const namaInventor = d.NAMA_INVENTOR.split(' ')
          let newNama = ''
          namaInventor.forEach((nama, index) => {
            if (index === 0) {
              newNama = newNama + nama
            } else if (nama.length > 0) {
              newNama = newNama + ` ${nama}`
            }
          })
          inventor.push({
            nama: newNama,
            telepon: d.TELEPON,
            alamat: d.ALAMAT
          })
        })
        this.dataColumn.judul.content = data[0].JUDUL_INVENSI ? data[0].JUDUL_INVENSI : '-'
        this.dataColumn.noSertifikat.content = this.data.NO_SERTIFIKAT ? this.data.NO_SERTIFIKAT : '-'
        this.dataColumn.status.content = this.data.STATUS ? this.data.STATUS : '-'
        this.dataColumn.tglPermohonan.content = this.data.TGL_PERMOHONAN ? this.data.TGL_PERMOHONAN.split('T')[0] : '-'
        this.dataColumn.tglTerdaftar.content = this.data.TGL_TERDAFTAR ? this.data.TGL_TERDAFTAR.split('T')[0] : '-'
        this.dataColumn.tglExpired.content = this.data.TGL_EXPIRED ? this.data.TGL_EXPIRED.split('T')[0] : '-'
        this.dataColumn.kelas.content = this.data.KELAS_ID ? this.data.KELAS_ID : '-'
        this.dataColumn.klaim.content = data[0].KLAIM ? data[0].KLAIM : '-'
        this.dataColumn.uraian.content = data[0].URAIAN_DESAING ? data[0].URAIAN_DESAING : '-'
        this.detailInventor = inventor
        console.log('inventor', inventor)
        console.log(this.data)
        await this.getImgDetail()
        this.loadingData.close()
      } catch (err) {
        this.loadingData.close()
        console.log('err', err)
      }
    },
    addBanding() {
      console.log('show added banding', this.currentImgShow, { ...this.currentImgShow, STATUS: this.data.STATUS, JUDUL_INVENSI: this.detailData.JUDUL_INVENSI })
      if (Object.keys(this.data).length > 0) {
        this.$emit('addBandingItem', { ...this.currentImgShow, STATUS: this.data.STATUS, JUDUL_INVENSI: this.detailData.JUDUL_INVENSI })
      }
    },
    closeDetailCard() {
      this.$emit('closeDetailCard')
      this.detailData = {}
    },
    getDetailImgSrc(filename) {
      // console.log('detail img src', `http://103.150.169.71:8483/logo-desain/${filename}`)
      return `${process.env.VUE_APP_PHP_API}/logo-desain/${filename}`
      // return `http://103.150.169.71:8483/logo-desain/${filename}`
    },
    changeCurrentImg(data, index) {
      console.log('data', data)
      this.detailImgIndex = index
      this.currentImgShow = data
    },
    goToIPROLINE() {
      window.open(`https://desainindustri.dgip.go.id/formalitas/pengecekan/detail-permohonan?id=${this.data.ID}`)
    }
  }
}
</script>

<style scoped>
  .detail-card-container {
    display: flex;
    flex-direction: column;
    top: 0px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
  }

  .close-btn-container {
    position: fixed;
    top: 5%;
    display: flex;
    flex-direction: row-reverse;
    width: 90vw;
  }

  .close-btn {
    cursor: pointer;
    position: relative;
    padding: 5px;
    color: rgb(221, 221, 221);
    transition: 0.1s ease;
  }

  .close-btn:hover {
    color: white;
    transform: scale(1.2);
    transition: 0.1s ease;
  }

  .detailCard {
    width: 85vw;
    height: 80vh;
    border: 15px solid #A5A5A5;
    background-color: white;
    border-collapse: collapse;
    align-self: center;
    display: grid;
    grid-template-rows: 55vh 20vh;
    grid-template-columns: auto;
  }

  .top-container {
    width: 100%;
    border-bottom: 1px solid #A5A5A5;
    display: grid;
    grid-template-columns: 60vw minmax(20vw, 25vw);
    overflow: hidden;
  }

  .pic-container {
    display: grid;
    max-height: 100%;
    min-height: 100%;
    grid-template-rows: 90% 10%;
  }

  .pic-inner-container {
    border: 1px solid #F2F2F2;
    margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
  }

  .pic-inner-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
    border: 1px solid #CCCCCC;
    margin: -1px 0px 0px -1px;
  }

  .pic-info {
    align-self: center;
    text-align: center;
  }

  .detail-container {
    border-left: 1px solid #A5A5A5;
    padding: 15px;
    overflow: auto;
    scrollbar-width: thin;
  }

  .detail-container::-webkit-scrollbar {
    width: 1vw;
  }

  .detail-container::-webkit-scrollbar-thumb {
    background-color: #CDCDCD;
  }

  .detail-container::-webkit-scrollbar-thumb:hover {
    background-color: #A6A6A6;
  }

  .detail-container::-webkit-scrollbar-track {
    background-color: #F0F0F0;
  }

  .detail-info {
    overflow: auto;
  }

  .detail-info h3 {
    cursor: pointer;
  }

  .data-loop {
    margin-bottom: 10px;
  }

  .detail-info h5 {
    margin: 0px;
    font-size: small;
    font-weight: bold;
    color: #2c3e50;
  }

  .detail-info p {
    padding-left: 5px;
    font-size: smaller;
    color: #2c3e50;
    margin: 0px;
  }

  .buttom-container {
    overflow: auto;
    display: flex;
    padding: 0px 15px;
    max-width: 100%;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .img-detail {
    max-height: 80%;
    min-height: 80%;
    max-width: 11%;
    min-width: 11%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .img-detail:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
  }

  .img-detail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
</style>
