<template>
  <div class="detail-card-container">
    <div class="close-btn-container">
      <div class="close-btn" @click="closeDetailCard">
        X
      </div>
    </div>
    <div class="detailCard">
      <div class="top-container">
        <div class="pic-container">
          <div class="pic-inner-container">
            <img v-if="Object.keys(currentImgShow).length > 0" :src="getImageSrc" alt="Gambar Item Detail" @dblclick="addBanding">
          </div>
          <div class="pic-info">
            <p>{{ `${detailImgIndex + 1} / ${detailImg.length}` }}</p>
          </div>
        </div>
        <div class="detail-container">
          <div class="detail-info">
            <h3 @click="goToDGIP">
              {{ this.data.APPLICATION_ID }}
            </h3>
            <div v-for="(d, index) in dataColumn" :key="index" class="data-loop">
              <h5>{{ d.label }}</h5>
              <p>{{ d.content }}</p>
            </div>
            <div v-if="!uraian" class="data-loop">
              <h5>Uraian Barang</h5>
              <div v-for="(d, i) in uraianData" :key="i">
                <p style="margin-bottom: 0;">
                  {{ `Kelas ${d.class } - ${d.uraianClass }` }}
                </p>
              </div>
            </div>
            <div v-if="uraian" class="data-loop">
              <h5>Uraian Barang</h5>
              <p v-html="highlightUraian" />
            </div>
          </div>
        </div>
      </div>
      <div v-if="detailImg" class="buttom-container">
        <div v-for="(d, i) in detailImg" :key="d.ID" class="img-detail" @click="changeCurrentImg(d, i)">
          <img :src="getDetailImgSrc(d.FILENAMED, d.TYPE)">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// import { Loading } from 'element-ui'
export default {
  props: {
    data: Object,
    uraian: String
  },
  data() {
    return {
      detailData: {},
      detailImg: [],
      detailImgIndex: 0,
      currentImgShow: {},
      dataColumn: {
        nama: {
          label: 'Nama',
          content: ''
        },
        noSertifikat: {
          label: 'No. Sertifikat',
          content: ''
        },
        status: {
          label: 'Status',
          content: ''
        },
        tglPermohonan: {
          label: 'Tanggal Permohonan',
          content: ''
        },
        tglTerdaftar: {
          label: 'Tanggal Terdaftar',
          content: ''
        },
        tglExpired: {
          label: 'Tanggal Expired',
          content: ''
        },
        kelas: {
          label: 'Kelas',
          content: ''
        }
      },
      uraianData: [],
      highlightUraian: ''
    }
  },
  computed: {
    getImageSrc() {
     return `https://pdki-indonesia-api.dgip.go.id/storage/data-merek/application-brand/2014/11/20/D002012001164.jpg`
      /*if (this.currentImgShow.TYPE === 'detail') {
        return `http://103.150.169.71:8483/application-brand-detail/${this.currentImgShow.FILENAMED}`
      } else {
        return `http://103.150.169.71:8483/application-brand/${this.currentImgShow.FILENAMED}`
      }*/
    },
    getStatus() {
      switch (this.data.STATUS) {
        case 1:
          return 'Terdaftar'
        case 2:
          return 'Proses'
        case 3:
          return 'Publikasi'
        case 4:
          return 'Ditolak'
        default:
          return '-'
      }
    }
  },
  mounted() {
    this.getDetailData()
    // this.getDetailData2()
  },
  methods: {
    async getImgDetail() {
      try {
        const { data } = await axios({
          method: 'GET',
          url: `http://103.150.169.71:3003/ai/merek/get_details_result2?nomor_permohonan=${this.data.APPLICATION_ID}`
        })
        this.detailImg = data[0].detailMerek
        const cover = this.detailImg.filter(d => d.TYPE === 'parent')
        this.currentImgShow = cover[0]
      } catch (err) {
        console.log('err', err)
      }
    },
    async getDetailData() {
      // const loading = Loading.service({
      //   target: '.detailCard',
      //   body: true,
      //   lock: true
      // })
      try {
        const { data } = await axios({
          method: 'GET',
          url: `http://103.150.169.71:3003/ai/merek/get_details_result2?nomor_permohonan=${this.data.APPLICATION_ID}`
        })
        const uraianDetail = []
        let html = ''
        const dataUraian = data[0].uraianBarang
        dataUraian.forEach(element => {
          if (this.uraian) {
            if (element.CLASS_DESC.toLowerCase().includes(this.uraian.toLowerCase())) {
              const searchMask = this.uraian
              const regEx = new RegExp(searchMask, "gi")
              const result = element.CLASS_DESC.replace(regEx, '<mark>$&</mark>')
              html += `<p style="margin-bottom: 0;">Kelas ${element.CLASS_NO} - ${result} </p>`
            } else {
              html += `<p style="margin-bottom: 0;">Kelas ${element.CLASS_NO} - ${element.CLASS_DESC}</p>`
            }
          } else {
            uraianDetail.push({ class: element.CLASS_NO, uraianClass: element.CLASS_DESC })
          }
        })
        this.dataColumn.nama.content = this.data.TM_BRAND_NAME
        this.dataColumn.noSertifikat.content = this.data.NO_SERTIFIKAT ? this.data.NO_SERTIFIKAT : '-'
        this.dataColumn.status.content = this.getStatus
        this.dataColumn.tglPermohonan.content = this.data.TGL_PERMOHONAN ? this.data.TGL_PERMOHONAN.split('T')[0] : '-'
        this.dataColumn.tglTerdaftar.content = this.data.TGL_TERDAFTAR ? this.data.TGL_TERDAFTAR.split('T')[0] : '-'
        this.dataColumn.tglExpired.content = this.data.TGL_EXPIRED ? this.data.TGL_EXPIRED.split('T')[0] : '-'
        this.dataColumn.kelas.content = this.data.CLASS_ID
        this.uraianData = uraianDetail
        this.highlightUraian = html
        await this.getImgDetail()
      } catch (err) {
        console.log('err', err)
      }
      // loading.close()
    },
    addBanding() {
      this.$emit('addBandingItem', { ...this.currentImgShow, STATUS: this.data.STATUS })
    },
    closeDetailCard() {
      this.$emit('closeDetailCard')
      this.detailData = {}
    },
    getDetailImgSrc(filename, type) {
      if (type === 'parent') {
        return `http://103.150.169.71:8483/application-brand/${filename}`
      } else {
        return `http://103.150.169.71:8483/application-brand-detail/${filename}`
      }
      // return `http://103.150.169.71:8483/logo-desain/${filename}`
    },
    changeCurrentImg(data, index) {
      this.detailImgIndex = index
      this.currentImgShow = data
    },
    goToDGIP() {
      window.open(`https://merek.dgip.go.id/AdminMerek/layanan/pratinjau-permohonan?no=${this.data.APPLICATION_ID}`)
    }
  }
}
</script>

<style scoped>
  .detail-card-container {
    display: flex;
    flex-direction: column;
    top: 0px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
  }

  .close-btn-container {
    position: fixed;
    top: 5%;
    display: flex;
    flex-direction: row-reverse;
    width: 90vw;
  }

  .close-btn {
    cursor: pointer;
    position: relative;
    /* border-radius: 5px; */
    padding: 5px;
    /* background-color: rgba(85, 85, 85, 0.2); */
    color: rgb(221, 221, 221);
    transition: 0.1s ease;
  }

  .close-btn:hover {
    /* background-color: rgba(41, 41, 41, 0.2); */
    color: white;
    transform: scale(1.2);
    transition: 0.1s ease;
  }

  .detailCard {
    width: 85vw;
    height: 80vh;
    border: 15px solid #A5A5A5;
    background-color: white;
    border-collapse: collapse;
    align-self: center;
    display: grid;
    grid-template-rows: 55vh 20vh;
    grid-template-columns: auto;
  }

  .top-container {
    width: 100%;
    border-bottom: 1px solid #A5A5A5;
    /* display: flex; */
    display: grid;
    grid-template-columns: 60vw 25vw;
    overflow: hidden;
  }

  .pic-container {
    display: grid;
    max-height: 100%;
    min-height: 100%;
    grid-template-rows: 90% 10%;
    /* overflow: auto; */
  }

  .pic-inner-container {
    /* height: 60vh; */
    /* width: 60vw; */
    border: 1px solid #F2F2F2;
    margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
  }

  .pic-inner-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
    border: 1px solid #CCCCCC;
    margin: -1px 0px 0px -1px;
  }

  .pic-info {
    align-self: center;
    text-align: center;
  }

  .detail-container {
    border-left: 1px solid #A5A5A5;
    padding: 15px;
    overflow: auto;
    scrollbar-width: thin;
  }

  .detail-container::-webkit-scrollbar {
    width: 1vw;
  }

  .detail-container::-webkit-scrollbar-thumb {
    background-color: #CDCDCD;
  }

  .detail-container::-webkit-scrollbar-thumb:hover {
    background-color: #A6A6A6;
  }

  .detail-container::-webkit-scrollbar-track {
    background-color: #F0F0F0;
  }

  .detail-info {
    overflow: auto;
  }

  .detail-info h3 {
   cursor: pointer;
  }

  .data-loop {
    margin-bottom: 10px;
  }

  .detail-info h5 {
    margin: 0px;
    font-size: small;
    font-weight: bold;
    color: #2c3e50;
  }

  .detail-info p {
    font-size: smaller;
    color: #2c3e50;
    margin: 0px;
  }

  .buttom-container {
    overflow: auto;
    display: flex;
    padding: 0px 15px;
    max-width: 100%;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .img-detail {
    max-height: 80%;
    min-height: 80%;
    max-width: 11%;
    min-width: 11%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .img-detail:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
  }

  .img-detail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
</style>
