<template>
 <div class="detail-card-container">
  <div class="close-btn-container">
   <div class="close-btn" @click="closeDetailCard">
    X
   </div>
  </div>
  <div class="detailCard">
   <div class="top-container">
    <div class="pic-container">
     <div class="pic-inner-container">
      <img :src="getImageSrc" alt="Gambar Item Detail" @dblclick="addBanding">
      <!-- <img v-if="Object.keys(currentImgShow).length > 0" :src="getImageSrc" alt="Gambar Item Detail" @dblclick="addBanding"> -->
     </div>
     <div class="pic-info">
      <p style="margin: 0px;">
       <!-- {{ `${detailImgIndex + 1} / ${detailImg.length}` }} -->
      </p>
      <!-- <el-button @click="$emit('showEnhanceForm', { imageSrc: getImageSrc, noPermohonan: data.APPLICATION_ID})" class="float-right" style="margin-right: 20px" type="success" size="small">Enhance Model</el-button> -->
     </div>
    </div>
    <div class="detail-container">
     <div class="detail-info">
      <h3 v-if="route === 'merek-search-external'" style="cursor: default;">
       {{ this.data.APPLICATION_ID }}
      </h3>
      <h3 v-else @click="goToDGIP">
       {{ this.data.APPLICATION_ID }}
      </h3>
      <div v-for="(d, index) in dataColumn" :key="index" class="data-loop">

       <h5 v-if="d.label != 'No. Permohonan'">{{ d.label }}</h5>
       <p v-if="d.label != 'No. Permohonan'">{{ d.content }}</p>

       <h5 v-if="d.label == 'No. Permohonan'">{{ d.label }}</h5>
       <p v-if="d.label == 'No. Permohonan'">
         <a :href="'http://10.1.35.115:8080/AdminMerek/layanan/pratinjau-permohonan?no='+d.content" target='_blank'>{{ d.content }}</a>
       </p>

      </div>
      <div v-if="!uraian" class="data-loop">
       <h5>Uraian Barang</h5>
       <div>
        <!-- <div v-for="(d, i) in uraianData" :key="i"> -->
        <p style="margin-bottom: 0;">
         {{ `${detailnih}` }}
        </p>
       </div>
      </div>
      <div v-if="uraian" class="data-loop">
       <h5>Uraian Barang</h5>
       <p v-html="highlightUraian" />
      </div>
     </div>
    </div>
   </div>
   <div v-if="detailImg" class="buttom-container">
    <!-- <div v-for="(d, i) in detailImg" :key="d.ID" class="img-detail" @click="changeCurrentImg(d, i)">
     <img :src="getDetailImgSrc(d.FILENAMED, d.TYPE)">
    </div> -->
   </div>
  </div>
 </div>
</template>

<script>
import axios from 'axios'
// import { Loading } from 'element-ui'
export default {
 props: {
  data: Object,
  uraian: String
 },
 data() {
  return {
   route: '',
   detailData: {},
   detailImg: [],
   kelasnih: '',
   detailnih: '',
   detailImgIndex: 0,
   currentImgShow: {},
   dataColumn: {
    nama: {
     label: 'Nama',
     content: ''
    },
    noSertifikat: {
     label: 'No. Permohonan',
     content: ''
    },
    status: {
     label: 'Status',
     content: ''
    },
    tglPermohonan: {
     label: 'Tanggal Permohonan',
     content: ''
    },
    tglTerdaftar: {
     label: 'Tanggal Terdaftar',
     content: ''
    },
    tglExpired: {
     label: 'Tanggal Expired',
     content: ''
    },
    kelas: {
     label: 'Kelas',
     content: ''
    }
   },
   uraianData: [],
   highlightUraian: ''
  }
 },
 computed: {
  getImageSrc() {
   console.log("gambarnya nihh", this.detailImg.FILE_IMAGE);
   /*if (this.currentImgShow.TYPE === 'detail') {
     return `${process.env.VUE_APP_PHP_API}/application-brand-detail/${this.currentImgShow.FILENAMED}`
   } else {
     return `${process.env.VUE_APP_PHP_API}/application-brand/${this.currentImgShow.FILENAMED}`
   }*/
   // return `https://pdki-indonesia-api.dgip.go.id/storage/data-merek/application-brand/2014/11/20/D002012001164.jpg`
   return this.detailImg.FILE_IMAGE
  },
  getStatus() {
   return this.data.STATUS
   // switch (this.data.STATUS) {
   //   case 1:
   //     return 'Terdaftar'
   //   case 2:
   //     return 'Proses'
   //   case 3:
   //     return 'Publikasi'
   //   case 4:
   //     return 'Ditolak'
   //   default:
   //     return '-'
   // }
  }
 },
 watch: {
  data() {
   this.getDetailData()
  }
 },
 mounted() {
  this.getDetailData()
  this.route = this.$route.name
  // this.getDetailData2()
 },
 methods: {
  async getImgDetail() {
   try {
    // console.log('no permohonan', this.detailData.NOMOR_PERMOHONAN)
    const { data } = await axios({
     method: 'GET',
     url: `${process.env.VUE_APP_NODE_API_NEW}/test_elastic/detail_merek?document=trademark&nomor_permohonan=${this.data.APPLICATION_ID}`
     // url: `${process.env.VUE_APP_NODE_API}/ai/merek/get_details_result2?nomor_permohonan=${this.data.APPLICATION_ID}`
    })
    // console.log('detailImg', data)
    // const newData = [{
    //   FILENAME: this.data._source.filename,
    //   ID: '',
    //   NOMOR_PERMOHONAN: this.data._source.no_permohonan,
    //   KELAS: this.data._source.kelas,
    //   NAMA: 'cover depan'
    // }, ...data]
    // const filteredData = newData.filter(d => d.FILENAME !== null && d.FILENAME !== undefined)
    // this.detailImg = data[0].detailMerek
    this.detailImg = data
    // console.log(this.detailImg)
    // console.log('filteredData', filteredData)
    const cover = []
    // const cover = this.detailImg.filter(d => d.TYPE === 'parent')
    this.currentImgShow = cover[0]
    // console.log(this.currentImgShow)
   } catch (err) {
    console.log('err', err)
   }
  },
  async getDetailData() {
   // const loading = Loading.service({
   //   target: '.detailCard',
   //   body: true,
   //   lock: true
   // })
   try {
    // const { data } = await axios({
    //   method: 'GET',
    //   url: `${process.env.VUE_APP_NODE_API}/ai/merek/get_details_result2?nomor_permohonan=${this.data.APPLICATION_ID}`
    // })
    const { data } = await axios({
     method: 'GET',
     url: `${process.env.VUE_APP_NODE_API_NEW}/test_elastic/detail_merek?document=trademark&nomor_permohonan=${this.data.APPLICATION_ID}`
    })
    const uraianDetail = []
    let html = ''
    // console.log(this.uraian)
    // const dataUraian = data[0].uraianBarang
    console.log("detail", data)
    const dataUraian = [
     {
      CLASS_NO: data.CLASS_ID,
      CLASS_DESC: data.CLASS_DESC,
      TM_BRAND_NAME: "aa",
      NO_SERTIFIKAT: "aaa1",
      TGL_PERMOHONAN: "T123",
      TGL_TERDAFTAR: "T321",
      TGL_EXPIRED: "T999",
      CLASS_ID: "33",
      STATUS: "---"
     }
    ]
    this.kelasnih = data.CLASS_ID;
    this.detailnih = data.CLASS_DESC;
    console.log('detaUrian',dataUraian);
    dataUraian.forEach(element => {
     // html += `<p style="margin-bottom: 0;">Kelas ${element.CLASS_NO} - ${element.CLASS_DESC}</p>`
     if (this.uraian) {
      // console.log(element)
      // if (element.CLASS_DESC.toLowerCase().includes(this.uraian.toLowerCase())) {
      //  const searchMask = this.uraian
      //  const regEx = new RegExp(searchMask, "gi")
      //  const result = element.CLASS_DESC.replace(regEx, '<mark>$&</mark>')
      //  html += `<p style="margin-bottom: 0;">Kelas ${element.CLASS_NO} </p>`
      // } else {
      html += `<p style="margin-bottom: 0;">Kelas ${element.CLASS_NO} - ${element.CLASS_DESC}</p>`
      // }
     } else {
      uraianDetail.push({ class: element.CLASS_NO, uraianClass: dataUraian[0].CLASS_DESC })
     }
    })
    // this.detailData = data[0]
    this.dataColumn.nama.content = this.data.TM_BRAND_NAME
    this.dataColumn.noSertifikat.content = this.data.NO_SERTIFIKAT ? this.data.NO_SERTIFIKAT : '-'
    this.dataColumn.status.content = this.getStatus
    this.dataColumn.tglPermohonan.content = this.data.TGL_PERMOHONAN ? this.data.TGL_PERMOHONAN.split('T')[0] : '-'
    this.dataColumn.tglTerdaftar.content = this.data.TGL_TERDAFTAR ? this.data.TGL_TERDAFTAR.split('T')[0] : '-'
    this.dataColumn.tglExpired.content = this.data.TGL_EXPIRED ? this.data.TGL_EXPIRED.split('T')[0] : '-'
    this.dataColumn.kelas.content = this.data.CLASS_ID
    // console.log(this.detailData, 'detail')
    this.uraianData = uraianDetail
    this.highlightUraian = html
    // console.log(this.highlightUraian)
    await this.getImgDetail()
   } catch (err) {
    console.log('err', err)
   }
   // loading.close()
  },
  addBanding() {
   // console.log('show added banding', this.currentImgShow, { ...this.currentImgShow, STATUS: this.data.STATUS })
   this.$emit('addBandingItem', { ...this.currentImgShow, STATUS: this.data.STATUS })
   // console.log('should emit data')
  },
  closeDetailCard() {
   this.$emit('closeDetailCard')
   this.detailData = {}
  },
  getDetailImgSrc(filename, type) {
   if (type === 'parent') {
    return `${process.env.VUE_APP_PHP_API}/application-brand/${filename}`
   } else {
    return `${process.env.VUE_APP_PHP_API}/application-brand-detail/${filename}`
   }
   // console.log('detail img src', `${process.env.VUE_APP_PHP_API}/logo-desain/${filename}`)
   // return `${process.env.VUE_APP_PHP_API}/logo-desain/${filename}`
  },
  changeCurrentImg(data, index) {
   this.detailImgIndex = index
   this.currentImgShow = data
  },
  goToDGIP() {
   if (this.route !== 'merek-search-external') {
    window.open(`http://10.1.35.115:8080/AdminMerek/layanan/pratinjau-permohonan?no=${this.data.APPLICATION_ID}`)
    // window.open(`https://merek.dgip.go.id/AdminMerek/layanan/pratinjau-permohonan?no=${this.data.APPLICATION_ID}`)
   }
  }
 }
}
</script>

<style scoped>
.detail-card-container {
 display: flex;
 flex-direction: column;
 /* top: 0px; */
 /* position: fixed; */
 /* width: 100vw; */
 /* height: 100vh; */
 /* background-color: rgb(0, 0, 0, 0.2); */
 justify-content: center;
 align-items: center;
}

.close-btn-container {
 position: relative;
 /* top: -15px; */
 display: flex;
 flex-direction: row-reverse;
 width: 100%;
 /* width: 90vw; */
}

.close-btn {
 cursor: pointer;
 position: absolute;
 right: -20px;
 top: -25px;
 color: rgb(175, 175, 175);
 transition: 0.1s ease;
}

.close-btn:hover {
 color: rgb(100, 100, 100);
 font-weight: bolder;
 transform: scale(1.2);
 transition: 0.1s ease;
}

.detailCard {
 min-width: 1137px;
 width: 100%;
 min-height: 536px;
 height: 45vw;
 border: 15px solid #A5A5A5;
 background-color: white;
 border-collapse: collapse;
 align-self: center;
 display: grid;
 grid-template-rows: 75% 25%;
 grid-template-columns: auto;
}

.top-container {
 width: 100%;
 border-bottom: 1px solid #A5A5A5;
 display: grid;
 grid-template-columns: 75% 25%;
 overflow: hidden;
}

.pic-container {
 display: grid;
 max-height: 100%;
 min-height: 100%;
 grid-template-rows: 90% 10%;
}

.pic-inner-container {
 border: 1px solid #F2F2F2;
 margin: 20px 20px 0px 20px;
 display: flex;
 justify-content: center;
}

.pic-inner-container img {
 max-height: 100%;
 max-width: 100%;
 object-fit: scale-down;
 border: 1px solid #CCCCCC;
 margin: -1px 0px 0px -1px;
}

.pic-info {
 align-self: center;
 text-align: center;
}

.detail-container {
 /* width: 100%; */
 border-left: 1px solid #A5A5A5;
 padding: 15px;
 overflow: auto;
 scrollbar-width: thin;
}

.detail-container::-webkit-scrollbar {
 width: 1vw;
}

.detail-container::-webkit-scrollbar-thumb {
 background-color: #CDCDCD;
}

.detail-container::-webkit-scrollbar-thumb:hover {
 background-color: #A6A6A6;
}

.detail-container::-webkit-scrollbar-track {
 background-color: #F0F0F0;
}

.detail-info {
 overflow: auto;
}

.detail-info h3 {
 cursor: pointer;
}

.data-loop {
 margin-bottom: 10px;
}

.detail-info h5 {
 margin: 0px;
 font-size: small;
 font-weight: bold;
 color: #2c3e50;
}

.detail-info p {
 padding-left: 5px;
 font-size: smaller;
 color: #2c3e50;
 margin: 0px;
}

.buttom-container {
 overflow: auto;
 display: flex;
 padding: 0px 15px;
 max-width: 100%;
 gap: 15px;
 align-items: center;
 justify-content: center;
}

.img-detail {
 max-height: 80%;
 min-height: 80%;
 max-width: 11%;
 min-width: 11%;
 border: 1px solid black;
 display: flex;
 justify-content: center;
 cursor: pointer;
 transition: 0.2s ease;
}

.img-detail:hover {
 transform: scale(1.05);
 transition: 0.2s ease;
}

.img-detail img {
 max-width: 100%;
 max-height: 100%;
 object-fit: contain;
}
</style>
