<template>
  <div class="detail-card-container">
    <div class="close-btn-container">
      <div class="close-btn" @click="closeDetailCard">
        X
      </div>
    </div>
    <div class="detailCard">
      <div class="top-container">
        <div class="pic-container">
          <div class="pic-inner-container">
            <img :src="getImageSrc" alt="Gambar Item Detail" @dblclick="addBanding">
            <!-- <img v-if="Object.keys(currentImgShow).length > 0" :src="getImageSrc" alt="Gambar Item Detail"
       @dblclick="addBanding"> -->
          </div>
          <div class="pic-info">
            <!-- <p>{{ `Gambar ${detailImgIndex + 1} / ${detailImg.length}` }}</p> -->
          </div>
        </div>
        <div class="detail-container">
          <div class="detail-info">
            <h3 v-if="NOMOR_PERMOHONAN === 'EXTERNAL SOURCE'" style="cursor: default;">
              {{ NOMOR_PERMOHONAN }}
            </h3>
            <h3 v-else @click="goToIPROLINE">
              {{ NOMOR_PERMOHONAN }}
            </h3>
            <div v-if="NOMOR_PERMOHONAN === 'EXTERNAL SOURCE'" class="data-loop">
              <h5>URL</h5>
              <div v-for="(d, i) in detailInventor" :key="i">
                <a :href="d.nama" target="_blank"> {{ `${d.nama}` }}hg </a>
              </div>
            </div>
            <div v-for="(d, i) in filterDetailContent" :key="i" class="data-loop">
              <h5>{{ d.label }}</h5>
              <p>{{ d.content }}</p>
            </div>
            <div v-if="NOMOR_PERMOHONAN !== 'EXTERNAL SOURCE'" class="data-loop">
              <h5>Inventor</h5>
              <div v-for="(d, i) in detailInventor" :key="i">
                <p>{{ `${i + 1}. ${d.nama}` }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="detailImg && NOMOR_PERMOHONAN !== 'EXTERNAL SOURCE'" class="buttom-container">
        <div v-for="(d, i) in detailImg" :key="d.id" class="img-detail" @click="changeCurrentImg(d, i)">
          <img :src="getDetailImgSrc(d.FILENAME)">
        </div>
      </div>
      <!-- <div class="buttom-container" v-if="detailImg && NOMOR_PERMOHONAN === 'EXTERNAL SOURCE'">
        <div class="img-detail" v-for="(d, i) in detailImg" :key="d.id" @click="changeCurrentImg(d, i)">
          <img :src="getDetailImgSrc(d.FILE_IMAGE)"/>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { Loading } from 'element-ui'

export default {
  props: {
    data: Object,
    NOMOR_PERMOHONAN: String,
    nomorKu: String
  },
  data() {
    return {
      loadingData: {},
      route: '',
      detailData: {},
      detailImg: [],
      detailImgAsli: '',
      detailImgIndex: 0,
      currentImgShow: {},
      dataColumn: {
        judul: {
          label: 'Judul',
          content: ''
        },
        noSertifikat: {
          label: 'No. Sertifikat',
          content: ''
        },
        status: {
          label: 'Status',
          content: ''
        },
        tglPermohonan: {
          label: 'Tanggal Permohonan',
          content: ''
        },
        tglTerdaftar: {
          label: 'Tanggal Terdaftar',
          content: ''
        },
        /* tglExpired: {
          label: 'Tanggal Expired',
          content: ''
        }, */
        kelas: {
          label: 'Kelas',
          content: ''
        },
        klaim: {
          label: 'Klaim',
          content: ''
        },
        uraian: {
          label: 'Uraian',
          content: ''
        }
      },
      detailInventor: []
    }
  },
  computed: {
    getImageSrc() {
      console.log(this.detailImgAsli)
      console.log(this.currentImgShow)
      return this.detailImgAsli
      /*
       // console.log('main file img src', `http://103.150.169.71:8483/logo-desain/${this.currentImgShow.FILENAME}`)
       console.log(this.currentImgShow)
       if ('FILENAME' in this.currentImgShow) {
         return `${process.env.VUE_APP_PHP_API}/logo-desain/${this.currentImgShow.FILENAME}`
         // return `${process.env.VUE_APP_PHP_API}/logo-desain/${this.currentImgShow.FILE_IMAGE}`
         // return `http://103.150.169.71:8483/logo-desain/${this.currentImgShow.FILE_IMAGE}`
       } else {
         return `${process.env.VUE_APP_PHP_API}/logo-desain/${this.currentImgShow}`
         // return `http://103.150.169.71:8483/logo-desain/${this.currentImgShow.FILENAME}`
       }*/
    },
    filterDetailContent() {
      const newDetailData = {}
      for (const key in this.dataColumn) {
        if (this.dataColumn[key].content !== null) {
          newDetailData[key] = this.dataColumn[key]
        }
      }
      console.log('newDetailData', newDetailData)
      return newDetailData
    },
    getStatus(status) {
     return status
      // switch (status) {
      //   case 1:
      //     return 'Terdaftar'
      //   case 2:
      //     return 'Proses'
      //   case 3:
      //     return 'Publikasi'
      //   case 4:
      //     return 'Ditolak'
      //   default:
      //     return '-'
      // }
    }
  },
  watch: {
    nomorKu(data) {
      console.log('nah', data);
    },
    NOMOR_PERMOHONAN(data) {
      console.log(data);
      if (Object.keys(this.loadingData).length > 0) {
        this.detailImgIndex = 0
        this.loadingData.close()
      }
      this.getDetailData()
      // setTimeout(() => {
      //   detailCard.scrollIntoView({ behavior: 'smooth' })
      // }, 500)
    }
  },
  mounted() {
    // const detailCard = this.$el.querySelector('.detailCard')
    this.getDetailData()
    this.route = this.$route.name
    // setTimeout(() => {
    //   detailCard.scrollIntoView({ behavior: 'smooth' })
    // }, 500)
  },
  methods: {
    async getDetailData() {
      this.loadingData = Loading.service({
        target: '.detailCard',
        body: true,
        lock: true
      })
      console.log('data detail card', this.data)
      try {
        if (this.NOMOR_PERMOHONAN === 'EXTERNAL SOURCE') {
          console.log(this.data.FILE_IMAGE)
          /*const detail = this.data.FILE_IMAGE
          this.setDetailData2(detail)
          this.setDetailImage2([this.data.FILE_IMAGE])*/
          this.loadingData.close()
        } else {
          console.log('no permohonan', this.NOMOR_PERMOHONAN)
          console.log('no permohonan ku', this.nomorKu)
          const { data } = await axios({
            method: 'GET',
            url: `${process.env.VUE_APP_NODE_API_NEW}/test_elastic/detail_di?nomor_permohonan=${this.nomorKu}`
          })
          console.log('detail data', data);
          const detail = data
          const imageDetail = data[0].FILENAME
          this.detailImgAsli = data[0].FILENAME
          //  const detail = data.details
          //  const imageDetail = data.child
          this.detailData = detail
          this.setDetailData(detail)
          console.log(imageDetail)
          this.setDetailImage(data[0].FILENAME)
          console.log('detailData Raw', detail)
          // await this.getImgDetail()
          this.loadingData.close()
        }
      } catch (err) {
        this.loadingData.close()
        console.log('err', err)
      }
    },
    setDetailData(detail) {
      const inventor = []
      detail.forEach(d => {
        const namaInventor = d.NAMA_INVENTOR.split(' ')
        let newNama = ''
        namaInventor.forEach((nama, index) => {
          if (index === 0) {
            newNama = newNama + nama
          } else if (nama.length > 0) {
            newNama = newNama + ` ${nama}`
          }
        })
        inventor.push({
          nama: newNama,
          telepon: d.TELEPON,
          alamat: d.ALAMAT
        })
      })
      this.dataColumn.noSertifikat.content = detail[0].NO_SERTIFIKAT ? detail[0].NO_SERTIFIKAT : '-'
      this.dataColumn.status.content = detail[0].STATUS ? detail[0].STATUS : '-'
      // this.dataColumn.tglPermohonan.content = this.data.TGL_PERMOHONAN ? this.data.TGL_PERMOHONAN.split('T')[0] : '-'
      this.dataColumn.tglPermohonan.content = detail[0].TGL_PERMOHONAN ? detail[0].TGL_PERMOHONAN : '-'
      // this.dataColumn.tglTerdaftar.content = this.data.TGL_TERDAFTAR ? this.data.TGL_TERDAFTAR.split('T')[0] : '-'
      // this.dataColumn.tglTerdaftar.content = this.data.TGL_TERDAFTAR ? this.convertUTCDateToLocalDate(new Date(this.data.TGL_TERDAFTAR)).toISOString().split('T')[0] : '-'
      this.dataColumn.tglTerdaftar.content = detail[0].TGL_TERDAFTAR ? detail[0].TGL_TERDAFTAR : '-'
      // this.dataColumn.tglExpired.content = this.data.TGL_EXPIRED ? this.data.TGL_EXPIRED.split('T')[0] : '-'
      // this.dataColumn.tglExpired.content = this.data.TGL_EXPIRED ? this.convertUTCDateToLocalDate(new Date(this.data.TGL_EXPIRED)).toISOString().split('T')[0] : '-'
      this.dataColumn.kelas.content = detail[0].KELAS_ID ? detail[0].KELAS_ID : '-'
      this.dataColumn.judul.content = detail[0].JUDUL_INVENSI ? detail[0].JUDUL_INVENSI : '-'
      this.dataColumn.klaim.content = detail[0].KLAIM ? detail[0].KLAIM : '-'
      this.dataColumn.uraian.content = detail[0].URAIAN_DESAING ? detail[0].URAIAN_DESAING : '-'
      this.detailInventor = inventor
      console.log('inventor', inventor)
    },
    setDetailData2(detail) {
      const inventor = []
      this.dataColumn.noSertifikat.content = '-'
      this.dataColumn.status.content = '-'
      this.dataColumn.tglPermohonan.content = '-'
      this.dataColumn.tglTerdaftar.content = '-'
      this.dataColumn.kelas.content = '-'
      this.dataColumn.judul.content = '-'
      this.dataColumn.klaim.content = '-'
      this.dataColumn.uraian.content = '-'
      inventor.push({
        nama: this.data.T_PERMOHONAN_ID,
        telepon: '-',
        alamat: '-'
      })
      this.detailInventor = inventor
    },
    setDetailImage(detailImg) {
      /*const filteredData = detailImg.filter(d => d.FILENAME !== null && d.FILENAME !== undefined)
      this.detailImg = filteredData
      this.currentImgShow = filteredData[0]*/
      this.detailImgAsli = detailImg
      this.detailImg = []
      this.currentImgShow = {
        imgwoy:detailImg
      }
    },
    setDetailImage2(detailImg) {
      const filteredData = detailImg
      console.log(filteredData)
      this.detailImg = filteredData
      this.currentImgShow = [filteredData[0]]
    },
    addBanding() {
      if (Object.keys(this.data).length > 0) {
        this.$emit('addBandingItem', { ...this.currentImgShow, STATUS: this.data.STATUS, JUDUL_INVENSI: this.data.JUDUL_INVENSI })
      }
    },
    closeDetailCard() {
      this.$emit('closeDetailCard')
      this.detailData = {}
    },
    getDetailImgSrc(filename) {
      /*
      // console.log('detail img src', `http://103.150.169.71:8483/logo-desain/${filename}`)
      // return `http://103.150.169.71:8483/logo-desain/${filename}`
      return `${process.env.VUE_APP_PHP_API}/logo-desain/${filename}`*/
      return `https://pdki-indonesia-api.dgip.go.id/storage/data-merek/application-brand/2014/11/20/D002012001164.jpg`
    },
    changeCurrentImg(data, index) {
      console.log('data', data)
      this.detailImgIndex = index
      this.currentImgShow = data
    },
    goToIPROLINE() {
      if (this.route !== 'desain-industri-search-external') {
        window.open(`https://desainindustri.dgip.go.id/formalitas/pengecekan/detail-permohonan?id=${this.data.ID}`)
      }
    },
    convertUTCDateToLocalDate(date) {
      date.setMinutes(date.getMinutes() - date.getTimezoneOffset())
      return date
    }
  }
}
</script>

<style scoped>
.detail-card-container {
  display: flex;
  flex-direction: column;
  /* top: 0px; */
  /* position: fixed; */
  /* width: 100vw; */
  /* height: 100vh; */
  /* background-color: rgb(0, 0, 0, 0.2); */
  justify-content: center;
  align-items: center;
}

.close-btn-container {
  position: relative;
  /* top: -15px; */
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  /* width: 90vw; */
}

.close-btn {
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -25px;
  color: rgb(175, 175, 175);
  transition: 0.1s ease;
}

.close-btn:hover {
  color: rgb(100, 100, 100);
  font-weight: bolder;
  transform: scale(1.2);
  transition: 0.1s ease;
}

.detailCard {
  min-width: 1137px;
  width: 100%;
  min-height: 536px;
  height: 45vw;
  border: 15px solid #A5A5A5;
  background-color: white;
  border-collapse: collapse;
  align-self: center;
  display: grid;
  grid-template-rows: 75% 25%;
  grid-template-columns: auto;
}

.top-container {
  width: 100%;
  border-bottom: 1px solid #A5A5A5;
  display: grid;
  grid-template-columns: 75% 25%;
  overflow: hidden;
}

.pic-container {
  display: grid;
  max-height: 100%;
  min-height: 100%;
  grid-template-rows: 90% 10%;
}

.pic-inner-container {
  border: 1px solid #F2F2F2;
  margin: 20px 20px 0px 20px;
  display: flex;
  justify-content: center;
}

.pic-inner-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
  border: 1px solid #CCCCCC;
  margin: -1px 0px 0px -1px;
}

.pic-info {
  align-self: center;
  text-align: center;
}

.detail-container {
  /* width: 100%; */
  border-left: 1px solid #A5A5A5;
  padding: 15px;
  overflow: auto;
  scrollbar-width: thin;
}

.detail-container::-webkit-scrollbar {
  width: 1vw;
}

.detail-container::-webkit-scrollbar-thumb {
  background-color: #CDCDCD;
}

.detail-container::-webkit-scrollbar-thumb:hover {
  background-color: #A6A6A6;
}

.detail-container::-webkit-scrollbar-track {
  background-color: #F0F0F0;
}

.detail-info {
  overflow: auto;
}

.detail-info h3 {
  cursor: pointer;
}

.data-loop {
  margin-bottom: 10px;
}

.detail-info h5 {
  margin: 0px;
  font-size: small;
  font-weight: bold;
  color: #2c3e50;
}

.detail-info p {
  padding-left: 5px;
  font-size: smaller;
  color: #2c3e50;
  margin: 0px;
}

.buttom-container {
  overflow: auto;
  display: flex;
  padding: 0px 15px;
  max-width: 100%;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.img-detail {
  max-height: 80%;
  min-height: 80%;
  max-width: 11%;
  min-width: 11%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.img-detail:hover {
  transform: scale(1.05);
  transition: 0.2s ease;
}

.img-detail img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
</style>
