<template>
  <div>
    <div class="d-flex justify-content-center">
      <img ref="image" :src="src" alt="" crossorigin>
    </div>
    <el-button type="primary" class="mt-3" @click="saveCroppedImage">
      Save
    </el-button>
  </div>
</template>

<script>
import Cropper from 'cropperjs'
import api from '../../src/pages/merek/api'
export default {
  props: {
    src: String
  },
  data() {
    return {
      cropper: {},
      destination: {},
      image: {}
    }
  },
  watch: {
    src(value) {
      this.cropper.reset()
      this.cropper.replace(value)
    }
  },
  mounted() {
    this.image = this.$refs.image
    this.cropper = new Cropper(this.image, {
      minContainerHeight: 150,
      minContainerWidth: 250,
      dragMode: 'move',
      viewMode: 1,
      crop: (e) => {
        const canvas = this.cropper.getCroppedCanvas()
        this.destination = canvas.toDataURL('image/jpg')
      }
    })
  },
  methods: {
    async saveCroppedImage() {
      const canvas = this.cropper.getCroppedCanvas()
      canvas.toBlob(async(blob) => {
        const formData = new FormData()
        formData.append('upload_images', blob/*, 'example.png' */)
        const res = await api.uploadMerekImage(formData)
        if (res.status === 200) {
          this.$emit('closeEdit')
          this.$emit('setCroppedImage', { file: res.data.file, croppedImage: this.destination })
        }
      })
    }
  }
}
</script>

<style scoped>
</style>
