<template>
  <div class="result-card" @mouseenter="isHover = true" @mouseleave="isHover = false" @click="emitData">
    <div v-if="!isHover" class="content">
      <div class="top-container">
        <img :src="getImageSrc">
      </div>
      <div class="buttom-container">
        <div class="status-bar" :style="{ backgroundColor: makeStatusColor }" />
        <div class="content-info">
          <div class="content-id">
            {{ makeId }}
          </div>
          <div class="content-name">
            {{ makeName }}
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="isHover" class="content-hover">
      <div class="top-container">
        <img :src="getImageSrc">
      </div>
      <div class="buttom-container-hover">
        <div class="status-bar-hover" :style="{ backgroundColor: makeStatusColor }" />
        <div class="content-info-hover">
          <div class="content-id">
            {{ makeId }}
          </div>
          <div class="content-name">
            {{ makeName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: Object,
    index: Number,
    searchedBy: Object
  },
  data() {
    return {
      isHover: false
    }
  },
  computed: {
    makeId() {
      return `
        ${this.data.APPLICATION_ID} | ${this.data.CLASS_ID ? this.data.CLASS_ID : null}
        ${this.searchedBy.phonetic ? `| Score By Phonetic: ${this.data.SCOREBYTEXT}% ` : ''}
        ${this.searchedBy.image ? `| Score By Image: ${this.data.SCOREBYIMAGE.toFixed(2)}%` : ''}
      `
      // return `
      //   ${'_source' in this.data ? this.data._source.filename.split('/')[3].slice(0, 13) : this.data.APPLICATION_NO}
      //   | Kelas ${this.data.CLASS_NO ? this.data.CLASS_NO : null}
      //   | ${'_source' in this.data ? Math.round(this.data._score * 100) : this.data.SCORE} %
      // `
    },
    makeName() {
      return this.data.TM_BRAND_NAME
    },
    makeStatusColor() {
      switch (this.data.STATUS) {
        case 2: // Proses
          return '#CCCCCC'
        case 1: // Terdaftar
          return '#FF0000'
        case 3: // Publikasi
          return '#00FF00'
        case 4: // Ditolak
          return '#FFFF00'
        default:
          return ''
      }
    },
    getImageSrc() {
      if (this.data.DATATYPE === 'parent') {
        return `${process.env.VUE_APP_PHP_API}/application-brand/${this.data.FILE_IMAGE}`
      } else {
        return `${process.env.VUE_APP_PHP_API}/application-brand-detail/${this.data.FILE_IMAGE}`
      }
    }
  },
  methods: {
    emitData() {
      this.$emit('clicked', { ...this.data, row: Math.floor((this.index / 6) + 1), cardIndex: this.index })
    }
  }
}
</script>

<style scoped>
  .result-card {
    border-collapse: collapse;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    min-width: 177px;
    min-height: 177px;
  }

  .result-card:hover {
    transform: scale(1.3);
    transition: 0.1s ease-in-out;
  }

  .content {
    display: flex;
    flex-direction: column;
    min-width: 177px;
    min-height: 177px;
    width: 13vw;
    height: 13vw;
  }

  .top-container {
    display: flex;
    justify-content: center;
    height: 12vw;
    width: 13vw;
    border-collapse: collapse;
    background-color: white;
  }

  .top-container img, .top-container-hover img {
    height: auto;
    width: 100%;
    object-fit: scale-down;
  }

  .buttom-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    /* height: 20px; */
    width: 100%;
    /* border: 1px solid blue; */
    background-color: transparent;
    padding-top: 5px;
  }

  .status-bar {
    width: 5px;
    height: 100%;
    /* background-color: orange; */
  }

  .content-info {
    font-size: 9px;
  }

  .content-id {
    color: rgb(51, 51, 51);
    font-size: 9px;
  }

  .content-name {
    font-weight: bold;
    font-size: 9px;
  }

  .content-hover {
    position: absolute;
    width: 15vw;
    height: 15vw;
    background-color: white;
    border: 1px solid grey;
  }

  .top-container {
    height: 75%;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }

  .buttom-container-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* height: 15%; */
    width: 100%;
    background-color: transparent;
    border-top: 1px solid rgb(202, 202, 202);
  }

  .status-bar-hover {
    height: 4px;
    width: 20px;
    /* background-color: orange; */
  }

  .content-info-hover {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    font-size: 10px;
  }
</style>
