<template>
  <div class="result-card">
    <div class="content">
      <div class="d-flex justify-content-between">
        <div>
          <span style="font-weight: 500;">{{ data.no }}. </span>
          <span v-if="data.STATUS !== 'Universal DB'"
                style="text-decoration: underline; font-weight: 500; margin-right: 4px;" @click="goToDetail"
          >{{
            data.COMB_NO_PERMOHONAN
          }}</span>
          <span v-if="data.STATUS === 'Universal DB'"
                style="text-decoration: underline; font-weight: 500; margin-right: 4px;" @click="goToDetail2"
          >{{
            data.PUBLICATION_NOTES
          }}</span>
          <span style="font-weight: 500; margin-right: 4px;" v-html="data.TITLE" />
          <span style="font-size: 0.7rem;" v-html="data.ENGLISH_TITLE" />
        </div>
        <div>
          <!-- <input v-if="data.STATUS !== 'Universal DB'" style="margin-left: 20px;" type="checkbox" v-model="selectedData"
      :value="data.COMB_NO_PERMOHONAN" @click="check"> -->
        </div>
      </div>
      <div style="display: flex; flex-wrap: wrap; margin-top: 10px; margin-bottom: 10px">
        <span style="position: relative;">
          <span style="font-weight: 500;">Class: </span>
          <span>{{ data.CLASSES }}</span>
        </span>
        <span style="position: relative; margin-left: 1.5em">
          <span style="font-weight: 500;">Filing Date: </span>
          <!--<span>{{ data.FILING_DATE ? data.FILING_DATE.split('T')[0] : "-" }}</span>-->
          <span>{{
            data.FILING_DATE ? this.convertUTCDateToLocalDate(new Date(data.FILING_DATE)).toISOString().split('T')[0]
            : '-'
          }}</span>
        </span>
        <span style="position: relative;  margin-left: 1.5em">
          <span style="font-weight: 500;">Publication Date: </span>
          <!--<span>{{ data.PUBLICATION_DATE ? data.PUBLICATION_DATE.split('T')[0] : '-' }}</span>-->
          <span>{{
            data.PUBLICATION_DATE ? this.convertUTCDateToLocalDate(new
              Date(data.PUBLICATION_DATE)).toISOString().split('T')[0] : '-'
          }}</span>
        </span>
        <span style="position: relative;  margin-left: 1.5em">
          <span style="font-weight: 500;">Registration Date: </span>
          <!-- <span>{{ data.REGISTRATION_DATE ? data.REGISTRATION_DATE.split('T')[0] : '-'}}</span> -->
          <span>{{
            data.REGISTRATION_DATE ? this.convertUTCDateToLocalDate(new
              Date(data.REGISTRATION_DATE)).toISOString().split('T')[0] : '-'
          }}</span>
        </span>
        <span style="position: relative;  margin-left: 1.5em">
          <span style="font-weight: 500;">Status: </span>
          <span>{{ data.STATUS_NAME }}</span>
        </span>
        <span style="position: relative;  margin-left: 1.5em">
          <span style="font-weight: 500;">Applicant: </span>
          <span>{{ data.APPLICANTS }}</span>
        </span>
      </div>
      <div style="margin-top: 0.5rem; text-align: justify"
           v-html="data.SUMMARY_ID ? data.SUMMARY_ID.replaceAll('\r\n\r\n<p>&nbsp;</p>', '') : data.SUMMARY_ID"
      >
        <!-- <p>{{ data.SUMMARY_ID }}</p> -->
      </div>
      <div style="margin-top: 0.5rem; text-align: justify" v-html="data.SUMMARY_EN">
        <!-- <p>{{ data.SUMMARY_EN }}</p> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
 props: {
  data: Object,
  selectedData: Array
 },
 data() {
  return {
  }
 },
 methods: {
  goToDetail() {
   window.open(`http://10.2.7.36/#/table-list/patents/${this.data.COMB_NO_PERMOHONAN}`)
  },
  goToDetail2() {
   window.open(`https://patentscope.wipo.int/search/en/detail.jsf?docId=${this.data.PUBLICATION_NOTES}`)
  },
  check(e) {
   this.$emit('getCheckedData', { value: e.target._value, checked: e.target.checked })
  },
  convertUTCDateToLocalDate(date) {
   date.setMinutes(date.getMinutes() - date.getTimezoneOffset())
   return date
  }
 }
}
</script>

<style scoped>
.result-card {
 cursor: pointer;
 min-width: 177px;
 margin-bottom: 10px;
 border: 1px solid #DCDFE6;
}

.content {
 padding: 1.5rem;
}
</style>
