<template>
  <div class="result-card">
    <div class="content">
      <div class="d-flex justify-content-between">
        <div>
          <span style="font-weight: 500;">{{ data.no }}. </span>
          <span style="text-decoration: underline; font-weight: 500; margin-right: 4px;">{{ data.COMB_NO_PERMOHONAN }}</span>
          <span style="font-weight: 500; margin-right: 4px;" v-html="data.TITLE" />
          <span style="font-size: 0.7rem;" v-html="data.ENGLISH_TITLE" />
        </div>
      </div>
      <div style="display: flex; flex-wrap: wrap; margin-top: 10px; margin-bottom: 10px">
        <span style="position: relative;">
          <span style="font-weight: 500;">Class: </span>
          <span>{{ data.CLASSES }}</span>
        </span>
        <span style="position: relative; margin-left: 1.5em">
          <span style="font-weight: 500;">Filing Date: </span>
          <span>{{ data.FILING_DATE ? data.FILING_DATE.split('T')[0] : "-" }}</span>
        </span>
        <span style="position: relative;  margin-left: 1.5em">
          <span style="font-weight: 500;">Publication Date: </span>
          <span>{{ data.PUBLICATION_DATE ? data.PUBLICATION_DATE.split('T')[0] : '-' }}</span>
        </span>
        <span style="position: relative;  margin-left: 1.5em">
          <span style="font-weight: 500;">Registration Date: </span>
          <span>{{ data.REGISTRATION_DATE ? data.REGISTRATION_DATE.split('T')[0] : '-' }}</span>
        </span>
        <span style="position: relative;  margin-left: 1.5em">
          <span style="font-weight: 500;">Status: </span>
          <span>{{ data.STATUS_NAME }}</span>
        </span>
      </div>
      <div style="margin-top: 0.5rem; text-align: justify" v-html="data.SUMMARY_ID ? data.SUMMARY_ID.replaceAll('\r\n\r\n<p>&nbsp;</p>', '') : data.SUMMARY_ID">
        <!-- <p>{{ data.SUMMARY_ID }}</p> -->
      </div>
      <div style="margin-top: 0.5rem; text-align: justify" v-html="data.SUMMARY_EN">
        <!-- <p>{{ data.SUMMARY_EN }}</p> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: Object,
    selectedData: Array
  },
  data() {
    return {
    }
  },
  methods: {
    goToDetail() {
      // window.open(`http://103.150.169.71:8084/#/table-list/patents/${this.data.COMB_NO_PERMOHONAN}?classes=null'`)
    },
    check(e) {
      this.$emit('getCheckedData', { value: e.target._value, checked: e.target.checked })
    }
  }
}
</script>

<style scoped>
  .result-card {
    cursor: pointer;
    min-width: 177px;
    margin-bottom: 10px;
    border: 1px solid #DCDFE6;
  }

  .content {
    padding: 1.5rem;
  }
</style>
