<template>
  <div class="result-card" @mouseenter="isHover = true" @mouseleave="isHover = false" @click="emitData">
    <div v-if="!isHover" class="content">
      <div class="top-container">
        <img :src="getImageSrc">
      </div>
      <div class="buttom-container">
        <div class="status-bar" :style="{ backgroundColor: makeStatusColor }" />
        <div class="content-info">
          <div class="content-id">
            {{ makeId }}
          </div>
          <div class="content-name">
            {{ makeName }}
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="isHover" class="content-hover">
      <div class="top-container">
        <img :src="getImageSrc">
      </div>
      <div class="buttom-container-hover">
        <div class="status-bar-hover" :style="{ backgroundColor: makeStatusColor }" />
        <div class="content-info-hover">
          <div class="content-id">
            {{ makeId }}
          </div>
          <div class="content-name">
            {{ makeName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
 props: {
  data: Object,
  index: Number
 },
 data() {
  return {
   isHover: false
  }
 },
 computed: {
  makeId() {
   return `
        ${this.data.NOMOR_PERMOHONAN}
        | ${this.data.KELAS_ID}
        ${this.data.SCOREBYIMAGE > 0 ? `| ${Math.round(this.data.SCOREBYIMAGE)} %` : ''}
      `
   // | ${Math.round(this.data.SCOREBYIMAGE)} %
   // | ${this.data.SCOREBYTEXT} %
  },
  makeName() {
   // if (!this.data.JUDUL_INVENSI) return ''
   if (this.data.JUDUL_INVENSI && this.data.JUDUL_INVENSI.length <= 30) {
    return this.data.JUDUL_INVENSI
   } else {
    return `${this.data.JUDUL_INVENSI.substr(0, 30)}...`
   }
   // return this.data.JUDUL_INVENSI
  },
  makeStatusColor() {
   // #00ff00 ijo
   // #ff0000
   switch (this.data.STATUS2) {
    case 6:
    case 7:
     return '#56BBF1'
    case 43:
    case 44:
    case 45:
     return '#889EAF'
    case 46:
     return '#383838'
    case 47:
     return '#FFA500'
    case 62:
     return '#FFA500'
    default:
     return '#CCCCCC'
   }
  },
  getImageSrc() {
   // return `http://103.150.169.71:8483/logo-desain/${this.data._source.filename}`
   // return `http://103.150.169.71:8483/logo-desain/` + this.data.FILE_IMAGE
   // return `${process.env.VUE_APP_PHP_API}/logo-desain/${this.data.FILE_IMAGE}`
   return this.data.FILE_IMAGE
  }
 },
 mounted() {
  // console.log(this.data)
 },
 methods: {
  emitData() {
   this.$emit('clicked', { ...this.data, row: Math.floor((this.index / 6) + 1), cardIndex: this.index })
  }
 }
}
</script>

<style scoped>
.result-card {
 border-collapse: collapse;
 cursor: pointer;
 transition: 0.1s ease-in-out;
 min-width: 177px;
 min-height: 177px;
}

.result-card:hover {
 transform: scale(1.3);
 transition: 0.1s ease-in-out;
}

.content {
 display: flex;
 flex-direction: column;
 min-width: 177px;
 min-height: 177px;
 width: 13vw;
 height: 13vw;
}

.top-container {
 display: flex;
 justify-content: center;
 height: 12vw;
 width: 13vw;
 border-collapse: collapse;
 background-color: white;
 border: 1px solid #CCCCCC
}

.top-container img,
.top-container-hover img {
 height: auto;
 width: 100%;
 object-fit: scale-down;
}

.buttom-container {
 display: flex;
 flex-direction: row;
 gap: 5px;
 /* height: 20px; */
 width: 100%;
 /* border: 1px solid blue; */
 background-color: transparent;
 padding-top: 5px;
}

.status-bar {
 width: 5px;
 height: 100%;
 /* background-color: orange; */
}

.content-info {
 font-size: 9px;
}

.content-id {
 color: rgb(51, 51, 51);
 font-size: 9px;
}

.content-name {
 font-weight: bold;
 font-size: 9px;
}

.content-hover {
 position: absolute;
 width: 15vw;
 height: 15vw;
 background-color: white;
 border: 1px solid grey;
}

.top-container {
 height: 75%;
 width: 100%;
 border-collapse: collapse;
 background-color: white;
}

.buttom-container-hover {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 5px;
 /* height: 15%; */
 width: 100%;
 background-color: transparent;
 border-top: 1px solid rgb(202, 202, 202);
}

.status-bar-hover {
 height: 4px;
 width: 20px;
 /* background-color: orange; */
}

.content-info-hover {
 display: flex;
 flex-direction: column;
 gap: 5px;
 text-align: center;
 font-size: 10px;
}
</style>
