<template>
  <div class="combined-container">
    <div v-if="id !== 0" class="operator-input">
      <div class="form-floating">
        <select v-model="data.logic" class="form-select" aria-label="Floating label select example">
          <option value="and">
            AND
          </option>
          <option value="or">
            OR
          </option>
        </select>
        <label for="floatingSelect">Operator</label>
      </div>
    </div>
    <div class="field-input">
      <div class="form-floating">
        <select v-model="data.field" class="form-select" aria-label="Floating label select example">
          <option v-for="(item, i) in fieldOptions" :key="i" :value="item.value">
            {{ item.label }}
          </option>
        </select>
        <label for="floatingSelect">Field</label>
      </div>
    </div>
    <div class="value-input">
      <div class="form-floating">
        <input id="floatingInput" v-model.trim="data.value" type="text" class="form-control" style="width: 300px;"
               placeholder="asdasd"
        >
        <label for="floatingInput">Value</label>
      </div>
    </div>
    <el-dropdown @command="handleCommand">
      <div class="query-example">
        <div class="form-control" style="background-color: #5A8DEE; border-color: #5A8DEE; color: white; margin-top: 20px;">
          <span class="el-dropdown-link"><i style="color: white;" class="el-icon-question" />
          </span>
          <el-dropdown-menu v-if="data.field === 'Title' || data.field === 'Abstract' || data.field === 'Claim' || data.field === 'Description' || data.field === 'Applicant Name'"
                            slot="dropdown"
          >
            <el-dropdown-item v-for="item in titleOptions" :key="item.value" :command="item.value">
              {{
                item.label
              }}
            </el-dropdown-item>
          </el-dropdown-menu>
          <el-dropdown-menu v-if="data.field === 'Filing Date' || data.field === 'Publication Date' || data.field === 'Registration Date' || data.field === 'Expired Date' || data.field === 'Priority Date'"
                            slot="dropdown"
          >
            <el-dropdown-item v-for="item in dateOptions" :key="item.value" :command="item.value">
              {{
                item.label
              }}
            </el-dropdown-item>
          </el-dropdown-menu>
          <el-dropdown-menu v-if="data.field === 'Status'" slot="dropdown">
            <el-dropdown-item v-for="item in statusOptions" :key="item.value" :command="item.value">
              {{
                item.label
              }}
            </el-dropdown-item>
          </el-dropdown-menu>
          <el-dropdown-menu v-if="data.field === 'IPC'" slot="dropdown">
            <el-dropdown-item v-for="item in classOptions" :key="item.value" :command="item.value">
              {{
                item.label
              }}
            </el-dropdown-item>
          </el-dropdown-menu>
        </div>
      </div>
    </el-dropdown>
  </div>
</template>

<script>

export default {
 props: {
  data: Object,
  id: Number
 },
 data() {
  return {
   classOptions: [
    { label: 'B22D 41/12', value: 'B22D 41/12' },
    { label: 'B22D 41/12, F27D 3/06', value: 'B22D 41/12, F27D 3/06' }
   ],
   statusOptions: [
    { label: 'Terdaftar', value: 'Terdaftar' },
    { label: 'Diproses', value: 'Diproses' },
    { label: 'Terdaftar, Diproses', value: 'Terdaftar, Diproses' }
   ],
   dateOptions: [
    { label: '14-03-2017, *', value: '14-03-2017, *' },
    { label: '*, 14-03-2017', value: '*, 14-03-2017' },
    { label: '14-03-2015, 14-03-2016', value: '14-03-2015, 14-03-2016' }
   ],
   titleOptions: [
    { label: "Alat Pemindai", value: 'Alat Pemindai' },
    { label: 'Ladle', value: 'Ladle' },
    { label: 'Kendaraan', value: 'Kendaraan' }
   ],
   fieldOptions: [
    {
     label: 'Title',
     value: 'Title'
    },
    {
     label: 'Abstract',
     value: 'Abstract'
    },
    {
     label: 'Claim',
     value: 'Claim'
    },
    {
     label: 'Description',
     value: 'Description'
    },
    {
     label: 'Applicant Name',
     value: 'Applicant Name'
    },
    {
     label: 'Registration Date',
     value: 'Registration Date'
    },
    {
     label: 'Filing Date',
     value: 'Filing Date'
    },
    {
     label: 'Expired Date',
     value: 'Expired Date'
    },
    {
     label: 'Publication Date',
     value: 'Publication Date'
    },
    {
     label: 'Priority Date',
     value: 'Priority Date'
    },
    {
     label: 'Status',
     value: 'Status'
    },
    {
     label: 'IPC',
     value: 'IPC'
    }
   ]
  }
 },
 methods: {
  handleCommand(command) {
   this.data.value = command
  }
 }
}
</script>

<style scoped>
.combined-container {
 display: grid;
 grid-template-rows: 80px;
 grid-template-columns: 250px 250px 300px 50px;
 justify-content: center;
 justify-items: start;
}

.operator-input {
 grid-column-start: 1;
 grid-column-end: auto;
 grid-row-start: auto;
 grid-row-end: auto;
}

.field-input {
 grid-column-start: 2;
 grid-column-end: auto;
 grid-row-start: auto;
 grid-row-end: auto;
}

.value-input {
 grid-column-start: 3;
 grid-column-end: auto;
 grid-row-start: auto;
 grid-row-end: auto;
}

.query-example {
 grid-column-start: 4;
 grid-column-end: auto;
 grid-row-start: auto;
 grid-row-end: auto;
 width: 50px;
 height: 80px;
 background-color: #5A8DEE;
 border: 1px solid #DFE3E7;
 color: white;
 text-align: center;
}

.blue-primary {
 background-color: #5A8DEE;
 border-color: #5A8DEE;
 color: white;
}

.form-floating {
 position: relative
}

.form-floating>.form-control,
.form-floating>.form-select {
 height: 80px;
 line-height: 1.25;
 width: 250px;
}

.form-floating>label {
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 padding: 1rem .75rem;
 pointer-events: none;
 border: 1px solid transparent;
 transform-origin: 0 0;
 transition: opacity .1s ease-in-out, transform .1s ease-in-out
}

.form-control {
 border-radius: 0px !important;
}

.form-select {
 border-radius: 0px;
}

@media (prefers-reduced-motion:reduce) {
 .form-floating>label {
  transition: none
 }
}

.form-floating>.form-control {
 padding: 1rem .75rem
}

.form-floating>.form-control::-moz-placeholder {
 color: transparent
}

.form-floating>.form-control::placeholder {
 color: transparent
}

.form-floating>.form-control:not(:-moz-placeholder-shown) {
 padding-top: 1.625rem;
 padding-bottom: .625rem
}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
 padding-top: 1.625rem;
 padding-bottom: .625rem
}

.form-floating>.form-control:-webkit-autofill {
 padding-top: 1.625rem;
 padding-bottom: .625rem
}

.form-floating>.form-select {
 padding-top: 1.625rem;
 padding-bottom: .625rem
}

.form-floating>.form-control:not(:-moz-placeholder-shown)~label {
 opacity: .65;
 transform: scale(.85) translateY(-.5rem) translateX(.15rem)
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
 opacity: .65;
 transform: scale(.85) translateY(-.5rem) translateX(.15rem)
}

.form-floating>.form-control:-webkit-autofill~label {
 opacity: .65;
 transform: scale(.85) translateY(-.5rem) translateX(.15rem)
}
</style>
