<template>
  <div class="search-screen">
    <form @submit.prevent="onSubmit">
      <input name="photo" type="file">
      <input name="submit" type="submit">
    </form>
    <button @click="afterSearch" @dblclick="dblClick">
      Search
    </button>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
  methods: {
    afterSearch() {
      // this.$emit('afterSearch')
      console.log('click')
    },
    dblClick() {
      console.log('dblClick')
    },
    onSubmit(data) {
      console.log('formData', data)
      console.log('upload')
      this.$emit('afterSearch')
    }
  }
}
</script>

<style>
  .search-screen {
    height: 100vh;
    width: 100%;
    background-color: white;
  }
</style>
