<template>
  <div class="main-container">
    <image-uploader class="imageUploader" @changed="handleImages" />
    <div class="btn-container">
      <el-input
        v-model="url"
        placeholder="URL"
        type="url"
        :style="{ maxWidth: '35%', minWidth:'35%' }"
        clearable
      />
      <el-button
        type="primary"
        :disabled="Object.keys(uploadFile).length > 0 && url.length > 0 ? false : true"
        @click="uploadImage"
      >
        Upload
      </el-button>
    </div>
  </div>
</template>

<script>
import ImageUploader from '../../components/imageUploader.vue'
import { Loading } from 'element-ui'
import axios from 'axios'

export default {
  components: {
    ImageUploader
  },
  data() {
    return {
      uploadLoading: {},
      uploadFile: {},
      url: ''
    }
  },
  methods: {
    async handleImages(files) {
      try {
        console.log('attemp upload external', files)
        if (files.length < 0) {
          this.image = {}
        } else {
          const fd = new FormData()
          fd.append('upload_images', files[0])
          this.uploadLoading = Loading.service({
            target: '.imageUploader',
            body: true,
            lock: true
          })
          const { data } = await axios({
            method: 'POST',
            url: 'http://10.2.7.47:3003/ai/desain_industri/upload_img',
            // url: 'http://localhost:3003/ai/desain_industri/upload_img',
            data: fd,
            headers: { 'Content-Type': 'multipart/form-data' },
            onUploadProgress: uploadEvent => {
              console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100) + '%')
            }
          })
          console.log('data', data.file)
          this.uploadFile = data.file
          this.uploadLoading.close()
        }
      } catch (err) {
        console.log('err', err)
        this.uploadLoading.close()
      }
      this.$message({
        message: 'Success',
        type: 'success'
      })
    },
    async uploadImage() {
      try {
        console.log('filename', this.uploadFile.filename)
        console.log('url', this.url)
        console.log('url endcoded base64', window.btoa(this.url))
        console.log(window.atob('aHR0cHM6Ly9kYWZ0YXJtZXJla2RhZ2FuZy5jb20vd3AtY29udGVudC91cGxvYWRzLzIwMTYvMTEvUGVuZ2VydGlhbi1IYWstRGVzYWluLUluZHVzdHJpLmpwZw'))
        // https://daftarmerekdagang.com/wp-content/uploads/2016/11/Pengertian-Hak-Desain-Industri.jpg

        this.uploadLoading = Loading.service({
          fullscreen: true,
          lock: true
        })

        const { data } = await axios({
          method: 'GET',
          url: `http://10.20.14.11:5001/indexingExternal/${this.uploadFile.filename}/${window.btoa(this.url)}`
        })

        this.uploadLoading.close()
        console.log('response', data)
      } catch (err) {
        this.uploadLoading.close()
        console.log(err)
      }
      this.$message({
        message: 'Success',
        type: 'success'
      })
    }
  }
}
</script>

<style scoped>
  .main-container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 15px 0px;
  }
</style>
