<template>
  <div class="result-card-container" :style="{ minHeight: resultData.length > 0? '100vh' : 'none' }">
    <!-- <detail-result-card-merek :uraian="uraian" :data="detail" v-if="isDetailVisible" @closeDetailCard="closeDetailCard" @addBandingItem="addBandingItem"/> -->
    <div v-if="data.length > 0" ref="cardContainer" class="card-container">
      <detail-result-card-inline-merek
        v-if="isDetailVisible"
        id="detailCard"
        class="grid-item"
        :style="{ gridRowStart, gridRowEnd: `span 1` }"
        :data="detail"
        :uraian="uraian"
        @closeDetailCard="closeDetailCard"
        @addBandingItem="addBandingItem"
        @showEnhanceForm="showEnhanceForm"
      />
      <result-card-merek v-for="(d, idx) in data" :key="d.ID" :searched-by="searchedBy" :data="d" :index="idx" @clicked="setDetailData" />
    </div>
    <div v-if="dataTemp.length > resultsToShow || data.length > resultsToShow">
      <div class="d-flex justify-content-center mb-5">
        <el-button type="info" style="background-color: white; color: grey; border-color: grey;" @click="loadMore">
          See More
        </el-button>
      </div>
    </div>
    <el-dialog title="Enhance Model" :visible.sync="enhanceForm">
      <el-dialog
        title="Edit Image"
        :visible.sync="innerVisible"
        append-to-body
      >
        <image-cropper :src="croppedImage" @setCroppedImage="setCroppedImage" @closeEdit="closeEdit" />
      </el-dialog>
      <div class="d-flex justify-content-center" style="height: 7vw; width; 8vw; margin-top: 20px; margin-bottom: 20px;">
        <img :src="croppedImage" alt="">
      </div>
      <br>
      <div style="margin-bottom: 20px" class="d-flex justify-content-center">
        <el-button type="success" size="mini" @click="innerVisible = true">
          Edit
        </el-button>
      </div>
      <div class="d-flex justify-content-center">
        <span style="padding-top: 10px;">Nomor Permohonan:</span>
        <el-input v-model="noPermohonan" type="text" style="width: 150px; margin-left: 8px;" :disabled="true" />
        <el-button style="margin-left: 8px;" type="primary" @click="submitEnhance">
          Submit
        </el-button>
      </div>
      <!-- <div class="d-flex justify-content-center">
        <el-button type="primary">Submit</el-button>
      </div> -->
    </el-dialog>
    <banding-tab-merek v-if="banding.length > 0" :data="banding" @showDetailBanding="setDetailBanding" @clearBanding="clearBanding" />
  </div>
</template>

<script>
// import axios from 'axios'
import BandingTabMerek from '../../components/bandingTabMerek.vue'
import DetailResultCardInlineMerek from '../../components/detailResultCardInlineMerek.vue'
// import DetailResultCardMerek from '../../components/detailResultCardMerek.vue'
import ResultCardMerek from '../../components/resultCardMerek.vue'
import ImageCropper from '../../components/imageCropper.vue'
import api from '../merek/api'
export default {
  components: {
    // BandingTab,
    // SearchPage,
    // ResultCard,
    // DetailResultCard,
    ResultCardMerek,
    // DetailResultCardMerek,
    DetailResultCardInlineMerek,
    BandingTabMerek,
    ImageCropper
  },
  props: {
    resultData: Array,
    uraian: String,
    searchedBy: Object
  },
  data() {
    return {
      data: [],
      dataTemp: [],
      detail: {},
      banding: [],
      isDetailVisible: false,
      gridRowStart: null,
      gridRowEnd: null,
      resultsToShow: 0,
      enhanceForm: false,
      noPermohonan: '',
      innerVisible: false,
      imageSource: '',
      croppedImage: '',
      croppedImageData: {}
    }
  },
  watch: {
    resultData(data) {
      this.resultsToShow = 24
      this.dataTemp = JSON.parse(JSON.stringify(data))
      this.data = data.slice(0, this.resultsToShow)
      this.isDetailVisible = false
      this.detail = {}
      // this.getData(data)
    }
  },
  mounted() {
    this.setBandingMounted()
    // this.getDataDummy()
    // this.getData()
    // this.showData()
  },
  methods: {
    getData(data) {
      this.data = data
    },
    setDetailData(data) {
      console.log('data', data)
      this.gridRowStart = data.row + 1
      this.gridRowEnd = data.row + 4
      this.detail = data
      this.isDetailVisible = true
      setTimeout(() => {
        this.getResultCardEl(data.cardIndex, data.row)
      }, 200)
    },
    setDetailBanding(data) {
      this.isDetailVisible = true
      this.detail = {}
    },
    closeDetailCard() {
      this.isDetailVisible = false
      this.detail = {}
    },
    filterBandingData(data) {
      const result = this.banding.findIndex(d => d.APPLICATION_ID === data.APPLICATION_ID && d.FILENAMED === data.FILENAMED)
      if (result === -1) {
        return false
      } else {
        return true
      }
    },
    setBandingMounted() {
      const bandingSession = sessionStorage.getItem('MerekBandingSave')
      console.log('BandingSession', JSON.parse(bandingSession))
      if (bandingSession) {
        this.banding = JSON.parse(bandingSession)
      }
    },
    addBandingItem(data) {
      const duplicate = this.filterBandingData(data)
      if (!duplicate) {
        // console.log(data, 'ini data yg mau dimasukin')
        this.banding.push(data)
        const newBandingSave = [...this.banding]
        sessionStorage.setItem('MerekBandingSave', JSON.stringify(newBandingSave))
      } else {
        // console.log('banding duplicate')
      }
    },
    showData() {
      console.log(this.resultData.length > 0)
      console.log(this.resultData)
    },
    clearBanding() {
      this.banding = []
      sessionStorage.removeItem('MerekBandingSave')
    },
    getResultCardEl(index, row) {
      console.log()
      const cardEl = this.$refs.cardContainer.children[index + 1]
      const detailCard = this.$el.querySelector('#detailCard')
      const ofsetTop = cardEl.offsetTop - cardEl.scrollTop
      console.log('cardEl', cardEl)
      console.log('detailCard', detailCard)
      console.log('ofset top', ofsetTop)
      if (row === 1) {
        cardEl.scrollIntoView(true, { behavior: 'smooth' })
      } else {
        detailCard.scrollIntoView({ behavior: 'smooth' })
      }
      // cardEl.scrollIntoView({ behavior: 'auto', block: 'center', inline: 'center' })
    },
    loadMore() {
      this.resultsToShow += 24
      this.data = this.dataTemp.slice(0, this.resultsToShow)
    },
    showEnhanceForm(value) {
      this.noPermohonan = value.noPermohonan
      this.imageSource = value.imageSrc
      this.croppedImage = value.imageSrc
      this.enhanceForm = true
    },
    closeEdit() {
      this.innerVisible = false
    },
    setCroppedImage(value) {
      this.croppedImageData = value.file
      this.croppedImage = value.croppedImage
    },
    async submitEnhance() {
      try {
        const payload = {
          FileName: this.croppedImageData.filename,
          NomorPermohonan: this.noPermohonan
        }
        await api.postEnhanceForm(payload)
        this.$message({
          message: 'Success',
          type: 'success'
        })
      } catch (error) {
        console.log(error)
      } finally {
        this.enhanceForm = false
      }
    }
  }
}
</script>

<style scoped>
  .result-card-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow: auto;
  }

  .grid-item {
    grid-column-start: 1;
    grid-column-end: span 6;
    /* grid-row-start: 2; */
    /* grid-row-end: 5; */
  }

  .card-container {
    padding: 80px 0px;
    display: grid;
    grid-template-columns: repeat(6, minmax(177px, 13vw));
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 20px;
    justify-content: center;
    overflow: auto;
  }
</style>
