<template>
  <div id="app">
    <div style="width: 100%; height: 50px; background-color: #313e5e;display:none;">
      <ul id="menu">
        <li><a @click="changeSearch('merek')">Merek</a></li>
        <li><a @click="changeSearch('paten')">Paten</a></li>
        <li><a @click="changeSearch('DI')">Desain Industri</a></li>
      </ul>
    </div>
    <!-- <desain-industri /> -->
    <router-view />
  <!-- <footer class="footer">
      Copyright &copy;Direktorat Jenderal Kekayaan Intelektual - Kementerian
      Hukum dan HAM R.I.
    </footer> -->
  </div>
</template>

<script>
// import DesainIndustri from './pages/desain-industri/desainIndustri.vue'

export default {
 components: {
  // DesainIndustri
 },
 methods: {
  changeSearch(searchType) {
   switch (searchType) {
    case "merek":
     if (this.$route.name !== "merek") {
      this.$router.push({ name: "new-merek" })
     }
     break
    case "paten":
     if (this.$route.name !== "Paten") {
      this.$router.push({ name: "new-paten" })
     }
     break
    case "DI":
     if (this.$route.name !== "desain-industri-search-result") {
      this.$router.push({ name: "new-di" })
     }
     break
    default:
     return ""
   }
  }
 }
}
</script>

<style>
@font-face {
 font-family: tipis;
 src: url("./assets/fonts/Geometria-Light.woff");
}

@font-face {
 font-family: sedang;
 src: url("./assets/fonts/Geometria-Medium.woff");
}

@font-face {
 font-family: tebal;
 src: url("./assets/fonts/Geometria-Bold.woff");
}

* {
 font-family: sedang !important;
}

html,
body {
 margin: 0;
}

.footer {
 display: flex;
 justify-content: center;
 position: fixed;
 bottom: 0;
 font-family: tipis !important;
 font-size: 10pt;
}

h3 {
 color: #313e5e !important;
}

#menu {
 padding-top: 15px;
}

#menu ul {
 list-style-type: none;
}

#menu li {
 color: #ffffff;
 display: inline;
}

#menu li a {
 color: #ffffff;
 text-decoration: none;
 font-family: tipis !important;
 margin-right: 15px;
 cursor: pointer;
}

#blue-primary {
 background-color: #313e5e !important;
}

#btn-reset {
 color: #000000 !important;
 background-color: #b0b0b0 !important;
}

#app {
 background-color: #ffffff !important;
 width: 100%;
 height: 100%;
 background-color: #ebebeb;
 /* font-family: Avenir, Helvetica, Arial, sans-serif; */
 -webkit-font-smoothing: antialiased;
 color: #2c3e50;
}

#nav a {
 font-weight: bold;
 color: #2c3e50;
}

#nav a.router-link-exact-active {
 color: #42b983;
}
</style>
