<template>
  <div>
    <div class="main-container">
      <div class="main-content">
        <!--<div class="card-body" style="padding-top: 80px; padding-right: 100px; padding-bottom: 80px; padding-left: 100px;">-->
        <div class="card-body pb-0">
          <!-- <el-button
            type="info"
            class="btn btn-sm btn-info"
            @click="changeSearch('desin')"
            >Pencarian Universal</el-button
          >
          <el-button
            type="info"
            class="btn btn-sm btn-info"
            @click="changeSearch('external')"
            >External</el-button
          > -->
          <!--<div class="float-right">
            <a
              style="display: block;"
              class="btn btn-warning round video"
              href="HAKi-manual.mp4"
              target="_blank"
              >Video</a
            >
          </div>
          <div class="float-right">
            <a
              style="display: block;"
              class="btn btn-warning round"
              href="manual_dgip.pdf"
              target="_blank"
              >E-book</a
            >
          </div>-->
        </div>
        <div class="">
          <div align="center" style="margin-bottom: 40px">
            <img
              src="/logo-web.png"
              style="max-width: 30%; max-height: 100%"
            >
            <h3>PENELUSURAN KI BERBASIS AI - DESAIN INDUSTRI</h3>
          </div>
          <!-- DRAG AND DROP -->
          <image-uploader
            :max="1"
            style="width: 400px; height: 150px; margin-bottom: 20px"
            @changed="handleImages"
          />
          <br>
          <!-- KOLOM PENCARIAN -->
          <div
            style="
              width: 80%;
              margin-left: auto;
              margin-right: auto;
              display: block;
            "
          >
            <div class="row">
              <div class="col-6">
                <div class="form-group mr-2">
                  <el-input
                    v-model="text"
                    type="text"
                    placeholder="Kata Pencarian"
                    clearable
                  />
                  <!-- <input v-model="text" type="text" class="form-control" placeholder="Kata Pencarian"> -->
                </div>
                <!-- <div class="form-group mr-2">
              <el-select
                v-model="logic"
              >
                <el-option value="and">and</el-option>
                <el-option value="or">or</el-option>
              </el-select>
            </div> -->
                <div class="form-group mr-2">
                  <el-select
                    v-model="selectedKelas"
                    multiple
                    collapse-tags
                    style="width: 100%"
                  >
                    <el-option
                      v-for="(data, i) in designClassData"
                      :key="i"
                      :value="data.NO_KELAS"
                      class="select-primary"
                    >
                      {{ data.NO_KELAS }}
                    </el-option>
                  </el-select>
                </div>
                <div class="form-group mr-2">
                  <el-select
                    v-model="detailImgFilter"
                    style="width: 100%"
                    placeholder="Select Perspektif"
                    clearable
                  >
                    <el-option
                      v-for="(data, i) in detailImgData"
                      :key="i"
                      :value="data"
                    >
                      {{ data }}
                    </el-option>
                  </el-select>
                </div>
                <div class="form-group mr-2">
                  <el-select v-model="scoreFitler" style="width: 100%">
                    <el-option
                      v-for="(data, i) in scoreData"
                      :key="i"
                      :value="data"
                    >
                      {{ `${data} %` }}
                    </el-option>
                  </el-select>
                </div>
              </div>
              <div class="col-6">
                <div class="row form-group mr-2">
                  <div class="col">
                    Tgl Permohonan:
                  </div>
                  <div class="col">
                    <el-date-picker
                      v-model="tglPermohonanStartDate"
                      type="date"
                      placeholder="Start Date"
                      class="date-picker"
                      clearable
                    />
                  </div>
                  <div class="col">
                    <el-date-picker
                      v-model="tglPermohonanEndDate"
                      type="date"
                      placeholder="End Date"
                      class="date-picker"
                      clearable
                    />
                  </div>
                </div>
                <div class="row form-group mr-2">
                  <div class="col">
                    Tgl Terdaftar:
                  </div>
                  <div class="col">
                    <el-date-picker
                      v-model="tglTerdaftarStartDate"
                      type="date"
                      placeholder="Start Date"
                      class="date-picker"
                      clearable
                    />
                  </div>
                  <div class="col">
                    <el-date-picker
                      v-model="tglTerdaftarEndDate"
                      type="date"
                      placeholder="End Date"
                      class="date-picker"
                      clearable
                    />
                  </div>
                </div>
                <div class="row mr-2" style="margin-bottom: 10px">
                  <div class="col-4">
                    Status:
                  </div>
                  <div class="col">
                    <div class="form-check form-check-inline">
                      <input
                        id="inlineCheckbox1"
                        v-model="checkedStatus"
                        class="form-check-input"
                        type="checkbox"
                        value="1"
                      >
                      <label class="form-check-label" for="inlineCheckbox1">Terdaftar</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        id="inlineCheckbox2"
                        v-model="checkedStatus"
                        class="form-check-input"
                        type="checkbox"
                        value="2"
                      >
                      <label class="form-check-label" for="inlineCheckbox2">Dalam Proses</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        id="inlineCheckbox2"
                        v-model="checkedStatus"
                        class="form-check-input"
                        type="checkbox"
                        value="3"
                      >
                      <label class="form-check-label" for="inlineCheckbox2">Pengumuman</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-check form-check-inline">
                      <input
                        id="inlineCheckbox2"
                        v-model="checkedStatus"
                        class="form-check-input"
                        type="checkbox"
                        value="4"
                      >
                      <label class="form-check-label" for="inlineCheckbox2">Ditolak</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        id="inlineCheckbox2"
                        v-model="checkedStatus"
                        class="form-check-input"
                        type="checkbox"
                        value="5"
                      >
                      <label class="form-check-label" for="inlineCheckbox2">Ditarik Kembali</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4" />
                  <div class="col">
                    <el-button
                      style="background-color: #ced4da; float: right"
                      @click="clearSearch"
                    >
                      Reset
                    </el-button>
                  </div>
                  <div class="col">
                    <el-button
                      id="btnsrch"
                      icon="el-icon-search"
                      class="btn btn-primary round"
                      style="background-color: #313e5e"
                      @click="getDataDI"
                    >
                      Cari
                    </el-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="d-flex justify-content-center"></div> -->
          <!-- <div class="d-flex justify-content-center mx-2 my-2"></div> -->

          <!-- <div class="d-flex justify-content-center" :style="{ gap: '15px' }"> -->
          <!--<div class="mr-2">
              <span class="mr-2">Tgl Expired: </span>
              <div class="date-container">
                <el-date-picker
                  v-model="tglExpiredStartDate"
                  type="date"
                  placeholder="Start Date"
                  class="date-picker"
                  clearable
                >
                </el-date-picker>
                <div>sampai</div>
                <el-date-picker
                  v-model="tglExpiredEndDate"
                  type="date"
                  placeholder="End Date"
                  class="date-picker"
                  clearable
                >
                </el-date-picker>
              </div>
            </div>-->
          <!-- </div> -->
        </div>
      </div>
    </div>
    <index :result-data="searchResult" :show-result="showResult" />
  </div>
</template>

<script>
import api from "./api"
import ImageUploader from "../../components/imageUploader.vue"
import Index from "../search-result-DI/index.vue"
import { Loading } from "element-ui"

export default {
  components: {
    ImageUploader,
    Index
  },
  data() {
    return {
      loadingData: {},
      showResult: false,
      image: {},
      noPermohonan: "",
      text: "",
      logic: "and",
      tglPermohonanStartDate: null,
      tglPermohonanEndDate: null,
      tglTerdaftarStartDate: null,
      tglTerdaftarEndDate: null,
      tglExpiredStartDate: null,
      tglExpiredEndDate: null,
      checkedStatus: [],
      designClassData: [],
      selectedKelas: ["semua"],
      dataSearchedByText: [],
      isSearchByImage: false,
      searchResult: [],
      detailImgData: [
        "Tampak Perspektif",
        "Tampak Atas",
        "Tampak Bawah",
        "Tampak Depan",
        "Tampak Belakang",
        "Tampak Kiri",
        "Tampak Kanan"
      ],
      detailImgFilter: "",
      scoreData: [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50],
      scoreFitler: 75
    }
  },
  computed: {
    payloadForSearch() {
      return {
        // fileName: "image-1634897124610.png" ,
        fileName: this.image.filename,
        noPermohonan: this.noPermohonan,
        option: "des_in",
        text: this.text,
        kelas: this.selectedKelas,
        status: this.checkedStatus,
        tglPermohonan: this.tglPermohonan,
        tglTerdaftar: this.tglTerdaftar,
        tglExpired: this.tglExpired,
        logic: "or",
        toleransi: this.scoreFitler
      }
    }
  },
  watch: {
    // tglPermohonan (data) {
    //   console.log(data)
    //   const newDate = []
    //   for (let i = 0; i < data.length; i++) {
    //     const changeDate = data[i].toLocaleDateString('id-ID').split('/')
    //     newDate.push(`${changeDate[0]}-${changeDate[1]}-${changeDate[2]}`)
    //   }
    //   console.log(newDate)
    //   this.permohonan = newDate
    // }
  },
  mounted() {
    this.getClass()
    // this.testMixSearchApi()
  },
  methods: {
    changeSearch(searchType) {
      switch (searchType) {
        case "merek":
          if (this.$route.name !== "merek-search-result") {
            this.$router.push({ name: "merek-search-result" })
          }
          break
        case "paten":
          if (this.$route.name !== "Paten") {
            this.$router.push({ name: "Paten" })
          }
          break
        case "DI":
          if (this.$route.name !== "desain-industri-search-result") {
            this.$router.push({ name: "desain-industri-search-result" })
          }
          break
        case "desin":
          window.location = "https://www3.wipo.int/designdb/en/"
          break
        case "external":
          if (this.$route.name !== "uploadExternal") {
            this.$router.push({ name: "uploadExternal" })
          }
          break
        default:
          return ""
      }
    },
    filterByPerspektif(data) {
      switch (this.detailImgFilter) {
        case "Tampak Perspektif":
          return data.filter(d => d.FILE_IMAGE.includes("TampakPerspektif"))
        case "Tampak Atas":
          return data.filter(d => d.FILE_IMAGE.includes("TampakAtas"))
        case "Tampak Bawah":
          return data.filter(d => d.FILE_IMAGE.includes("TampakBawah"))
        case "Tampak Depan":
          return data.filter(d => d.FILE_IMAGE.includes("TampakDepan"))
        case "Tampak Belakang":
          return data.filter(d => d.FILE_IMAGE.includes("TampakBelakang"))
        case "Tampak Kiri":
          return data.filter(d => d.FILE_IMAGE.includes("TampakKiri"))
        case "Tampak Kanan":
          return data.filter(d => d.FILE_IMAGE.includes("TampakKanan"))
        default:
          return data
      }
    },
    async getDataDI() {
      console.log('test')
      try {
        // if (this.text.length > 0) {
        //   const data = await this.getDataByTextDI()
        //   console.log('phonetic result', data)
        //   this.searchResult = data
        // } else if (Object.keys(this.image).length > 0) {
        //   const data = await this.getDataByImageDI()
        //   this.searchResult = data.hits.hits
        // }
        this.loadingData = Loading.service({
          fullscreen: true,
          lock: true
        })
        const payload = {
          fileName: this.image.filename,
          noPermohonan: this.noPermohonan,
          option: "des_in",
          text: this.text,
          kelas: this.selectedKelas,
          status: this.checkedStatus,
          tglPermohonan:
            this.tglPermohonanStartDate || this.tglPermohonanEndDate
              ? this.changeDateFormat([
                this.tglPermohonanStartDate,
                this.tglPermohonanEndDate
              ])
              : [this.tglPermohonanStartDate, this.tglPermohonanEndDate],
          tglTerdaftar:
            this.tglTerdaftarStartDate || this.tglTerdaftarEndDate
              ? this.changeDateFormat([
                this.tglTerdaftarStartDate,
                this.tglTerdaftarEndDate
              ])
              : [this.tglTerdaftarStartDate, this.tglTerdaftarEndDate],
          tglExpired:
            this.tglExpiredStartDate || this.tglExpiredEndDate
              ? this.changeDateFormat([
                this.tglExpiredStartDate,
                this.tglExpiredEndDate
              ])
              : [this.tglExpiredStartDate, this.tglExpiredEndDate],
          logic: "or",
          toleransi: this.scoreFitler
        }
        console.log("payload search", payload)
        // this.tglPermohonan = this.changeDateFormat(this.tglPermohonan)
        // this.tglTerdaftar = this.changeDateFormat(this.tglTerdaftar)
        // this.tglExpired = this.changeDateFormat(this.tglExpired)
        const data = await api.search(payload)
        console.log("phonetic result", data)
        const newData = this.filterByPerspektif(data)
        console.log("filter by perspektif", newData)
        this.searchResult = []
        this.searchResult = newData
        this.showResult = true

        const resultTab = this.$el.querySelector(".result-card-container")
        setTimeout(() => {
          this.loadingData.close()
          resultTab.scrollIntoView({ behavior: "smooth" })
        }, 500)

        // if (this.searchResult.length > 0) {
        //   // this.$emit('afterSearch', this.searchResult)
        // }
      } catch (error) {
        this.loadingData.close()
        console.log("error", error)
      }
    },
    async getDataByTextDI() {
      try {
        const data = await api.getDataByText(this.selectedKelas[0], this.text)
        console.log("data", data)
        const newData = []
        for (let i = 0; i < data.length; i++) {
          const _source = {
            no_permohonan: data[i].NOMOR_PERMOHONAN,
            kelas: data[i].KELAS_ID,
            filename: `${data[i].NOMOR_PERMOHONAN}_${data[i].ID}_TampakAtas.jpg`,
            judul_invensi: data[i].JUDUL_INVENSI
          }
          newData.push({ _score: data[i].SCORE / 100, _source })
        }
        console.log("newData", newData)
        return newData
        // this.dataSearchedByText = data
      } catch (err) {
        console.log(err)
      }
    },
    async getDataByImageDI() {
      try {
        const { data } = await api.getDataByImageDI(this.image.filename)
        console.log("data by image", data)
        return data
      } catch (err) {
        console.log(err)
      }
    },
    changeDateFormat(data) {
      console.log("changeDateFormat", data)
      const newDate = []
      if (data.length !== 0) {
        for (let i = 0; i < data.length; i++) {
          if (data[i] !== null) {
            const changeDate = data[i].toLocaleDateString("id-ID").split("/")
            newDate.push(`${changeDate[0]}-${changeDate[1]}-${changeDate[2]}`)
          } else {
            newDate.push(null)
          }
        }
      }
      console.log(newDate)
      return newDate
    },
    async handleImages(files) {
      try {
        if (files.length < 1) {
          this.image = {}
        } else {
          console.log("files", files)
          console.log(files[0].name)
          const fd = new FormData()
          fd.append("upload_images", files[0])
          // console.log(...fd)
          const { data } = await api.uploadDIImage(fd)
          console.log("data", data.file)
          this.image = data.file
        }
      } catch (err) {
        console.log("err", err)
      }
    },
    async getClass() {
      try {
        const data = await api.getDesignClass()
        data.unshift({ NO_KELAS: "semua" })
        this.designClassData = data
      } catch (error) {
        console.log(error)
      }
    },
    handleCheckedStatusChange(value) {
      this.checkedStatus = value
    },
    goToPaten() {
      this.$router.push("/paten")
    }
  }
}
</script>

<style scoped>
.main-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 15px auto;
  border: none;
  align-self: center;
  box-shadow: none;
  justify-content: center;
}

#btnsrch {
  /* height: 10%; */
}

.merek-btn {
  background-color: #fd9b1b;
  color: white;
}

.paten-btn {
  background-color: #4682b4;
  color: white;
}

.di-btn {
  background-color: #313e5d;
  color: white;
}

.date-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

a.btn.btn-warning.round.video {
  background-color: #313e5d;
  border-color: #313e5d;
  margin-left: 5px;
}

a.btn.btn-warning.round.paten {
  background-color: steelblue;
  border-color: steelblue;
  margin-left: 5px;
}

a.btn.btn-primary.round.desain {
  margin-left: 5px;
}

/* .el-date-editor--daterange.el-input__inner {
  width: 220px;
} */

.date-picker {
  width: 150px !important;
}
</style>
